'{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'banner3' %}
{% set name = "Banner 3 Module" %}
{% set paddingHorizontal = 0 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 0 %} {# top padding #}
{% set paddingBottom = 0 %} {# bottom padding #}
{% set class = 'no-horizontal-pad' %}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td width="600" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;word-break: break-word;-webkit-hyphens: none;-moz-hyphens: none;hyphens: none;border-collapse: collapse;background-color:${Banner-BG-color3};background-image: url('${Banner-BG-image3}');background-size: cover;background-position: center;background-repeat: no-repeat; width: 600px;" background="${Banner-BG-image3}" bgcolor="${Banner-BG-color3}" valign="top">
        <!--[if gte mso 9]>
          <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px; height:360px;" height="360" width="600">
          <v:fill type="frame" src="${Banner-BG-image3}" color="${Banner-BG-color3}" />
          <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
        <![endif]-->
          <table width="600" class="deviceWidth" style="border-collapse: collapse; margin: 0 auto; text-align: center; border-collapse: collapse; width:600px;" align="center" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td>Content</td>
            </tr>
          </table>

        <!--[if gte mso 9]>
          </v:textbox>
          </v:rect>
        <![endif]-->
      </td>
    </tr>
  </table>
{% endblock %}



<!--Banner3 Starts-->

                    <table width="600" class="deviceWidth mktoModule" id="banner-3" mktoname="Banner 3" style="border-collapse: collapse; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-spacing: 0; border-collapse: collapse; margin:0 auto;" align="center" border="0" cellpadding="0" cellspacing="0">

                        <tbody>

                            <tr>
                                <td width="100%" style="-webkit-text-size-adjust: 100%;-ms-text-size-adjust: 100%;mso-table-lspace: 0pt;mso-table-rspace: 0pt;word-break: break-word;-webkit-hyphens: none;-moz-hyphens: none;hyphens: none;border-collapse: collapse;background-color:${Banner-BG-color3};background-image: url('${Banner-BG-image3}');background-size: cover;background-position: center;background-repeat: no-repeat;" background="${Banner-BG-image3}" bgcolor="${Banner-BG-color3}" valign="top">
                                    <!--[if gte mso 9]>
                                      <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px; height:360px;" height="360" width="600">
                                      <v:fill type="frame" src="${Banner-BG-image3}" color="${Banner-BG-color3}" />
                                      <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
                                    <![endif]-->

                                    <table width="600" class="deviceWidth" style="border-collapse: collapse; margin: 0 auto; text-align: center; border-collapse: collapse; width:600;" align="center" border="0" cellpadding="0" cellspacing="0">

                                        <tbody>

                                            <tr>
                                                <td>
                                                    <div id="banner3-text" class="mktoText" mktoname="Banner3 Text">

                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; ">

                                                            <!-- Extra space -->

                                                            <tbody>

                                                                <tr>
                                                                    <td class="phne_height" style="line-height: 1px; font-size: 1px;" height="100">&nbsp;</td>

                                                                </tr>

                                                                <tr>
                                                                    <td style="padding-top: 72px; vertical-align:top;font-family: arial,helvetica,sans-serif;font-size:36px; color:#ffffff; mso-line-height-rule: exactly; line-height: 40px; text-align: center;" valign="top"> Join SAP Fieldglass at
                                                                        <br> CWS Summit Europe! </td>

                                                                </tr>

                                                                <!-- Extra space -->

                                                                <tr>
                                                                    <td style="line-height: 1px; font-size: 1px;" height="16">&nbsp;</td>

                                                                </tr>

                                                            </tbody>

                                                        </table>

                                                    </div>
                                                </td>

                                            </tr>

                                            <!--CTA button starts-->

                                            <tr>
                                                <td valign="top">
                                                    <div id="banner3-CTA" class="mktoText" mktoname="Button CTA">
                                                        <!-- START CENTERED BUTTON -->
                                                        <center>

                                                            <table width="100%" style="border-collapse: collapse; ">

                                                                <tbody>

                                                                    <tr>
                                                                        <td>

                                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; ">

                                                                                <tbody>

                                                                                    <tr>
                                                                                        <td height="20" width="100%" style="font-size: 20px; line-height: 20px;">&nbsp; </td>

                                                                                    </tr>

                                                                                </tbody>

                                                                            </table>

                                                                            <table border="0" align="center" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin:0 auto;">

                                                                                <tbody>

                                                                                    <tr>
                                                                                        <td align="center">

                                                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; margin:0 auto;">

                                                                                                <tbody>

                                                                                                    <tr>
                                                                                                        <td class="button-pad" align="center" bgcolor="${button-ctabg3}" width="200" height="37" style="border: 1px solid ${buttonBorderColor3};"> <a href="${buttonLink3}" class="button_link" style="color: rgb(0, 143, 211); text-decoration: none; padding: 10px;width:200px;display: block;text-decoration: none;border:0;text-align: center;font-weight: normal;font-size: 15px;font-family: sans-serif;color: ${buttonTextColor3};background: ${button-ctabg3};line-height:17px;"> ${buttonText3} </a> </td>

                                                                                                    </tr>

                                                                                                </tbody>

                                                                                            </table>
                                                                                        </td>

                                                                                    </tr>

                                                                                </tbody>

                                                                            </table>

                                                                            <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse; ">

                                                                                <tbody>

                                                                                    <tr>
                                                                                        <td height="20" width="100%" style="font-size: 20px; line-height: 20px;">&nbsp; </td>

                                                                                    </tr>

                                                                                </tbody>

                                                                            </table>
                                                                        </td>

                                                                    </tr>

                                                                </tbody>

                                                            </table>

                                                        </center>
                                                        <!-- END CENTERED BUTTON -->
                                                    </div>
                                                </td>

                                            </tr>

                                            <!--CTA button ends-->

                                        </tbody>

                                    </table>

                                    <!--[if gte mso 9]>
                </v:textbox>
                </v:rect>
              <![endif]-->
                                </td>

                            </tr>

                        </tbody>

                    </table>