{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'banner1' %}
{% set name = "Banner 1 Module" %}
{% set paddingHorizontal = 0 %} 

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 0 %} {# top padding #}
{% set paddingBottom = 0 %} {# bottom padding #}
{% set class = 'no-horizontal-pad' %}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td background="${Banner-BG-image1}" bgcolor="${Banner-BG-color1}" width="600" valign="top" style="width: 600px;" class="d-block width100 hero">
        <!--[if gte mso 9]>
        <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:600px;">
          <v:fill type="frame" src="${Banner-BG-image1}" color="${Banner-BG-color1}" />
          <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
        <![endif]-->

          <table border="0" cellpadding="0" cellspacing="0" width="400" align="center" class="width100" style="width: 400px;">
       
            <tr>
              <td>
                {{ macro.spacer(height=50) }}
              </td>
            </tr>

            <tr>
              <td style="vertical-align:top;font-family: arial,helvetica,sans-serif;font-size:36px; color:#ffffff; mso-line-height-rule: exactly; line-height: 40px; text-align: center;" valign="top" class="pad-mobile">
                <div class="mktoText" id="banner1Title" mktoName="Title">
                  Join SAP Fieldglass at CWS Summit Europe!
                </div>              
              </td>
            </tr>
            <tr>
              <td>
                {{ macro.spacer(height=10) }}
              </td>
            </tr>
            <tr>
              <td style="vertical-align:top;font-family: arial,helvetica,sans-serif;font-size:14px; color:#ffffff; mso-line-height-rule: exactly; line-height: 20px; text-align: center;" valign="top">
                <div class="mktoText" id="banner1Text" mktoName="Text">
                  This year’s conference will take place on 26th – 27th April in Berlin, and we would like to extend a complimentary guest pass to you!
                </div>
              </td>
            </tr>
            <tr>
              <td>
                {{ macro.spacer(height=32) }}
              </td>
            </tr>
            <tr>
              <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                  <tr>
                    <td class="button-pad" align="center" bgcolor="${button-ctabg1}" width="150" height="40" style="border: 1px solid ${buttonBorderColor1}; width: 150px;">
                      <a href="${buttonLink1}" style="padding: 10px;width:150px;display: block;text-decoration: none;border:0;text-align: center;font-weight: normal;font-size: 15px;font-family: sans-serif;color: ${buttonTextColor1}; background: ${button-ctabg1};line-height:20px;" class="button_link">
                        ${buttonText1}
                      </a>
                    </td>
                  </tr> 
                </table>
              </td>
            </tr>
            <tr>
              <td align="middle">
                {{ macro.spacer(height=50) }}
              </td>
            </tr>
          </table>
        <!--[if gte mso 9]>
          </v:textbox>
        </v:rect>
        <![endif]-->
      </td>
    </tr>
  </table>
{% endblock %}