{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'banner2' %}
{% set name = "Banner 2 Module" %}
{% set paddingHorizontal = 0 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 0 %} {# top padding #}
{% set paddingBottom = 0 %} {# bottom padding #}
{% set class = 'no-horizontal-pad' %}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td bgcolor="${BannerBGColor2}" width="600" valign="top" style="width: 600px; background-color: ${BannerBGColor2}" class="hero">

          <table border="0" cellpadding="0" cellspacing="0" width="400" align="center" class="width100" style="width: 400px;">

            <tr>
              <td>
                {{ macro.spacer(height=50) }}
              </td>
            </tr>

            <tr>
              <td align="center">
                <div class="mktoImg" id="banner2Image" mktoName="Image" mktoLockImgSize="false">
                  <img src="https://my.ariba.com/rs/407-PHQ-501/images/orangeFolder.png" alt="Partner Logo" width="90" height="63" style="margin: 0; display: block; height: auto;" class="banner2-image">
                </div>
              </td>
            </tr>
       
            <tr>
              <td>
                {{ macro.spacer(height=35) }}
              </td>
            </tr>

            <tr>
              <td style="vertical-align:top;font-family: arial,helvetica,sans-serif;font-size:36px; color:#ffffff; mso-line-height-rule: exactly; line-height: 40px; text-align: center;" valign="top" class="pad-mobile">
                <div class="mktoText" id="banner2Title" mktoName="Title">
                  Join SAP Fieldglass at CWS Summit Europe!
                </div>              
              </td>
            </tr>

            <tr>
              <td>
                {{ macro.spacer(height=50) }}
              </td>
            </tr>
            <tr>
              <td align="center"> 
                <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                  <tr>
                    <td class="button-pad" align="center" bgcolor="${button-ctabg2}" width="150" height="40" style="border: 1px solid ${buttonBorderColor2}; width: 150px;">
                      <a href="${buttonLink2}" style="padding: 10px;width:150px;display: block;text-decoration: none;border:0;text-align: center;font-weight: normal;font-size: 15px;font-family: sans-serif;color: ${buttonTextColor2}; background: ${button-ctabg2};line-height:20px;" class="button_link">
                        ${buttonText2}
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td align="middle">
                {{ macro.spacer(height=50) }}
              </td>
            </tr>
          </table>
      </td>
    </tr>
  </table>
{% endblock %}