{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'button1Module' %}
{% set name = "Button 1 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %} 
  <table border="0" cellpadding="0" cellspacing="0" align="center">
    <tr>
      <td align="center">
        <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
          <tr>
            <td class="button-pad" align="center" bgcolor="${button-ctabg}" width="150" height="40" style="border: 1px solid ${button-ctaBorderColor}; width: 150px;">
              <a href="${buttonLinkGlobal}" style="padding: 10px;width:150px;display: block;text-decoration: none;border:0;text-align: center;font-weight: normal;font-size: 15px;font-family: sans-serif;color: ${button-ctaTextColor}; background: ${button-ctabg};line-height:20px;" class="button_link">
                ${buttonTextGlobal}
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}