{% import "../macros/macros.njk" as macro %} 

<table class="mktoModule container" id="footerModule" mktoName="Footer Module" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
  <tr>
    <td style="padding: 30px 35px 15px 35px; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center; color: #8f8f8f; font-size:10px;line-height:18px;" class="ph">
      <div class="mktoText" id="footerTopText" mktoName="Footer Text"> 
        <div class="mktoSnippet" id="contactSnippet" mktoName="Contact Snippet" mktoDefaultSnippetId="99"></div>	
      </div>	
    </td>
  </tr>
  <tr>
    <td style="padding: 15px 35px 30px 35px; font-family: Verdana, Arial, Helvetica, sans-serif; text-align:center; color: #8f8f8f; font-size:10px;line-height:18px;" class="ph">
      <div class="mktoSnippet" id="contactSnippet" mktoName="Contact Snippet" mktoDefaultSnippetId="102"></div>	
    </td>
  </tr>

</table>

