<table class="mktoModule container" id="headerModule" mktoName="Header Module" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
  <tr>
    <td bgcolor="#000000">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td style="padding: 20px 32px;" class="header-main-logo">
            <div class="mktoImg" id="headerLogo" mktoName="Logo">
              <img src="https://my.ariba.com/rs/407-PHQ-501/images/logo-sapFieldGlass-20170213.png" alt="SAP FieldGlass" width="194" height="38" style="margin: 0; display: block; width: 194px; height: auto;" class="logo-main">
            </div>
          </td>
          <td align="right" style="padding: 20px 32px;" class="header-partner-logo">
            <div class="mktoImg" id="partnerLogo" mktoName="Partner Logo" mktoLockImgSize="false">
              <img src="https://my.ariba.com/rs/407-PHQ-501/images/SAP_Best_R_grad_wht_scrn.png" alt="Partner Logo" width="194" height="35" style="margin: 0; display: block; height: auto; max-width: 194px;" class="partner-logo">
            </div>
          </td>
        </tr>
      </table>
    </td>
  </tr> 
</table>

