{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'hr1Module' %}
{% set name = "HR 1 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 0 %} {# top padding #}
{% set paddingBottom = 0 %} {# bottom padding #}
 
{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr class="d-block">
      <td class="d-block" style="border-bottom:4px solid #f2f2f2;"></td>
    </tr>
  </table>
{% endblock %}