{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'imageModule' %}
{% set name = "Image Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <div class="mktoImg" id="imageModuleImage" mktoName="Image" mktoLockImgSize="false">
          <img src="http://www.placehold.it/540x205" alt="Partner Logo" width="530" height="205" style="width: 530px; margin: 0; display: block; height: auto; max-width: 100%;" class="responsive-image">
        </div>
      </td>
    </tr>
  </table>
{% endblock %}