{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'prefooterMldule' %}
{% set name = "Prefooter Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}


  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="d-block width100">
    <tr class="d-block width100">
      <td width="180" style="width: 180px; text-align: left;" class="prefooter-section">

        <table border="0" cellpadding="0" cellspacing="0" class="prefooter-table">
          <tr>
            <td width="30" style="width: 30px;">
          
              <a href="https://www.fieldglass.com/contact?utm_source=template&amp;utm_medium=email&amp;utm_content=footer_contact">
                <img src="https://my.ariba.com/rs/407-PHQ-501/images/icon-contactUs-20170213.gif" alt="Email" width="25" height="16" style="margin: 0; display: block; width: 25px; height: auto;">
              </a>
            </td>
            <td style="font-family: Verdana, sans-serif; font-weight: normal; color: #000; font-size: 12px; line-height: 17px;">
            
              <a href="https://www.fieldglass.com/contact?utm_source=template&amp;utm_medium=email&amp;utm_content=footer_contact" style="text-decoration:none; color:#000;">Contact Us</a>
            
            </td>
          </tr>
        </table>
      </td>
      <td width="180" style="text-align:left;" class="prefooter-section">
        <table border="0" cellpadding="0" cellspacing="0" align="center">
          <tr>
            <td width="30" style="width: 30px;">
              <img src="https://my.ariba.com/rs/407-PHQ-501/images/icon-phone-20170213.gif" alt="" width="18" height="20" style="margin: 0; display: block; width: 18px; height: auto;">
            </td>
            <td style="font-family: Verdana, sans-serif; font-weight: normal; color: #000; font-size: 12px; line-height: 17px;">
            
              	+1-844-843-0650
            
            </td>
          </tr>
        </table>
      </td>
      <td width="180" class="prefooter-section-pb-0">
        <table border="0" cellpadding="0" cellspacing="0" align="right" class="prefooter-table social">
          <tr>
            <td style="padding-left: 5px;">
              <a href="https://www.facebook.com/sapfieldglass" target="_blank"><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-facebook.png" alt="Email" width="18" height="18" style="margin: 0; display: block; width: 18px; height: auto;"></a>
            </td>
            <td style="padding-left: 5px;">
              <a href="https://twitter.com/SAPFieldglass" target="_blank"><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-twitter.png" alt="Email" width="18" height="18" style="margin: 0; display: block; width: 18px; height: auto;"></a>
            </td>
            <td style="padding-left: 5px;">
              <a href="http://www.linkedin.com/company/sapfieldglass" target="_blank"><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-linkedin.png" alt="Email" width="18" height="18" style="margin: 0; display: block; width: 18px; height: auto;"></a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


{% endblock %}

<table width="600" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth mktoModule" id="ContactSnippet" mktoname="Contact Snippet" bgcolor="#ffffff" style="margin:0 auto;">
    <tr>
        <td class="center no-pad-lt no-pad-rt" style="padding:30px 0px 30px 0px; background-color:${Contact-BG-color1};" bgcolor="${Contact-BG-color1}">
            <div class="mktoSnippet" id="contactSnippet" mktoName="Contact Snippet" mktoDefaultSnippetId="97"></div>
        </td>
    </tr>
</table>