<table class="mktoModule container" id="preheaderModule" mktoName="Pre Header Module" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
  <tr>
    <td style="padding: 20px 0" class="header-main-logo">
      <div class="mktoText" id="preHeader" mktoName="Preheader Text"> 
          <div style="text-align: center;"><span size="1" face="Verdana" style="font-family: Verdana; font-size: xx-small;"><a href="{{system.viewAsWebpageLink}}" target="_blank" style="text-decoration: none; color: #008fd3;">View this email in a web browser</a>&nbsp;</span></div>
      </div>	
    </td>
  </tr>
</table>

