{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'section5Module' %}
{% set name = "Section 5 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0"  align="left" width="45%" class="d-block width100 pad-bottom">
          <tr>
            <td>
              <div class="mktoText" id="section5Text" mktoName="Left Text">
                <table cellpadding="0" cellspacing="0" border="0" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;"> 
                  <tr>
                    <td valign="top" class="bullet-pad" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">•</td>
                      <td style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">
                        Donec tempor bibendum augue nec molestie Etiam ornare ex nibh
                      </td>
                  </tr>
                  <tr>
                    <td valign="top" class="bullet-pad" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">•</td>
                    <td style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">Integer a quam sed metus pulvinar cursus</td>
                  </tr>
                  <tr>
                    <td valign="top" class="bullet-pad" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">•</td>
                    <td style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">Donec cursus mi in est semper facilisis ut a erat.</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0"  align="right" width="45%" class="d-block width100">
          <tr class="d-block width100">
            <td class="d-block width100">
              <div class="mktoImg" id="section5image" mktoName="Image" mktoLockImgSize="false">
                <img src="http://www.placehold.it/235x190" alt="Partner Logo" width="235" height="190" style="margin: 0; display: block; height: auto; width: 235px;" class="responsive-image image-center">
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}