{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'section2Module' %}
{% set name = "Section 2 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0"  align="left" width="45%" class="d-block width100 pad-bottom">
          <tr>
            <td>
              <div class="mktoText" id="section2Text" mktoName="Left Text">
                <table cellpadding="0" cellspacing="0" border="0" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;"> 
                  <tr>
                    <td valign="top" class="bullet-pad" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">•</td>
                      <td style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">
                        Donec tempor bibendum augue nec molestie Etiam ornare ex nibh
                      </td>
                  </tr>
                  <tr>
                    <td valign="top" class="bullet-pad" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">•</td>
                    <td style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">Integer a quam sed metus pulvinar cursus</td>
                  </tr>
                  <tr>
                    <td valign="top" class="bullet-pad" style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">•</td>
                    <td style="text-align:left; line-height:20px;font-size: 12px; color: #8f8f8f; font-weight: normal; text-align: left; font-family:Verdana, Arial, Helvetica, sans-serif;">Donec cursus mi in est semper facilisis ut a erat.</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0"  align="right" width="45%" class="d-block width100">
          <tr>
            <td>
   
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    {{ macro.text(
                      text="Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuer.", id="right2TextTop", name="Top Right Text", align="center", fs="12", lh="16"
                    ) }}
                  </tr>
                  <tr>
                    <td>
                      {{ macro.spacer(height="36") }}
                    </td>
                  </tr>
                  <tr>
                    <td align="center">
                      <table border="0" cellpadding="0" cellspacing="0" style="margin:0 auto;">
                        <tr>
                          <td class="button-pad" align="center" bgcolor="#008fd3" width="150" height="40" style="border: 1px solid #008fd3; width: 150px;">
                            <a href="${section2ButtonLink}" style="padding: 10px;width:150px;display: block;text-decoration: none;border:0;text-align: center;font-weight: normal;font-size: 15px;font-family: sans-serif;color: #fff; background: #008fd3;line-height:20px;" class="button_link">
                              ${button-ctaText2}
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      {{ macro.spacer(height="36") }}
                    </td>
                  </tr>
                  <tr>
                    {{ macro.text(
                      text="Maecenas at ullamcorper quam primis!", id="right2TextBottom", name="Right Bottom Text", align="center", fs="12", lh="16"
                    ) }}
                  </tr>
                </table>
     
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}