{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'section1Module' %}
{% set name = "Section 1 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr> 
      <td>
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            {{ macro.text(
              text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eu purus justo. Aenean placerat nunc a gravida commodo. Aenean ac nibh sit amet urna interdum tempor.<br><br>Proin in auctor urna. Vestibulum ut mauris euismod, placerat nisi id, efficitur massa.", id="section1Text", name="Text", align="center"
            ) }}
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}