{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'section7Module' %}
{% set name = "Section 7 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%" class="section7">
    <tr>
      <td class="d-block width100">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td width="176" style="width: 156px; padding: 0 10px;"  valign="top" class="box-pad">
              <center>
              <div class="mktoImg" id="leftImage7" mktoName="Left Image" mktoLockImgSize="false">
                <img src="http://www.placehold.it/100x100" alt="Image" width="100" height="100" style="margin: 0; display: block; height: auto; max-width: 100px;">
              </div>
              </center>
              {{ macro.spacer() }}
              <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                  {{ macro.text(fs=12, lh=16, fw="bold", align="center", text="Title", id="section7TitleLeft", name="Left Title") }}
                </tr>
              </table>
            </td>
            <td width="176" style="width: 156px; padding: 0 10px;"  valign="top" class="box-pad">
              <center>
              <div class="mktoImg" id="middleImage7" mktoName="Middle Image" mktoLockImgSize="false">
                <img src="http://www.placehold.it/100x100" alt="Image" width="100" height="100" style="margin: 0; display: block; height: auto; max-width: 100px;">
              </div>
              </center>
              {{ macro.spacer() }}
              <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                  {{ macro.text(fs=12, lh=16, fw="bold", align="center", text="Title", id="section7TitleMiddle", name="Middle Title") }}
                </tr>
              </table>
            </td>
            <td  width="176" style="width: 156px; padding: 0 10px;"  valign="top" class="box-pad-no-bottom">
              <center>
              <div class="mktoImg" id="rightImage7" mktoName="Right Image" mktoLockImgSize="false">
                <img src="http://www.placehold.it/100x100" alt="Image" width="100" height="100" style="margin: 0; display: block; height: auto; max-width: 100px;">
              </div>
              </center>
              {{ macro.spacer() }}
              <table border="0" cellpadding="0" cellspacing="0" align="center">
                <tr>
                  {{ macro.text(fs=12, lh=16, fw="bold", align="center", text="Title", id="section7TitleRight", name="Right Title") }}
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}