{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'section6Module' %}
{% set name = "Section 6 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0"  align="left" width="120" class="d-block width100 pad-bottom">
          <tr>
             {{ macro.text(
                text="Lorem ipsum dolor<br><br><strong>SIT AMET CONS ECTETUR</strong><br><br>Mauris luctus magna id iaculis mattis. Aene an ut mole stie velit. Cras ferm...", id="left6Text", name="Text", align="left", fs="12", lh="16"
              ) }}
          </tr>
        </table>
        <table border="0" cellpadding="0" cellspacing="0"  align="right" width="365" class="d-block width100">
          <tr class="d-block">
            <td class="d-block width100">
              <div class="mktoImg" id="section6image" mktoName="Image" mktoLockImgSize="false">
                <img src="http://www.placehold.it/365x210" alt="Partner Logo" width="365" height="210" style="margin: 0; display: block; height: auto; width: 365px;" class="responsive-image image-center">
              </div>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}