{% extends "../layout/module-wrap.njk" %}

{# REQUIRED #}
{% set id = 'section4' %}
{% set name = "Section 4 Module" %}
{% set paddingHorizontal = 35 %}

{# OPTIONAL #}
{% set top = false %} {# for top rounded edges #}
{% set bottom = false %} {# for bottom rounded edges #}
{% set hide = false %} {# mktoAddByDefault setter #}
{% set paddingTop = 30 %} {# top padding #}
{% set paddingBottom = 30 %} {# bottom padding #}

{% import "../macros/macros.njk" as macro %} {# BASIC MACROS TO HELP OUT #}


{% block module %}
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td>
        <div class="mktoVideo" id="video" mktoname="Video" style="min-height:200px; max-width:525px; align-content:center;">
                    &nbsp;					
					</div>
      </td>
    </tr>
  </table> 
{% endblock %}