@font-face {
  font-family: "SAPBold";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBold.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBold.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPBold";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBoldItalic.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBoldItalic.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBoldItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPMedium";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMedium.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMedium.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPMedium";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMediumItalic.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMediumItalic.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPRegular";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegular.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegular.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPRegular";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegularItalic.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegularItalic.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPBook";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBook.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBook.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBook.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPBook";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBookItalic.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBookItalic.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBookItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SAPLight";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLight.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLight.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLight.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SAPLight";
  src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLightItalic.woff2") format("woff2"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLightItalic.woff") format("woff"),
       url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: SAPBold, sans-serif;
  font-weight: normal;
}


h1,
h2 {

  font-size: 1.5rem;
  line-height: 1.25;
  
  @media screen and (min-width: 768px) {
    font-size: 2.5rem;
    line-height: 1.25;
  }
  
}

h1 {
  margin: 1rem 0;

  @media screen and (min-width: 768px) {
    margin: 3rem 0;
  }
}

h3 {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: normal;
  font-family: SAPMedium, sans-serif;

  @media screen and (min-width: 768px) {
    font-size: 1.875rem;
  }
}

p {
  font-family: SAPBook, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 2rem 0;

  @media screen and (min-width: 768px) {
    font-size: 1.25rem;
  }

  
}

