@import 'vars';
@import 'modern-normalize';
@import 'components/intro';
@import 'components/scene';
@import 'components/fullpage';
@import 'components/clock';
@import 'components/misc';
@import 'components/nav';
@import 'components/conclusion';
@import 'components/_mobile.scss';
@import 'typography';

a {
  color: #000;
}

#fullpage {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.no-cssgrid {
  .animation {
    border-left: solid 4px #000;
  }
}