/*---------------------------------------------------------
 * Typography Variables
 *-------------------------------------------------------*/
// Typography
$system-fonts        : -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$sans-serif          : Arial, sans-serif;
$serif               : serif;



$base-font-family    : $sans-serif;
$heading-font-family : $sans-serif;
$input-fonts         : $sans-serif;

// Font Sizes
$browser-context : 16; // Default
$base-font-size : 16px;

// Line height
$base-line-height    : 1.375;
$heading-line-height : 1.3;

// Other Sizes
$base-border-radius : 0px;
$base-spacing       : $base-line-height * 1em;
$small-spacing      : $base-spacing / 2;
$base-z-index       : 0;
$body-copy-b-margin : rem(32);

/*---------------------------------------------------------
 * Color Variables
 *-------------------------------------------------------*/

// Brand Colors

// Theme Brand Colors
// $sql-purple : rgb(32, 0, 32);
$sql-purple : rgb(77, 0, 77);
$sql-green  : rgb(136, 157, 12);

$azure-blue : rgb(0, 114, 198);
$azure-green : rgb(173, 201, 9);

$o365-orange : rgb(216, 59, 1);
$o365-yellow : rgb(255, 185, 0);

// Colors
$black      : rgb(0, 0, 0);
$white      : rgb(255, 255, 255);
$red        : rgb(223, 7, 7);
$yellow     : rgb(248, 231, 28);
$blue       : rgb(0, 114, 198);
$green      : rgb(76, 175, 80);
$gray       : rgb(80, 80, 80);
$gray-light : rgb(220, 220, 220);
$gray-medium : rgb(244, 244, 244);

// Typography Specific
$base-font-color    : $gray;
$base-heading-color : $gray;
$action-color       : $blue;

// UI Specific
$gray-hr : rgb(230, 230, 230);
$overlay : rgba($sql-purple, .85);

// Button Specific
// $cta1       : $blue; // Call to Action 1
// $cta1-hover : lighten($blue, 10%);

// Flash Colors
$alert   : $red;
$message : $yellow;
$success : $green;


/*---------------------------------------------------------
 * UI Variables
 *-------------------------------------------------------*/

// Border
$base-border-color : $gray-light;
$base-border       : 1px solid $base-border-color;
// $border-valid      : 1px solid $green-border;
// $border-error      : 1px solid $red;

// Background Colors
// $base-background-color      : $cream-input;
//$brand-background-color : $azure-blue;
$input-background       : $white;
// $input-background-active    : $white-input;
// $input-background-valid     : transparentize($green-border, 0.95);
// $input-background-error     : transparentize($red, 0.95);
// $secondary-background-color : tint($base-border-color, 75%);

// Forms
$placeholder : $base-font-color;
$input-label : $base-font-color;

// Shadows
//$button-shadow : transparentize($black, 0.6);

// Animations
$base-duration : 300ms;
$base-timing   : ease;

/*---------------------------------------------------------
 * Theme Variables
 * - variables are defined in the brand specific file
 *-------------------------------------------------------*/

// Typography

$theme-font-size : $base-font-size;

$theme-body-font : $base-font-family;
$theme-body-line-height : $base-line-height;
$theme-body-font-color : $black;

$theme-header-font : $heading-font-family;
$theme-header-line-height : $base-line-height;
$theme-header-font-color : $black;

$primary-link : $brand-primary-link;
$secondary-link : $brand-secondary-link;

// $li-icon : $brand-li-icon;

// Icons
$icon-color : $brand-icon-color;

// Global Variables

$theme-background-color  : $brand-background-color;
$theme-background-footer : $brand-background-footer;
$theme-error : $brand-error;

// Button Specific
$cta1       : $brand-cta1;
$cta1-hover : $brand-cta1-hover;
$cta1-text  : $brand-cta1-text;

// Forms
$theme-label : $brand-label;
$theme-error : $brand-error;
















