<nav role="navigation">
    <ul>
        <li{% if page == 'agenda' %} class="activeNav" {% endif %}><a href="./">Agenda</a></li>
        <li{% if page == 'participants' %} class="activeNav" {% endif %}><a href="./participants.html">Participants</a></li>
        <li{% if page == 'about' %} class="activeNav" {% endif %}><a href="./about.html">About SAP</a></li>
    </ul>
</nav>