button:focus{
    outline: none;
}

.button {
  display: inline-block;
  background-color: #01a0b8;
  padding: 8px 48px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;

  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken(#01a0b8, 5%);
  }
}
