::selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #333;
  color: #fff;
  text-shadow: none;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

.hotel-info {
  h1 {
    margin: 0 0 .5em;
  }
  h2 {
    margin: 0 0 .5em;
  }
  p {
    line-height: 2;
  }
}

@media screen and (min-width: 768px) {
  .hotel-info {
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 24px;
      margin: 0;
      line-height: 1.5;
    }
    p {
      font-size: 24px;
      line-height: 1.5;
    }
  }
  .big-text {
    display: block;
  }
}

.toggle-bar {
  background: #01A0B8;
  width: calc(100% + 60px);
  transform: translateX(-30px);
  display: block;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 21px;
  font-weight: bold;

  &.collapsed {
    &:after {
      transform: rotate(90deg) rotateX(130deg);
      top: 35px;

      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  &:after {
    transform: rotate(270deg) rotateX(130deg);
    right: 25px;
    top: 17px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 18px;
    margin-top: -18px;

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &:hover {
    text-decoration: none;
    color: #fff;
  }

  @media screen and (min-width: 768px) {
    width: 100%;
    transform: translateX(0);


    &:hover {
      cursor: default;
    }
  }

  @media screen and (min-width: 768px) {
    padding: 5px 15px;
  }
}

.agenda-box {
  padding: 30px 0;

  @media screen and (min-width: 992px) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

dl.agenda-item {
  /*
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 2fr 7fr;
  border-bottom: solid 1px #000;
  padding: 10px 0;
  @media screen and (min-width: 768px) {
    grid-template-columns: 4fr 9fr;
    padding: 20px 0;
  }
  */

  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #000;

  @media screen and (min-width: 768px) {
    padding: 20px 0;
  }

  &:last-child {
    border-bottom: none;
  }

  dt {
    flex-basis: 25%;

    @media screen and (min-width: 768px) {
      flex-basis: 37%;
    }
    @media screen and (min-width: 992px) {
      flex-basis: 35%;
    }

    .map-link {
      display:none;
      @media screen and (min-width: 768px) {
        display: block;
        font-size: 16px;
      }
    }
  }

  dd {
    flex-basis: 75%;

    @media screen and (min-width: 768px) {
      flex-basis: 63%;
    }
    @media screen and (min-width: 992px) {
      flex-basis: 65%;
    }

    .map-link {
      @media screen and (min-width: 768px) {
        display: none;
      }
    }
  }

  h4 {
    font-weight: bold;
    margin: 0 0 .5em;
  }

  h5 {
    font-size: 18px;
    font-weight: bold;
  }

  .map-link {
    color: #000;
    font-weight: normal;

  }

  a.map-link {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .intro .collapse {
    display: block !important;
  }
}

h4.checkout {
  text-align: center;
  font-weight: bold;
  margin: 40px 0 0;
}

.mornin-session {
  h3 {
    border-top: solid 5px $blue;
    padding-top: 40px;
  }

}

.programme-box {
  padding: 30px 0;

  @media screen and (min-width: 768px) {
    padding: 30px 60px;
  }

  img {
    margin-bottom: 1em;
  }

  h3 {
    margin-bottom: .5em;
  }
}

.readmore {
  position: relative;
  transition: all 1s ease-in-out;
  margin-bottom: 30px;

  * {
    transition: all 1s ease-in-out;
  }

  .content {
    height: 150px;
    overflow:hidden;
    transition: all 1s ease-in-out;
    position: relative;
  }

  &.expanded {
    .expand {
      padding-top: 20px;
      .arrow {
        transform: rotate(270deg) rotateX(60deg);
        top: 1px;
      }
    }
  }

  .expand {
    display: block;
    background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,1) 100%);
    width: 100%;
    position: absolute;
    bottom: -2px;
    padding-top: 50px;

    .arrow {
      transform: rotate(90deg) rotateX(60deg);
      display: inline-block;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-left-color: #000;
      border-width: 12px;
      margin-top: -12px;
      top: 13px;
      position: relative;
    }
  }
}


.speakers {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 30px;

  @media screen and (min-width: 567px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-width: 992px) {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 60px;
  }
}

.speaker-card {
  max-width: 300px;
  margin: 0 auto;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  img {
    border-radius: 1000px;
    max-width: 270px;
    border: solid 10px $base;
    display: block;
    margin: 0 auto;
  }

  h4 {
    margin: 1em 0;
    text-decoration: underline;
    font-weight: bold;
  }
}

.divider-wrap {
  position: relative;
  height: 10px;
}
.divider {
  background: $blue;
  height: 5px;
  position: relative;
  width: 200vw;
  left: -100vw;

  @media screen and (min-width: 567px) {
    width: 100%;
    left: 0;
  }
}

.intro {
  overflow: hidden;
}

dl.bio {
  display: grid;
  grid-template-columns: 1fr 2fr;

  @media screen and (min-width: 567px) {
    grid-template-columns: 1fr 3fr;
  }

  dd, dt {
    border-bottom: solid 1px #000;
    margin: 0;
    padding: 10px 0;
  }
}

.modal-body {
  padding: 15px;

  @media screen and (min-width: 567px) {
    padding: 15px 30px;
  }
  h5 {
    font-size: 16px;
    font-weight: bold;
  }
}

.grid-test {
  display: table;
  width: 100%;

  .item {
    display: table-cell;
    width: 50%;
    position: relative;

    .inner {
      height: 100%;
    }
  }
}
