.paragraph-big-text {
  font-size: 21px;
}
 p {
   margin-bottom: 1em;
 }

 h1, h2, h3, h4, h5 {
   margin: 0 0 .5em 0;
   line-height: 1.5;
 }

 h1,
 .h1 {
   font-size: 30px;
   font-weight: bold;
   height: auto;
   margin-bottom: .5em;

   @media screen and (min-width: 992px) {
     font-size: 72px;
   }
 }

 h2 {
  font-size: 24px;
  font-weight: bold;
  @media screen and (min-width: 992px) {
    font-size: 48px;
    font-weight: bold;
  }
 }

 h3 {
  @media screen and (min-width: 768px) {
    font-weight: bold;
  }
 }

 b, strong {
   font-weight: bold;
 }

 h1.page-title {
  @media screen and (min-width: 992px) {
    font-size: 45px;
  }
 }

 h3.blue {
   color: $blue;
   font-weight: bold;
   margin-bottom: 1em;
 }
