<!doctype html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
 <meta class="mktoBoolean" id="showBanner" mktoName="Show Banner?" default="true" true_value="block" false_value="none" false_value_name="Hide" true_value_name="Show">

<meta class="mktoString" mktoName="BannerSection BG Image" id="BannerSectionBGImg" default="https://my.ariba.com/rs/407-PHQ-501/images/CIPS_AustralasiaConference_header.png">

<title>SAP Fieldglass</title>
                       

<style type="text/css">
a[x-apple-data-detectors] { color: inherit !important; text-decoration: none !important;font-size: inherit !important;font-family: inherit !important;font-weight: inherit !important;line-height: inherit !important;}

.ReadMsgBody {width: 100%; background-color: #ffffff;}

.ExternalClass {width: 100%; background-color: #ffffff;}

body	 {width: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;font-family: Georgia, Times, serif; -webkit-text-size-adjust:none;}

table {border-collapse: collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }

table td {border-collapse: collapse;}

ul li {font-family: arial, helvetica, sans-serif;font-size: 13px;font-weight: regular;color: #666666;line-height: 16px;}

/*a:link {color:#57a617; text-decoration:none;}
a:visited {color:#57a617; text-decoration:none;}
a:hover {color:#57a617; text-decoration:none;}
a:active {color:#57a617; text-decoration:none;}*/


	@media only screen and (max-width: 640px)  {
		
body[yahoo] .title {font-size: 24px !important;}
body[yahoo] .heading {font-size: 20px !important;}
body[yahoo] .body_text {font-size: 17px !important;}
body[yahoo] .small_text {font-size: 12px !important;}

body[yahoo] .deviceWidth {width:440px!important; padding:0;}	

body[yahoo] .center {text-align: center!important; margin-left:auto !important; margin-right: auto !important}	 

body[yahoo] .tableCenter {margin: 0 auto !important;}  

body[yahoo] .deviceWidth2 {width: 220px !important;}

body[yahoo] .resize-img img {width: 100% !important; display:block;}	

body[yahoo] .no-pad {padding:0 !important;}

body[yahoo] .no-pad-lt {padding-left:0 !important;}

body[yahoo] .no-pad-rt {padding-right:0 !important;}

body[yahoo] .no-pad-top {padding-top:0 !important;}

body[yahoo] .no-pad-bottom {padding-bottom:0 !important;}

body[yahoo] .top-pad {padding-top:25px !important;}	 

body[yahoo] .bottom-pad {padding-bottom:25px !important;}	

body[yahoo] .left-pad {padding-left:25px !important;}

body[yahoo] .right-pad {padding-right:25px !important;}	 
					
body[yahoo] .hide {display:none !important;}	 

body[yahoo] .no-border {border: none !important;} 

body[yahoo] .block {display:block !important;}  
			}

			

	@media only screen and (max-width: 479px) {

body[yahoo] .deviceWidth {width:100%!important; padding:0;}	

body[yahoo] .center {text-align: center!important;}	 


			}



</style>

</head>

<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" yahoo="fix" style="font-family: Georgia, Times, serif">

<!-- Preview Text -->

<!--<div style="display:none !important;visibility: hidden;mso-hide:all;font-size:1px;color:#222222;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden;">
{{my.previewText}}
</div>-->

<!-- End Preview Text -->

<!-- Wrapper -->

<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">

	<tr>

		<td width="100%" valign="top" bgcolor="#ffffff" style="padding-top:20px">

		

			<!-- Start Header-->

			<table width="640" border="0" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" style="margin:0 auto;">

				<tr>

					<td width="100%" bgcolor="#000000" style="padding:20px 0 20px 0;">



                            <!-- Logo -->

                            <table border="0" cellpadding="0" cellspacing="0" align="left" class="">

                                <tr>

                                    <td style="padding:0px 0px 0px 20px" class="center">
<a href="http://www.fieldglass.com/?utm_source=template&utm_medium=email&utm_content=header_logo"><img src="https://my.ariba.com/rs/407-PHQ-501/images/logo-fieldglass.png" alt="SAP Fieldglass" border="0" align="left" hspace="0" vspace="0" width="160" style="vertical-align:top; width: 160px;" title="Fieldglass"></a>
 </td>

                                </tr>

                            </table><!-- End Logo -->

                            

                            <!-- Logo 2 -->

                            <table border="0" cellpadding="0" cellspacing="0" align="right" class="">

                                <tr>

                                    <td class="center" style="padding:0 20px 0 0">

                                       <img src="https://my.ariba.com/rs/407-PHQ-501/images/logo_SAP.png" alt="SAP" border="0" align="left" hspace="0" vspace="0" width="72" height="36" style="vertical-align:top; width: 72px; height: 36px;" title="SAP">

                                    </td>

                                </tr>

                            </table><!-- End Logo 2 -->



					</td>

				</tr>

			</table><!-- End Header -->

			

			<!--Banner -->
			<div>
			<table width="640"  class="deviceWidth mktoContainer" id="template-wrapper" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed" style="margin:0 auto;">

				<tr class="mktoModule" id="Section1" mktoname="Section 1">

					<td class="resize-img" valign="top" style="padding:0; border-collapse:collapse; mso-table-lspace: 0pt; mso-table-rspace: 0pt; mso-line-height-rule: exactly; line-height:0;" bgcolor="#ffffff">
        <div class="mktEditable" id="banner">
         <a href="http://www.cipsaustralasiaconferenceandawards.com/"><img src="${BannerSectionBGImg}" alt="SAP Fieldglass is coming to Melbourne for CIPS! " width="640" border="0" align="left" hspace="0" vspace="0"></a>
         </div>					

					</td>

				</tr>
                
			</table>
            </div>
            <!-- End Banner -->
            
            
            <!--Content -->

			<table width="640"  class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed" style="margin:0 auto;">

				
                <tr>

                    <td style="font: 14px/21px Arial, Helvetica, sans-serif; color:#444444; font-weight: normal; text-align: left; line-height: 24px; vertical-align: top; padding:30px 15px 30px 15px" bgcolor="#ffffff"> 
                    	
 
        <div class="mktEditable" id="content">
 
Hello {{lead.First Name:default=edit me}},
 
Join SAP Fieldglass during the Annual CIPS Australasia Awards and Conference, being held at the Park Hyatt on the 27th – 28th July. We’ve secured a discount of 10% for you and we thought you may like to join us.<br><br>
 
If you’d like to take advantage of this offer, enter ‘SPS2301’ at the checkout page when you book your tickets for yourself and your team.<br><br>
 
SAP Fieldglass will also be presenting on the topic of ‘Next Generation Category Management for Services Procurement’. As you know, services procurement represents a growing area of spend that encompasses a variety of complex engagement patterns across industries and labour categories. Toni Jackson, Director of APAC, will discuss how using the right technology solution can help organisations overcome these challenges.<br><br>
 
Even if you’ve already got a solution provider in place for your services spend, this event shouldn’t be missed and is one that we return to each year for the value and rich discussion it provides.<br><br>
 
We hope to see you there!<br><br>
 
The SAP Fieldglass Team
</div>
                     </td>

                </tr>              

			</table><!-- End Content -->
            
            
            
            <!--Three Column Images -->


						<!-- 3 Small Images -->
				<div class="mktEditable" id="social-media">
						<table width="640" cellpadding="0" cellspacing="0" align="center" class="deviceWidth" bgcolor="#e9e9e9" style="margin:0 auto;">



							<tr>

								<td valign="top" style="padding:10px 25px;">

									

                                    <table width="32%" align="left" cellpadding="0" cellspacing="0" class="deviceWidth">

                                        <tr>

                                            <td class="no-pad" valign="top" align="center" style="padding:5px 0 0 30px">

                                                   <table cellspacing="0" cellpadding="0">

<tr><td style="line-height:0; font-size:0;"><a href="http://www.fieldglass.com/contact?utm_source=template&utm_medium=email&utm_content=footer_contact/contact"><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-email.png" alt="Contact Us" align="left" border="0" hspace="0" vspace="0" width="32" height="32"></a></td>

<td width="9"></td><td style="font: 12px/17px Arial, Helvetica, sans-serif; padding-top:2px; white-space:nowrap;"><a href="http://www.fieldglass.com/contact?utm_source=template&utm_medium=email&utm_content=footer_contact/contact" style="text-decoration:none; color:#000;">Contact Us</a></td></tr></table>

                                            </td>

                                        </tr>

                                       

                                    </table><!-- End Image 1 -->

                                    

									<table width="32%" align="left" cellpadding="0" cellspacing="0" class="deviceWidth">

										<tr>

											<td valign="top" align="center" style="padding:10px 0">

													<table cellspacing="0" cellpadding="0">
<tr>
<td style="line-height:0; font-size:0;"><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-phone.png" alt="+1-312-763-4800" align="left" border="0" hspace="0" vspace="0" width="20" height="20"></td>

<td width="5"></td>
<td style="font: 12px/17px Arial, Helvetica, sans-serif; padding-top:2px; white-space:nowrap;">+1-844-843-0650</td></tr></table>

											</td>

										</tr>

                                       

									</table><!-- End Image 2 -->

                                    



                                    <table width="32%" align="left" cellpadding="0" cellspacing="0" class="deviceWidth">

                                        <tr>

                                            <td valign="top" align="center" style="padding:10px 0">

                                                   <table class="flexible footer-block01" title="footer-block01" width="110" height="21" align="center" cellpadding="0" cellspacing="0" style="border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;">
<tr>
<td data-section="social">
<table align="center" cellspacing="0" cellpadding="0" style="margin:0 auto !important;">
<tr>

<td style="line-height:0; font-size:0;"><a href="https://www.facebook.com/sapfieldglass" target="_blank" ><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-facebook.png" alt="facebook"align="left" border="0" hspace="0" vspace="0" width="18" height="18" ></a></td>
 <td width="5"></td>

<td style="line-height:0; font-size:0;"><a href="https://twitter.com/SAPFieldglass" target="_blank" ><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-twitter.png" alt="twitter" target="_blank" align="left" border="0" hspace="0" vspace="0" width="18" height="18"></a></td>

<td width="5"></td>
<td style="line-height:0; font-size:0;"><a href="http://www.linkedin.com/company/sapfieldglass" target="_blank"><img src="https://my.ariba.com/rs/407-PHQ-501/images/ico-linkedin.png" alt="LinkedIn" align="left" border="0" hspace="0" vspace="0" width="18" height="18"></a></td>
</tr></table>
                                                            
                                                                
<div class="mobileBorder3" style="line-height:0; font-size:0;">&nbsp;</div></td></tr></table>

                                            </td>

                                        </tr>
                                    </table><!-- End Image 3 -->



								</td>

							</tr>



                           
						</table>
                        </div><!-- End 3 Small Images -->

                <!-- Three Column Images -->



						
 <!--Disclaimer -->

			<table width="640"  class="deviceWidth" border="0" cellpadding="0" cellspacing="0" align="center" bgcolor="#eeeeed" style="margin:0 auto;">

				
                <tr>

                    <td style="font: 12px/18px Arial, Helvetica, sans-serif; color:#666666; font-weight: normal; text-align: left; line-height: 24px; vertical-align: top; padding:20px" bgcolor="#ffffff"> 
                    	
 
 

 
        <div class="mktEditable" id="disclaimer">
This e-mail may contain trade secrets or privileged, undisclosed, or otherwise confidential information. If you have received this e-mail in error, you are hereby notified that any review, copying, or distribution of it is strictly prohibited. Please inform us immediately and destroy the original transmittal. Thank you for your cooperation.
 <br><br>
This promotional e-mail provides information on SAP’s products and services that may interest you. If you prefer not to receive promotional e-mails from SAP in the future, please udpate your preferences or <a href="http://my.ariba.com/subscription.html"style="text-decoration: none; color:#008fd3">unsubscribe.</a>
 <br><br>																																																																
To ensure you continue to receive SAP related information properly please add <a href="mailto:fieldglassinfo@sap.com"style="text-decoration: none; color:#008fd3">fieldglassinfo@sap.com</a> to your address book or safe senders list.
</div>
                     </td>

                </tr>              

			</table><!-- End Disclaimer -->


		</td>

	</tr>

</table> <!-- End Wrapper -->

		


</body>

</html>