/*
 * Table of Contents for WordPress Boilplate SCSS utility variables
 *
 * 1.0 - Notes
 * 2.0 - Defaults
 * 3.0 - Layout
 * 4.0 - Typography
 * 5.0 - Buttons
 * 6.0 - Timing Functions
 * 7.0 - Media
 * 8.0 - Forms
 * 9.0 - Widgets
 *
 */

/*
 * 1.0 - Notes
 *
 * Variables in this file are being used by mixins and other styles
 * Variables in this file are loaded before theme specific variables
 * These variables are used by the functions and mixins in the Utilities folder
 *
 */

/*
 * 2.0 - Defaults
 *
 * Variables that are used as defaults, can be overridden by theme specific variables
 * Examples - $browers-context,
 *
 */

$font-stack-system : -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir", "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans", "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu", "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;

// Brand Colors
$brand-brown  : rgba(69, 54, 53, 1.0);
$brand-red    : rgba(255, 89, 89, 1.0);
$brand-yellow : rgba(254, 197, 54, 1.0);
$brand-teal   : rgba(152, 207, 198, 1.0);

$default-font-color   : #ffffff;
$default-border-color : $brand-brown;

// Default for starting body font-size
$browser-context : 16;
$base-font-size : #{$browser-context + 'px'};

// Input variables
$default-input-color : #ffffff;
$default-input-background-color : $brand-brown;
$default-input-border-color : $brand-brown;

$default-border-radius : 3px;

/*
 * 2.0 - Layout
 *
 * Variables that effect the layout.
 * Examples - containers, grid resets
 *
 */

$minWidth            : 25rem;
$textWidth           : 40rem;
$containerWidth      : 73.125rem;
$outerContainerWidth : 90rem;
$fullWidth           : 100%;

/*
 * 3.0 - Typography
 *
 * Variables that effect the typography.
 * Examples - pixel to ems, pixel to rems
 *
 */

// List of text based html inputs
$all-text-inputs         : _assign-inputs($_text-inputs-list);
$all-text-inputs-active  : _assign-inputs($_text-inputs-list, active);
$all-text-inputs-focus   : _assign-inputs($_text-inputs-list, focus);
$all-text-inputs-hover   : _assign-inputs($_text-inputs-list, hover);
$all-text-inputs-invalid : _assign-inputs($_text-inputs-list, invalid);

/*
 * 5.0 - Buttons
 *
 * Variables that effect buttons.
 * Examples - buttons, active buttons, etc.
 * @example scss
 *   #{all-buttons} {
 *       background-color : #foo;
 *   }
 *   css output
 *      button,
 *      [type='button'],
 *      [type='reset'],
 *      [type='submit'] {
 *          background-color: #f00;
 *      }
 */

$all-buttons        : _assign-inputs($_buttons-list);
$all-buttons-active : _assign-inputs($_buttons-list, active);
$all-buttons-focus  : _assign-inputs($_buttons-list, focus);
$all-buttons-hover  : _assign-inputs($_buttons-list, hover);


/*
 * 6.0 - Timing Functions
 *
 * CSS cubic-bezier timing functions.
 * @link https://goo.gl/p8u6SK
 *
 */

$ease-in-quad      : cubic-bezier(0.550,  0.085, 0.680, 0.530);
$ease-in-cubic     : cubic-bezier(0.550,  0.055, 0.675, 0.190);
$ease-in-quart     : cubic-bezier(0.895,  0.030, 0.685, 0.220);
$ease-in-quint     : cubic-bezier(0.755,  0.050, 0.855, 0.060);
$ease-in-sine      : cubic-bezier(0.470,  0.000, 0.745, 0.715);
$ease-in-expo      : cubic-bezier(0.950,  0.050, 0.795, 0.035);
$ease-in-circ      : cubic-bezier(0.600,  0.040, 0.980, 0.335);
$ease-in-back      : cubic-bezier(0.600, -0.280, 0.735, 0.045);

$ease-out-quad     : cubic-bezier(0.250,  0.460, 0.450, 0.940);
$ease-out-cubic    : cubic-bezier(0.215,  0.610, 0.355, 1.000);
$ease-out-quart    : cubic-bezier(0.165,  0.840, 0.440, 1.000);
$ease-out-quint    : cubic-bezier(0.230,  1.000, 0.320, 1.000);
$ease-out-sine     : cubic-bezier(0.390,  0.575, 0.565, 1.000);
$ease-out-expo     : cubic-bezier(0.190,  1.000, 0.220, 1.000);
$ease-out-circ     : cubic-bezier(0.075,  0.820, 0.165, 1.000);
$ease-out-back     : cubic-bezier(0.175,  0.885, 0.320, 1.275);

$ease-in-out-quad  : cubic-bezier(0.455,  0.030, 0.515, 0.955);
$ease-in-out-cubic : cubic-bezier(0.645,  0.045, 0.355, 1.000);
$ease-in-out-quart : cubic-bezier(0.770,  0.000, 0.175, 1.000);
$ease-in-out-quint : cubic-bezier(0.860,  0.000, 0.070, 1.000);
$ease-in-out-sine  : cubic-bezier(0.445,  0.050, 0.550, 0.950);
$ease-in-out-expo  : cubic-bezier(1.000,  0.000, 0.000, 1.000);
$ease-in-out-circ  : cubic-bezier(0.785,  0.135, 0.150, 0.860);
$ease-in-out-back  : cubic-bezier(0.680, -0.550, 0.265, 1.550);










