<!-- /// START module-agenda -->
<section class="module speakersContainer">
    <div class="innerContainer">
        {% for speaker in speakers %}
        <div class="speakerContainer" id="{{speaker.name | lower | replace(" ", "")}}">
            <div class="imgFlex">
                <img src="./img/headshots/{{speaker.headshot}}" alt="">
            </div>
            <div class="speakerFlex">
                <div class="speakerDetails">
                    <p>{{speaker.name}}</p>
                    <p>{{speaker.job}}</p>
                </div>
                <div class="speakerBio">
                    <p>{{speaker.bio | striptags(true) | escape | nl2br}}</p>
                </div>
                <div class="readmore point-down">
                    <p><span class="read-text">Read more</span> <img class="" src="./img/icons/icon-read-more-down.svg" alt="Read More arrow" /></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<!-- /// END module-agenda -->