<div class="globalHero" style='background-image: url(./img/design/nyc-header-large.jpg)'></div>
<div class="eventDateContainer">
    <div class="innerContainer">
        <h2>Networking</h2>
    </div>
</div>

<!-- /// START module-agenda -->
<section class="standardContainer wide">
  <div class="innerText">

    <div class="grid reversed-on-mobile">
        <h2 class="new hod">EVENING EXPERIENCES</h2>
        <div class="wide">
            <img src="./img/design/social1mobile.jpg" class="hod" />
            <h2 class="new hom">EVENING EXPERIENCES</h2>
            <p><strong>Welcome Reception, Dinner, and Special Performance | November 13</strong></p> 
            <p>The SAP Global CEO Summit will kick off on the evening of November 13 at Jazz at Lincoln Center’s Frederick P. Rose Hall with an intimate networking dinner and a special performance by Grammy Award winner Sting.</p>
            <p>Join Bill and Julie McDermott, along with speakers, participants, and their guests, for a magical evening to build friendships and connections that will extend beyond the Summit.</p>

            <p><strong>CEO Summit After Party | November 14</strong></p>
            <p>What better way to cap off the program than with a closing reception on November 14 at the stunning Ascent Lounge in the Time Warner Center. In a setting with stunning views of Columbus Circle and luxurious décor, this evening will be hosted by Bill and Julie McDermott where you’ll enjoy fabulous food, drink and continued conversation.</p>

        </div>
        <div class="narrow">
            <img src="./img/design/social1.jpg" class="hom" />
        </div>
    </div>

    <div class="grid reversed">
        <div class="wide">
            <h2 class="new">HOSPITALITY</h2>
            <img src="./img/design/social2mobile.jpg" class="hod" />
            <p>Throughout the program, the SAP CEO concierge team will be available to answer questions.</p>

            <p>On Thursday, there will be plenty of opportunities to network with speakers, participants, and guests.</p>

        </div>
        <div class="narrow hom">
            <img src="./img/design/social2.jpg" alt="">
        </div>
    </div>

    <div class="grid">
        <div class="wide">
            <h2 class="new">LOGISTICS</h2>
            <img src="./img/design/social3mobile.jpg" class="hod" />
            <p>
                <strong>Airport Information</strong><br>
                John F. Kennedy International Airport (JFK)<br>
                LaGuardia Airport (LGA)<br>
                Newark Liberty International Airport (EWR)
            </p>

            <p>
                <strong>Airport Transfers</strong><br>
                SAP will provide round-trip ground transportation between your airport or train station and the Mandarin Oriental, New York hotel, which is within a 50-minute drive of all airports.
            </p>
            <p>Please provide your travel information on the concierge form.</p>


    
        </div>
        <div class="narrow hom">
            <img src="./img/design/social3.jpg"/>
        </div>
    </div>


    
</div>
</section>


<!-- /// END module-agenda -->