<!-- /// START module-agenda -->
<section class="module agendaContainer">
    <h2>AGENDA</h2>
    <article>
        <h3 class="agendaDate">Wednesday, November 7</h3>
        <div class="agendaSession">
            <div class="time">7:00 p.m.</div>
            <div class="title">Welcome Reception<br>Billie Holiday Terrace, 6th Floor of Jazz at Lincoln Center</div>
        </div>
        <div class="agendaSession borderTop">
            <div class="time">7:30 p.m.</div>
            <div class="title">Dinner with reserved seating</div>
        </div>
        <div class="agendaSession borderTop">
            <div class="time">9:15 p.m.</div>
            <div class="title">CEO Summit presents</div>
        </div>
        {% for session in sessions_dinner %}
            <div class="sessionDetails">
                <h4>{{session.title}}</h4>
                {% if session.desc %}
                    <p>{{session.desc}}</p>
                {% endif %}
                {% for speaker in session.speakers %}
                <div class="speakerDetails">
                    <img src="./img/headshots/{{speaker.headshot}}" alt="">
                    <div>
                        <p><span class="fancyTrigger" data-src="#{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">{{speaker.name}}</span></p>
                        {# <p><a href="./speakers.html#{{speaker.name | lower | replace(" ", "")}}">{{speaker.name}}</a></p> #}
                        <p>{{speaker.job}}</p>
                    </div>
                    <div class="agendaBio" style="display: none;" id="{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">
                        <img src="./img/headshots/{{speaker.headshot}}" alt="">
                        <div class="modalDetails">
                            <p>{{speaker.name}}</p>
                            <p>{{speaker.job}}</p>
                            <div class="speakerBio">
                                {# <p>{{speaker.bio | striptags(true) | escape | nl2br}}</p> #}
                                <p>{{speaker.bio | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        <div class="agendaSession borderTop">
            <div class="time">10:30 p.m.</div>
        <div class="title">Evening ends</div>
        </div>
        <h3 class="agendaDate">Thursday, November 8</h3>
        <div class="agendaSession">
            <div class="time">7:45 a.m.</div>
            <div class="title">Networking Breakfast<br>Atrium, 5th Floor of Jazz at Lincoln Center</div>
        </div>
        <div class="agendaSession borderTop">
            <div class="time">9:00 a.m.</div>
            <div class="title">Morning Sessions<br>Appel Room</div>
        </div>
        <div class="sessionSpeakers">
            {% for session in sessions_morning %}
            <div class="sessionDetails">
                <h4>{{session.title | safe}}</h4>
                {% if session.desc %}
                    <p>{{session.desc}}</p>
                {% endif %}
                {% for speaker in session.speakers %}
                <div class="speakerDetails">
                    <img src="./img/headshots/{{speaker.headshot}}" alt="">
                    <div>
                        {% if speaker.bio %}
                        <p><span class="fancyTrigger" data-src="#{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">{{speaker.name}}</span></p>
                        {% else %}
                        <p>{{speaker.name}}</p>
                        {% endif %}
                        {# <p><a href="./speakers.html#{{speaker.name | lower | replace(" ", "")}}">{{speaker.name}}</a></p> #}
                        <p>{{speaker.job}}</p>
                    </div>
                    <div class="agendaBio" style="display: none;" id="{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">
                        <img src="./img/headshots/{{speaker.headshot}}" alt="">
                        <div class="modalDetails">
                            <p>{{speaker.name}}</p>
                            <p>{{speaker.job}}</p>
                            <div class="speakerBio">
                                {# <p>{{speaker.bio | striptags(true) | escape | nl2br}}</p> #}
                                <p>{{speaker.bio | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="agendaSession borderTop">
                <div class="time">12:00 p.m.</div>
                <div class="title">Networking Lunch<br>Atrium</div>
            </div>
            <div class="agendaSession borderTop">
                <div class="time">1:00 p.m.</div>
                <div class="title">Afternoon Sessions<br>Appel Room</div>
            </div>
            {% for session in sessions_afternoon %}
            <div class="sessionDetails">
                <h4>{{session.title | safe}}</h4>
                {% if session.desc %}
                    <p>{{session.desc}}</p>
                {% endif %}
                {% for speaker in session.speakers %}
                <div class="speakerDetails">
                    <img src="./img/headshots/{{speaker.headshot}}" alt="">
                    <div>
                        {% if speaker.bio %}
                        <p><span class="fancyTrigger" data-src="#{{speaker.name | lower | replace(" ", "") | replace(".", "") | replace(",", "")}}">{{speaker.name}}</span></p>
                        {% else %}
                        <p>{{speaker.name}}</p>
                        {% endif %}
                        {# <p><a href="./speakers.html#{{speaker.name | lower | replace(" ", "")}}">{{speaker.name}}</a></p> #}
                        <p>{{speaker.job | safe}}</p>
                    </div>
                    <div class="agendaBio" style="display: none;" id="{{speaker.name | lower | replace(" ", "") | replace(".", "") | replace(",", "")}}">
                        <img src="./img/headshots/{{speaker.headshot}}" alt="">
                        <div class="modalDetails">
                            <p>{{speaker.name}}</p>
                            <p>{{speaker.job | safe}}</p>
                            <div class="speakerBio">
                                {# <p>{{speaker.bio | striptags(true) | escape | nl2br}}</p> #}
                                <p>{{ speaker.bio | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="agendaSession borderTop">
                <div class="time">4:00 p.m.</div>
                <div class="title">Photo Line with Bill Clinton and George W. Bush</div>
            </div>
            <div class="agendaSession borderTop">
                <div class="time">7:00 p.m.</div>
                <div class="title">After Party Hosted by Bill &amp; Julie McDermott at their Residence</div>
            </div>
        </div>
    </article>
</section>


<!-- /// END module-agenda -->