header {
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 50;

  @media screen and (min-width: 992px) {
    position: static;
  }

  .container {
    padding-top: 10px;
    padding-bottom: 10px;

    @media screen and (min-width: 992px) {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }
  .logo {
    display: flex;
    align-items: flex-end;
    .left-logo {
      img {
        width: 50px;

        @media screen and (min-width: 992px) {
          width: 70px;
        }
      }
    }
    .right-logo {
      .mobile-logo {
        width: 70px;
        margin-left: 30px;

        @media screen and (min-width: 992px) {
          width: 102px;
          margin-left: 30px;

        }
      }
      .desktop-logo {
        display: none;
      }
    }
  }
}

nav {
  border-bottom: 5px solid #f89f1f;
  min-height: 30px;
  position: relative;
  background-color: #000;

  @media screen and (min-width: 992px) {
    border-bottom: 10px solid #f89f1f;
  }


  ul {
    justify-content: center;



    .dropdown-submenu {
      position: relative;
      .dropdown-menu-custom {

        margin-left: 0;
        margin-right: 0;
        background-color: #000;
        li {
          margin-left: 0;
          margin-right: 0;
          list-style-type: none;
        }
      }

    }
    li {
      margin: 10px 30px;
    }
  }
}

.navbar-collapse {
  position: absolute;
  top: 84px;
  background-color: black;
  right: 0px;
  width: calc(100vw - 30px);
  max-width: 450px;
  z-index: 99;
}
@media (min-width: 992px) {
  header {
    .logo {
      justify-content: space-between;

      .right-logo {
        .desktop-logo {
          width: 300px;
          display: block;
        }
        .mobile-logo {
          display: none;
        }
      }
    }
  }
  nav {
    #navbarNav {
      position: initial;
      justify-content: center;
      .dropdown-submenu {
        .dropdown-menu-custom {
          position: absolute;
          width: 200%;
          left: -50%;
          padding-left: 20px;
          display: none;
        }
        &:hover{
          .dropdown-menu-custom{
            display: block;
          }
        }
      }
    }
  }
}

.navbar {
  padding: 0;
}

.navbar-nav {
  padding: 30px;
  margin: 0;

  a {
    padding: 5px 0;
    display: block;
  }
}

.navbar-toggler {
  // position: absolute;
  // top: -90px;
  // left: 86%;
  font-size: 17px;
  border: none;
  padding: 0;

  @media screen and (min-width: 992px) {
    display: none;
  }
}

.navbar-toggler-icon {
  background: url(../img/menu-without-text.png) center center no-repeat;
  width: 100%;
  height: 40px;
}

.ert-stripe {
  height: 20px;
  background: #000;
  border-bottom: solid 5px #f89f1f;
  @media screen and (min-width: 992px) {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .navbar-nav {
    max-width: 960px;
    padding: 30px;
  }
}



@media screen and (min-width: 992px) {
  .logo {
    width: 100%;
  }
  .navbar-collapse {
    position:relative;
    top: 0;
    display: block !important;
    width: 100%;
    border-bottom: solid 10px #f89f1f;
    max-width: 100000px;
  }
  .navbar-nav {
    max-width: 960px;
    padding-top: 0px;
    padding-bottom: 0px;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;

    li a {
      display: block;
      padding: 9px 20px;
    }

    li ul {
      display: none;
      position: absolute;
      background: #000;
      list-style: none;
      margin: 0;
      padding: 0 0 15px 0;
    }

    li:hover ul {
      display: block;
    }
  }

}

@media screen and (min-width: 1200px) {
  .navbar-nav {
    max-width: 1140px;
  }
}

.dropdown-menu-custom {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em;

  a {
    padding: 10px 0;
  }
}
