.headline {
  color: #fff;
  position: relative;
  padding: 30px 0;
  background-color: #01a0b8;
  overflow: hidden;

  @media screen and (min-width: 992px) {
    padding: 30px 0 80px;
  }

  h2 {
    margin: 0;
  }

  p {
    .date {
      font-size: 1.5em;
      font-weight: 500;
      &:after {
        content: "\A";
        white-space: pre;
      }
    }
  }
  .author {
    font-weight: bold;
  }
  .headline-bt {
    img {
      width: 100%;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 4px solid $base;
  }
}
.main-content {
  background-color: #fff;
  position: relative;
  z-index: 9;
  h3 {
    margin: 5px 0;
  }
  .bar {
    background-color: $green;
    padding: 8px 15px;
    color: #fff;
    h3 {
      font-weight: bold;
    }
  }
  .container-small {
    margin: 30px;
    h4 {
      margin-top: 20px;
      margin-bottom: 30px;
      font-weight: bold;
    }
    .readmore {
      a {
        // &:not(.collapsed) {
        //   &:after {
        //     content: "\25BC";
        //     content: "\25B2";
        //   }
        // }
        &:after {
          content: "\25BC";

        }

        color: $lightBlack;
        text-decoration: underline;
      }
    }
    .agenda-section-title{
      font-size: 2.25em;
      color: $green;
      font-weight: bold;
    }
    .agenda-section-content{
      display: flex;

      flex-wrap: wrap;
      div{
        &:first-child{
          width: 30%;
        }
      }
      p{
        font-size: 1.5em;
        font-weight: bold;
      }
      .agenda-section-content-title{
        .agenda-section-content-title-content{
          p{
            font-size: 16px;
            font-weight: initial;
          }
        }
      }
    }

  }
  .img-circle-border {
    text-align: center;
    .img-circle-border-item {
      h3 {
        margin-top: 30px;
        text-decoration: underline;
      }
    }
  }
}

.intro {
  ul {
    display: none;
  }
}


.social-programme-inner {
  .social-programme-item {
    border: 1px solid #efefef;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 0 30px #aaaaaa;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .headline {
    min-height: 352px;
  }
}
@media (min-width: 1201px) {
  .headline {
    min-height: 264px;
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 3em;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.5em;
  }
  #main {
    overflow: hidden;
  }
  .headline {
    background: url("../../assets/img/dotted_map_white.png") center center
      #01a0b8;
    background-size: cover;

    h2 {


      .big-text {
        font-size: 1.5em;
      }
      font-size: 3em;
    }
    p {
      .date {
        font-size: 1.5em;
        &:after {
          content: " | ";
        }
      }
      .author {
        font-size: 1.5em;
      }
    }
    &:after {
      content: "";
      display: block;
      width: 200%;
      left: -50%;
      height: 600px;
      bottom: -550px;
      position: absolute;
      background: #fff;
      border-radius: 100%;
      border: 10px solid $base;
    }
  }
  .intro {
    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        margin: 0 0 50px 0;
        img {
          width: 100%;
        }
      }
    }

      .paragraph-big-text {
        font-size: 1.5em;
      }

  }
  .main-content {
    background: #fff;
    position: relative;
    top: -1px;
    .bar {
      background-color: #01a0b8;
      padding: 8px 15px;
      color: #fff;
    }
    h3 {
      font-size: 2.25em;
    }
    .img-circle-border {
      margin-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      text-align: center;
      .img-circle-border-item {
        width: 270px;
        margin: 0 40px;
        &:first-child {
        }
        h3 {
          font-weight: bold;
        }
        img {
          border: 10px solid #f7941c;
        }
      }
    }
  }
  .social-programme-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.social-programme-item {
  width: 100%;
  padding: 30px;

  img {
    width: 100%;
    display: block;
    margin-bottom: 1em;
  }
  h3 {
    font-weight: normal;
    margin: 0;
  }
  h4 {
    margin: 1em 0 1.5em;
  }
  button {
    background-color: #01a0b8;
    padding: 12px;
    font-size: 1.3em;
    color: #fff;
  }
}

.intro {
  padding-top: 40px;
}
@media screen and (min-width: 992px) {
  .intro {
    padding-top: 40px;
  }

  .social-programme-item {
    width: 48.7%;
  }
}

.modal-header {
  border-bottom: none;
}

.modal-header .close {
  font-size: 32px;
}

.mb0 {
  margin-bottom: 0 !important;
}
