h2 {
  font-size: 1.875em;
  line-height: 1.5;
  font-weight: bold;
  margin: 0;
}
h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 30px 0;
}
h4 {
  font-size: 1em;
}
hr {
  border-top: 1px solid $divisionColorBlack;
}
.division {
  border-top: 5px solid $green;
}

.navbar-nav a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    color: $base;
    text-decoration: underline;
  }
  &:active {
    color: $base;
    text-decoration: underline;
  }
}


a {
  color: #000;
  text-decoration: underline;
  &:hover,
  &:active  {
    color: #000;
    text-decoration: underline;
  }
}


@media (min-width: 576px) {
  .modal-dialog {
      max-width: 500px;
      margin: 1.75rem auto;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 670px;
    margin: 1.75rem auto;
}
}

