$sap-gold : rgb(192, 158, 50);
$black      : rgb(0, 0, 0);
$white      : rgb(255, 255, 255);
$blue       : rgb(0, 114, 198);
$gray       : rgb(80, 80, 80);
$red        : rgb(223, 7, 7);

// Global Variables
$brand-background-color : $white;
$brand-background-footer : $black;
$brand-error : $red;

// Typography
$brand-primary-link : $black;
$brand-secondary-link : $sap-gold;

// $brand-li-icon : url("./img/icons/icon-check-negative.svg");

// Icons
$brand-icon-color : $white;

// Buttons
$brand-cta1       : $black;
$brand-cta1-hover : lighten($black, 10%);
$brand-cta1-text  : $white;
// $brand-cta-arrow  : url("./img/icons/icon-arrow-right-dark.svg");

// Overlays
$brand-overlay : none;

// Forms
$brand-label : $gray;

