@charset "UTF-8";
/*  Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
--------------------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

sup {
  line-height: 0; }

/*
 * Helpers Frodo
 *
 * Lists of html elements to be used by other functions and mixing
 *
 */
/*********************************************
 * FUNCTIONS
 *********************************************/
/*
 * 2.0 - Layout
 *
 * Functions that effect the layout.
 * Examples - containers, grid resets
 *
 */
/*
 * 3.0 - Typography
 *
 * Functions that effect the typography.
 * Examples - pixel to ems, pixel to rems
 *
 */
/*
 * 4.0 - Validators/Formatting
 *
 * Functions that check a condition to be used in other functions or mixins.
 * Won't be called on their own
 * Examples - _is-falsy, _compact-shorthand
 *
 */
/*
 * Table of Contents for WordPress Boilplate SCSS utility variables
 *
 * 1.0 - Notes
 * 2.0 - Defaults
 * 3.0 - Layout
 * 4.0 - Typography
 * 5.0 - Buttons
 * 6.0 - Timing Functions
 * 7.0 - Media
 * 8.0 - Forms
 * 9.0 - Widgets
 *
 */
/*
 * 1.0 - Notes
 *
 * Variables in this file are being used by mixins and other styles
 * Variables in this file are loaded before theme specific variables
 * These variables are used by the functions and mixins in the Utilities folder
 *
 */
/*
 * 2.0 - Defaults
 *
 * Variables that are used as defaults, can be overridden by theme specific variables
 * Examples - $browers-context,
 *
 */
/*
 * 2.0 - Layout
 *
 * Variables that effect the layout.
 * Examples - containers, grid resets
 *
 */
/*
 * 3.0 - Typography
 *
 * Variables that effect the typography.
 * Examples - pixel to ems, pixel to rems
 *
 */
/*
 * 5.0 - Buttons
 *
 * Variables that effect buttons.
 * Examples - buttons, active buttons, etc.
 * @example scss
 *   all-buttons {
 *       background-color : #foo;
 *   }
 *   css output
 *      button,
 *      [type='button'],
 *      [type='reset'],
 *      [type='submit'] {
 *          background-color: #f00;
 *      }
 */
/*
 * 6.0 - Timing Functions
 *
 * CSS cubic-bezier timing functions.
 * @link https://goo.gl/p8u6SK
 *
 */
/*********************************************
 * MIXINS
 *********************************************/
/*
 * 2.0 - Layout
 *
 * Mixins that effect the layout.
 * Examples - containers, grid resets, directional property
 *
 */
/*
 * 3.0 - Typography
 *
 * Mixins that effect the typography.
 * Examples - pixel to ems, pixel to rems, hide text, hide visually
 *
 */
/*
 * 6.0 - Borders
 *
 * Mixins that effect border styles.
 * Examples - border-color, border-styles, etc.
 *
 */
@font-face {
  font-family: 'Segoe UI Light';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Light.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Light.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Light.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Light.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Light.svg#SegoeUI-Light") format("svg");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Light Italic';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-LightItalic.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-LightItalic.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-LightItalic.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-LightItalic.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-LightItalic.svg#SegoeUI-LightItalic") format("svg");
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI Semilight';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semilight.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semilight.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semilight.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semilight.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semilight.svg#SegoeUI-Semilight") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Semilight Italic';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemilightItalic.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemilightItalic.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemilightItalic.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemilightItalic.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemilightItalic.svg#SegoeUI-SemilightItalic") format("svg");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI.svg#SegoeUI") format("svg");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Italic';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Italic.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Italic.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Italic.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Italic.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Italic.svg#SegoeUI-Italic") format("svg");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI Semibold';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semibold.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semibold.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semibold.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semibold.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Semibold.svg#SegoeUI-Semibold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Semibold Italic';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemiboldItalic.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemiboldItalic.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemiboldItalic.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-SemiboldItalic.svg#SegoeUI-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Segoe UI Bold';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Bold.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Bold.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Bold.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-Bold.svg#SegoeUI-Bold") format("svg");
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Segoe UI Bold Italic';
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-BoldItalic.eot");
  src: url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-BoldItalic.eot?#iefix") format("embedded-opentype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-BoldItalic.woff") format("woff"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-BoldItalic.tff") format("truetype"), url("http://resources.synnexcorp.com/rs/707-ZFS-030/images/SegoeUI-BoldItalic.svg#SegoeUI-BoldItalic") format("svg");
  font-weight: 900;
  font-style: italic; }

em {
  font-style: italic; }

/*
 *
 * The classes and variables below are used for container classes
 * The variables are breakpoints parameters used in the @mixin media($desktop)
 *
 */
.columns {
  display: flex; }

.columnsCenter {
  display: flex;
  align-items: center; }

.column {
  display: flex;
  flex: 1;
  flex-direction: column; }

.innerContainer {
  padding: 0 7.8125vw;
  margin: 0 auto;
  width: 100%;
  max-width: calc(1170px + 15.625vw);
  height: 100%; }
  .innerContainer::after {
    clear: both;
    content: "";
    display: block; }

.innerContainerFull {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 73.125rem;
  height: 100%; }
  .innerContainerFull::after {
    clear: both;
    content: "";
    display: block; }

.innerText {
  padding: 0 7.8125vw;
  margin: 0 auto;
  width: 100%;
  max-width: calc(770px + 15.625vw); }
  .innerText::after {
    clear: both;
    content: "";
    display: block; }
  @media only screen and (min-width: 1300px) {
    .innerText {
      padding: 0;
      max-width: calc(770px); } }

.innerContent {
  padding: 0 1em;
  margin: 0 auto;
  width: 100%;
  max-width: 68em; }

.outerContainer {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  max-width: 90em; }
  .outerContainer::after {
    clear: both;
    content: "";
    display: block; }

/*---------------------------------------------------------
 * Typography Variables
 *-------------------------------------------------------*/
/*---------------------------------------------------------
 * Color Variables
 *-------------------------------------------------------*/
/*---------------------------------------------------------
 * UI Variables
 *-------------------------------------------------------*/
/*---------------------------------------------------------
 * Theme Variables
 * - variables are defined in the brand specific file
 *-------------------------------------------------------*/
body {
  color: black;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.375; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Arial, sans-serif;
  color: black;
  line-height: 1.375;
  margin: 0 0 0.6875em;
  font-weight: bold; }

h1, .h1 {
  font-size: 2.25rem; }
  @media screen and (min-width: 25rem) {
    h1, .h1 {
      font-size: calc(2.25rem + 1.75 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h1, .h1 {
      font-size: 4rem; } }

h2, .h2 {
  color: #c09e32; }
  h2, .h2 {
    font-size: 1.125rem; }
    @media screen and (min-width: 25rem) {
      h2, .h2 {
        font-size: calc(1.125rem + 0.875 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      h2, .h2 {
        font-size: 2rem; } }
  @media only screen and (min-width: 1024px) {
    h2, .h2 {
      letter-spacing: 2px; } }

h3, .h3 {
  margin-bottom: 1.25rem; }
  h3, .h3 {
    font-size: 1.125rem; }
    @media screen and (min-width: 25rem) {
      h3, .h3 {
        font-size: calc(1.125rem + 0.625 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      h3, .h3 {
        font-size: 1.75rem; } }

h4, .h4 {
  line-height: 1.125;
  margin-bottom: 0.9375rem; }
  h4, .h4 {
    font-size: 1.125rem; }
    @media screen and (min-width: 25rem) {
      h4, .h4 {
        font-size: calc(1.125rem + 0.225 * ((100vw - 25rem) / 48.125)); } }
    @media screen and (min-width: 73.125rem) {
      h4, .h4 {
        font-size: 1.35rem; } }

h5, .h5 {
  font-size: 1.125rem; }
  @media screen and (min-width: 25rem) {
    h5, .h5 {
      font-size: calc(1.125rem + 0.025 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h5, .h5 {
      font-size: 1.15rem; } }

h6, .h6 {
  font-size: 1.125rem; }
  @media screen and (min-width: 25rem) {
    h6, .h6 {
      font-size: calc(1.125rem + 0.125 * ((100vw - 25rem) / 48.125)); } }
  @media screen and (min-width: 73.125rem) {
    h6, .h6 {
      font-size: 1.25rem; } }

p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.875rem; }
  p + p:last-of-type {
    margin-bottom: 0; }

a {
  transition: all 300ms ease;
  text-decoration: underline;
  color: black; }
  a:hover {
    text-decoration: none; }
  a:active {
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

ul {
  margin: 1rem 0;
  padding: 0 0 0 2.25rem;
  list-style: none; }
  ul li {
    font-size: 1rem;
    line-height: 1.875rem;
    letter-spacing: 0;
    font-weight: 400;
    color: black;
    position: relative;
    margin-bottom: 1rem; }
  @media only screen and (min-width: 1024px) {
    ul {
      font-size: 1.125rem;
      line-height: 2.25rem;
      letter-spacing: 0;
      font-weight: 400;
      color: #505050; } }

ol {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 2.5rem; }
  ol li {
    font-size: 1rem;
    line-height: 2rem;
    letter-spacing: 0;
    font-weight: 400;
    color: #505050;
    padding-left: 1rem;
    margin-bottom: 1.5rem; }

strong {
  font-weight: 700; }

hr {
  border-bottom: #e6e6e6;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.375em 0; }

.searchBox {
  background: #c09e32;
  height: 45px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }
  .searchBox div.innerContainer {
    display: flex; }
  .searchBox input {
    padding: 0.3125rem 0.625rem;
    color: black;
    width: calc(100% - 55px);
    height: 30px;
    border: none;
    border-radius: 0;
    -webkit-appearance: none; }
    .searchBox input {
      font-size: 1rem; }
      @media screen and (min-width: 25rem) {
        .searchBox input {
          font-size: calc(1rem + 0.5 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        .searchBox input {
          font-size: 1.5rem; } }
  .searchBox button {
    width: 53px;
    height: 30px;
    border: none;
    background: black; }
    .searchBox button img {
      width: 21px; }
  @media only screen and (min-width: 750px) {
    .searchBox {
      height: 88px;
      padding: 1.375rem 0; }
      .searchBox div.innerContainer {
        max-width: calc(1170px);
        padding-right: 4.375rem;
        padding-left: 4.375rem; }
      .searchBox input {
        padding: 0.625rem;
        height: 44px; }
      .searchBox button {
        height: 44px; } }
  @media only screen and (min-width: 1024px) {
    .searchBox {
      margin-right: auto;
      margin-left: auto; } }

/*
 *
 * Styles that apply globally to the site
 *
 */
html, body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background: white; }

*, *:before, *::before, *:after, *::after {
  box-sizing: inherit; }

a,
a img {
  border: 0;
  outline: none; }

img {
  max-width: 100%;
  height: auto; }

.embedHolder {
  margin-right: auto;
  margin-left: auto;
  max-width: 60.625em; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

img[src$=".gif"] {
  width: initial; }

.cf::after {
  clear: both;
  content: "";
  display: block; }

#goTop {
  position: fixed;
  bottom: 0.25em;
  right: 0.25em;
  color: #fdb5b5;
  font-size: 2em;
  z-index: 9999; }
  #goTop:hover {
    border: none; }

.caps {
  text-transform: uppercase; }

.blockDisplay {
  display: block; }

/* Display Classes */
@media all and (max-width: 749px) {
  .hide-small {
    display: none !important; } }

@media all and (min-width: 750px) {
  .hide-med {
    display: none; } }

@media all and (min-width: 1025px) {
  .hide-large {
    display: none; } }

.alert, .message, .success {
  padding: 1em 2em;
  margin: 2em 0;
  font-family: Arial, sans-serif;
  font-weight: 600;
  font-size: .925em; }

.alert {
  color: #df0707;
  background-color: rgba(223, 7, 7, 0.1); }

.message {
  color: #f8e71c;
  background-color: rgba(248, 231, 28, 0.1); }

.success {
  color: #4caf50;
  background-color: rgba(76, 175, 80, 0.1); }

.visHide {
  padding: 0;
  position: absolute;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: circle(1% at 1% 1%);
          clip-path: circle(1% at 1% 1%);
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  width: 1px; }

.text-button {
  display: inline-block;
  background: black;
  color: #c09e32;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 14px; }
  .text-button:hover {
    background: #c09e32;
    color: black; }

.standardContainer {
  padding-top: 1.1875rem;
  padding-bottom: 3.125rem; }

@media only screen and (min-width: 1024px) {
  .standardContainer {
    padding-top: 3.125rem;
    padding-bottom: 6.25rem; } }

.wide .innerText {
  max-width: 100%; }

.globalHero {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 134px;
  width: 100%; }

.eventDateContainer {
  background: black;
  height: 44px; }
  .eventDateContainer h2 {
    margin-bottom: 0;
    line-height: 44px; }
    .eventDateContainer h2 {
      font-size: 1.125rem; }
      @media screen and (min-width: 25rem) {
        .eventDateContainer h2 {
          font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        .eventDateContainer h2 {
          font-size: 1.5rem; } }

.grid {
  display: flex;
  flex-wrap: wrap; }
  .grid.reverse-on-mobile .narrow {
    display: none; }
  .grid.vertical-align {
    align-items: center; }
  .grid p + p:last-of-type {
    margin-bottom: 1.875rem; }

@media screen and (min-width: 768px) {
  .grid {
    display: flex;
    margin: 2rem 0;
    flex-wrap: nowrap; }
    .grid.reverse-on-mobile .narrow {
      display: block; }
    .grid.reversed {
      flex-direction: row-reverse; }
      .grid.reversed .wide {
        margin-right: 0; }
      .grid.reversed .narrow {
        margin-right: 5%; }
    .grid > div {
      margin: 0; }
    .grid .wide {
      flex-basis: 60%;
      margin-right: 5%; }
      .grid .wide.fifty {
        flex-basis: 47.5%; }
    .grid .narrow {
      flex-basis: 35%; }
      .grid .narrow.fifty {
        flex-basis: 47.5%; } }

@media only screen and (min-width: 750px) {
  .globalHero {
    height: 150px;
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  .globalHero {
    height: 300px;
    width: 100%; }
  .eventDateContainer {
    height: 50px; }
    .eventDateContainer h2 {
      padding-right: 1.875rem;
      padding-left: 0;
      line-height: 50px; } }

@media only screen and (min-width: 1300px) {
  .wide .innerText {
    max-width: 100%;
    max-width: calc(1170px + 15.625vw);
    padding: 0 7.8125vw; } }

blockquote {
  position: relative;
  padding: 40px 0; }
  @media only screen and (min-width: 750px) {
    blockquote {
      padding: 50px 0; } }
  blockquote:before {
    content: '“';
    font-size: 80px;
    line-height: 1;
    display: block;
    position: absolute;
    top: 0; }
    @media only screen and (min-width: 750px) {
      blockquote:before {
        font-size: 80px; } }
    @media only screen and (min-width: 1300px) {
      blockquote:before {
        font-size: 80px; } }
  blockquote:after {
    content: '”';
    font-size: 80px;
    line-height: 1;
    display: block;
    position: absolute;
    bottom: -10px; }
    @media only screen and (min-width: 750px) {
      blockquote:after {
        font-size: 80px;
        bottom: -5px; } }
    @media only screen and (min-width: 1300px) {
      blockquote:after {
        font-size: 80px;
        bottom: -15px; } }
  blockquote p {
    font-style: italic;
    font-size: 16px; }
    @media only screen and (min-width: 750px) {
      blockquote p {
        font-size: 18px; } }
    @media only screen and (min-width: 1300px) {
      blockquote p {
        font-size: 21px; } }
  blockquote cite {
    display: block;
    text-align: right;
    font-size: 14px; }
    @media only screen and (min-width: 750px) {
      blockquote cite {
        font-size: 17px; } }
    @media only screen and (min-width: 1300px) {
      blockquote cite {
        font-size: 20px; } }

h2.new {
  color: #000;
  margin: 0 0 1rem;
  letter-spacing: 0;
  font-size: 20px; }
  @media only screen and (min-width: 750px) {
    h2.new {
      font-size: 22px;
      margin: 0 0 1rem; } }

@media screen and (min-width: 768px) {
  .hod {
    display: none; } }

@media screen and (max-width: 767px) {
  .hom {
    display: none; } }

.grid img {
  margin-bottom: 1rem; }

.no-bold {
  font-weight: normal !important; }

.speakerDetails {
  display: flex;
  align-items: center; }
  .speakerDetails img {
    border-radius: 10000px;
    max-width: 100px;
    height: auto;
    width: 100px;
    width: 60px;
    flex-shrink: 0; }
    @media screen and (min-width: 768px) {
      .speakerDetails img {
        width: 100px; } }
  .speakerDetails .speaker-visible {
    margin-left: 1rem; }
    .speakerDetails .speaker-visible p {
      margin: 0; }

.agendaSession .speakerDetails {
  padding: 1.5rem 0 0 0; }

.fancyTrigger:hover {
  cursor: pointer;
  text-decoration: underline; }

.eventDateContainer .innerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .eventDateContainer .innerContainer:after {
    display: none; }

.eventDateContainer .legend {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  color: #fff; }
  .eventDateContainer .legend img.icon {
    width: 16px;
    line-height: 1.5;
    display: inline-block; }
    @media only screen and (min-width: 750px) {
      .eventDateContainer .legend img.icon {
        width: 20px; } }
    .eventDateContainer .legend img.icon.flip {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .eventDateContainer .legend li {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: calc(0.8rem + 0.2 * ((100vw - 25rem) / 48.125)); }
    .eventDateContainer .legend li a {
      color: #fff;
      text-decoration: none;
      display: block;
      display: flex;
      align-content: center;
      align-items: center; }
      .eventDateContainer .legend li a:hover {
        text-decoration: underline; }
      .eventDateContainer .legend li a span {
        padding-left: 4px; }

.scroll-up {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 44px;
  height: 44px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out; }
  .scroll-up:hover {
    cursor: pointer; }
  .scroll-up.visible {
    opacity: 1;
    visibility: visible; }
  .scroll-up img {
    display: block; }

html {
  scroll-behavior: smooth; }

@media only screen and (min-width: 750px) {
  .button {
    border: none;
    padding: 0;
    position: relative;
    top: -3px; }
    .button a {
      background: #c09e32;
      padding: 10px;
      color: #000; }
      .button a:after {
        display: none !important; }
    .button:hover a {
      border-bottom: none !important;
      background: #fff;
      color: #000; } }

footer {
  padding-top: 1.625rem;
  padding-bottom: 1rem;
  background: black; }
  footer a {
    display: block; }
  footer .footerCEOLogo img {
    margin-bottom: 0.8125rem;
    display: block;
    width: 195px; }
  footer .footerDate {
    padding-bottom: 15px; }
    footer .footerDate p {
      color: #c09e32;
      line-height: 1.15;
      font-weight: bold;
      margin-bottom: 0; }
      footer .footerDate p {
        font-size: 0.875rem; }
        @media screen and (min-width: 25rem) {
          footer .footerDate p {
            font-size: calc(0.875rem + 0.125 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          footer .footerDate p {
            font-size: 1rem; } }
  footer a.footerBrandLogo {
    text-align: right; }
    footer a.footerBrandLogo img {
      width: 130px; }
  @media only screen and (min-width: 1024px) {
    footer {
      padding-top: 2.1875rem;
      padding-bottom: 2.1875rem; }
      footer div.innerContainer {
        display: flex;
        justify-content: space-between; }
        footer div.innerContainer:after {
          display: none; }
      footer .footerCEOLogo img {
        margin-bottom: 0.9375rem;
        width: 200px; }
      footer .footerDate {
        padding-bottom: 0px; }
        footer .footerDate p {
          color: #c09e32; }
      footer a.footerBrandLogo {
        align-self: center;
        text-align: right; }
        footer a.footerBrandLogo img {
          width: 227px;
          display: block; } }

header {
  padding-top: 0.5rem;
  padding-bottom: 0.5625rem;
  background: black;
  height: 44px;
  position: fixed;
  width: 100%;
  z-index: 100; }
  header div.innerContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    header div.innerContainer::after {
      display: none; }
  header h1.siteTitle {
    padding: 0;
    position: absolute;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: circle(1% at 1% 1%);
            clip-path: circle(1% at 1% 1%);
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    width: 1px; }
  header .headerLogoContainer a {
    display: block; }
    header .headerLogoContainer a img {
      width: 120px; }
  header div.navHamburger {
    flex: 1;
    text-align: right; }
    header div.navHamburger:hover {
      cursor: pointer; }
    header div.navHamburger img {
      width: 27px; }
    header div.navHamburger span {
      font-size: 0.5625rem;
      line-height: 0.3125rem;
      letter-spacing: 0;
      font-weight: 400;
      color: #c09e32;
      display: block;
      text-transform: uppercase; }
  @media only screen and (min-width: 750px) {
    header {
      padding: 1rem 0;
      height: auto; }
      header div.innerContainer {
        align-items: center; }
      header .headerLogoContainer a img {
        max-width: 170px;
        width: 100%; }
      header div.navHamburger {
        display: none; } }
  @media only screen and (min-width: 750px) {
    header .headerLogoContainer a img {
      width: 100%; } }
  @media only screen and (min-width: 850px) {
    header .headerLogoContainer a img {
      max-width: 300px;
      width: 100%; } }
  @media only screen and (min-width: 1024px) {
    header {
      padding: 1.5rem 0;
      height: auto; }
      header div.innerContainer {
        align-items: center; }
      header .headerLogoContainer a img {
        width: 300px; }
      header div.navHamburger {
        display: none; } }

#wrapper {
  padding-top: 44px; }
  @media only screen and (min-width: 750px) {
    #wrapper {
      padding-top: 103px; } }
  @media screen and (min-width: 850px) {
    #wrapper {
      padding-top: 142px; } }
  @media only screen and (min-width: 1024px) {
    #wrapper {
      padding-top: 165px; } }
  @media screen and (min-width: 1300px) {
    #wrapper {
      padding-top: 170px; } }

nav {
  position: absolute;
  top: 42px;
  right: 0;
  padding: 1.5625rem 1.875rem;
  background: black;
  visibility: hidden;
  opacity: 0;
  min-width: 14rem;
  transition: all .5s ease;
  display: block; }
  nav.nav-open {
    visibility: visible;
    opacity: 1; }
  nav ul {
    padding: 0;
    margin: 0; }
    nav ul li {
      margin-bottom: 1.5625rem; }
      nav ul li:last-child {
        margin-bottom: 0; }
      nav ul li a {
        font-size: 1.125rem;
        line-height: 1.4375rem;
        letter-spacing: 2.25px;
        font-weight: bold;
        color: #c09e32;
        text-decoration: none;
        display: inline-block;
        position: relative;
        padding-bottom: 5px;
        text-transform: uppercase; }
        nav ul li a::after {
          position: absolute;
          right: 0;
          bottom: 0;
          left: 0;
          height: 5px;
          background: transparent;
          display: block;
          width: 100%;
          content: '';
          transition: all 0.5s ease; }
      nav ul li:hover, nav ul li.activeNav {
        cursor: pointer; }
        nav ul li:hover a, nav ul li.activeNav a {
          color: white; }
          nav ul li:hover a::after, nav ul li.activeNav a::after {
            background: white; }
  @media only screen and (min-width: 750px) {
    nav {
      padding: 1rem 0 0 0;
      display: block;
      position: relative;
      background: transparent;
      visibility: visible;
      opacity: 1;
      min-width: auto;
      width: 100%;
      top: 0; }
      nav ul li.button {
        position: absolute;
        top: -35px;
        right: 0; }
      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap; }
        nav ul li {
          margin: 0;
          display: flex;
          flex-wrap: nowrap;
          line-height: 1;
          align-content: center;
          align-items: center; }
          nav ul li:last-of-type {
            padding-right: 0; }
          nav ul li a {
            font-size: 12px;
            line-height: 1.125;
            letter-spacing: 1.5px;
            font-weight: bold;
            color: #c09e32;
            text-decoration: none;
            text-transform: uppercase;
            display: block; } }
  @media screen and (min-width: 850px) {
    nav ul li.button {
      position: relative;
      top: -3px; } }
  @media only screen and (min-width: 1024px) {
    nav {
      display: flex;
      position: static;
      background: transparent;
      visibility: visible;
      opacity: 1;
      min-width: auto;
      align-self: flex-end;
      padding-top: 1.5rem;
      padding-bottom: 0; }
      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between; }
        nav ul li {
          margin: 0;
          padding: 0 2vw 0 0; }
          nav ul li:last-of-type {
            padding-right: 0; }
          nav ul li a {
            font-size: 0.7rem;
            line-height: 1.125;
            letter-spacing: 3px;
            font-weight: bold;
            color: #c09e32;
            text-decoration: none;
            text-transform: uppercase;
            display: block; } }
  @media only screen and (min-width: 1300px) {
    nav ul li a {
      font-size: 0.9rem; } }

section.locationBar {
  background: #c09e32;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem; }
  section.locationBar .locationInner {
    padding: 0.9375rem 7.8125vw 0.3125rem; }
  section.locationBar .locationImg {
    display: inline-block;
    vertical-align: top;
    text-align: left; }
    section.locationBar .locationImg img {
      width: 70px;
      border-radius: 99em;
      margin-right: 10px; }
  section.locationBar .locationText {
    display: inline-block;
    width: calc(100% - 85px); }
    section.locationBar .locationText p {
      margin-bottom: 0; }
      section.locationBar .locationText p a {
        text-decoration: underline;
        line-height: 1.75; }
  @media only screen and (min-width: 1024px) {
    section.locationBar .locationInner {
      margin-right: auto;
      margin-left: auto;
      padding: 0 7.8125vw;
      max-width: calc(1170px + 15.625vw); }
    section.locationBar .innerHolder {
      margin-right: 7.8125vw;
      margin-left: 7.8125vw;
      padding: 0.9375rem 0;
      display: flex;
      align-items: center; }
    section.locationBar h2 {
      color: black; }
    section.locationBar .locationImg {
      display: inline-block;
      margin-right: 30px; }
      section.locationBar .locationImg img {
        width: 120px;
        border-radius: 99em; }
    section.locationBar .locationText {
      display: inline-block;
      width: calc(100% - 165px); }
      section.locationBar .locationText p {
        margin-bottom: 0; } }

section.agendaHeroContainer .backgroundHeader {
  background: url(./img/design/marbella-mobile-header-large.jpg) no-repeat top right;
  background-size: cover;
  height: 134px;
  width: 100%; }

section.agendaHeroContainer img {
  display: block; }

section.agendaHeroContainer .eventDateContainer {
  background: black;
  height: 44px; }
  section.agendaHeroContainer .eventDateContainer h2 {
    margin-bottom: 0;
    line-height: 44px; }
    section.agendaHeroContainer .eventDateContainer h2 {
      font-size: 1.125rem; }
      @media screen and (min-width: 25rem) {
        section.agendaHeroContainer .eventDateContainer h2 {
          font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        section.agendaHeroContainer .eventDateContainer h2 {
          font-size: 1.5rem; } }

section.agendaHeroContainer .agendaBodyContainer {
  padding-top: 0.8125rem;
  padding-bottom: 1.25rem; }
  section.agendaHeroContainer .agendaBodyContainer .signatureContainer {
    margin-top: 1.875rem; }
    section.agendaHeroContainer .agendaBodyContainer .signatureContainer img {
      max-width: 75px;
      margin-bottom: 1.125rem; }
    section.agendaHeroContainer .agendaBodyContainer .signatureContainer p {
      margin-bottom: 1.125rem; }

@media only screen and (min-width: 750px) {
  section.agendaHeroContainer .backgroundHeader {
    background: url(./img/design/marbella-header-large.jpg) no-repeat top right;
    background-size: cover;
    height: 150px;
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  section.agendaHeroContainer .backgroundHeader {
    height: 300px; }
  section.agendaHeroContainer .eventDateContainer {
    height: 50px; }
    section.agendaHeroContainer .eventDateContainer h2 {
      padding-right: 1.875rem;
      padding-left: 0;
      line-height: 50px; }
  section.agendaHeroContainer .agendaBodyContainer {
    padding-top: 4.375rem;
    padding-bottom: 3.125rem; }
    section.agendaHeroContainer .agendaBodyContainer .signatureContainer {
      margin-top: 1.875rem; }
      section.agendaHeroContainer .agendaBodyContainer .signatureContainer img {
        max-width: 75px;
        margin-bottom: 1.125rem; }
      section.agendaHeroContainer .agendaBodyContainer .signatureContainer p {
        margin-bottom: 1.125rem; } }

section.agendaContainer h2 {
  padding-right: 7.8125vw;
  padding-left: 7.8125vw;
  margin: 0;
  background: black;
  font-size: 18px;
  line-height: 40px;
  letter-spacing: 2px;
  font-weight: 400;
  font-size: 1.125rem; }
  @media only screen and (min-width: 750px) {
    section.agendaContainer h2 {
      font-size: 1.5rem; } }

section.agendaContainer h3.agendaDate {
  padding-right: 7.8125vw;
  padding-left: 7.8125vw;
  margin: 0;
  background: #c09e32;
  line-height: 40px;
  font-size: 1.125rem; }
  @media only screen and (min-width: 750px) {
    section.agendaContainer h3.agendaDate {
      font-size: 1.25rem; } }

section.agendaContainer div.agendaSession {
  padding: 0.9375rem 7.8125vw;
  font-size: 1rem;
  display: flex;
  line-height: 1.125;
  justify-content: flex-start; }
  @media only screen and (min-width: 750px) {
    section.agendaContainer div.agendaSession {
      font-size: 1.15rem; } }
  section.agendaContainer div.agendaSession .time {
    padding-right: 0rem;
    padding-left: 0rem;
    flex-basis: 60px;
    font-weight: 400; }
  section.agendaContainer div.agendaSession .title {
    flex-basis: calc(100% - 80px);
    font-weight: normal; }
  section.agendaContainer div.agendaSession.borderTop {
    border-top: 1px solid gainsboro; }

section.agendaContainer .sessionSpeakers h4 {
  margin-bottom: 0.625rem;
  padding-bottom: 0.3125rem; }
  section.agendaContainer .sessionSpeakers h4 + p {
    line-height: 1.14;
    margin-top: -10px;
    margin-bottom: 1.875rem; }
    section.agendaContainer .sessionSpeakers h4 + p {
      font-size: 1rem; }
      @media screen and (min-width: 25rem) {
        section.agendaContainer .sessionSpeakers h4 + p {
          font-size: calc(1rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        section.agendaContainer .sessionSpeakers h4 + p {
          font-size: 1.25rem; } }

section.agendaContainer .sessionDetails {
  padding: 0.9375rem 7.8125vw 0.3125rem;
  border-top: 1px solid gainsboro; }
  section.agendaContainer .sessionDetails h4 span {
    font-weight: 400; }
  section.agendaContainer .sessionDetails .speakerDetails {
    margin-bottom: 40px;
    display: flex;
    align-items: center; }
    section.agendaContainer .sessionDetails .speakerDetails img {
      width: 70px;
      border-radius: 99em;
      margin-right: 10px;
      display: inline-block;
      vertical-align: top; }
      section.agendaContainer .sessionDetails .speakerDetails img + div {
        display: inline-block;
        width: calc(100% - 85px); }
    section.agendaContainer .sessionDetails .speakerDetails p {
      margin: 0;
      line-height: 1.25; }
      section.agendaContainer .sessionDetails .speakerDetails p span {
        text-decoration: underline;
        cursor: pointer;
        font-weight: bold;
        display: block;
        margin-bottom: 0.625rem;
        line-height: 1.5; }

@media only screen and (min-width: 750px) {
  section.agendaContainer div.agendaSession .time {
    flex-basis: 80px; }
  section.agendaContainer div.agendaSession.borderTop {
    border-top: 1px solid gainsboro; } }

@media only screen and (min-width: 1024px) {
  section.agendaContainer {
    margin-right: auto;
    margin-left: auto;
    padding: 0 7.8125vw;
    max-width: calc(1170px + 15.625vw); }
    section.agendaContainer h2 {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
      letter-spacing: 3px;
      height: 50px;
      line-height: 50px; }
    section.agendaContainer h3.agendaDate {
      padding-right: 1.875rem;
      padding-left: 1.875rem;
      height: 50px;
      line-height: 50px; }
    section.agendaContainer div.agendaSession {
      padding: 1.5625rem 7.8125vw; }
      section.agendaContainer div.agendaSession .time {
        flex-basis: 100px; }
      section.agendaContainer div.agendaSession.borderTop {
        margin-right: 7.8125vw;
        margin-left: 7.8125vw;
        padding: 1.5625rem 0; }
    section.agendaContainer .sessionSpeakers h4 {
      padding-bottom: 0.9375rem; }
    section.agendaContainer .sessionDetails {
      margin-right: 7.8125vw;
      margin-left: 7.8125vw;
      padding: 1.5625rem 0; }
      section.agendaContainer .sessionDetails .speakerDetails {
        margin-bottom: 25px; }
        section.agendaContainer .sessionDetails .speakerDetails img {
          width: 120px;
          margin-right: 30px; }
          section.agendaContainer .sessionDetails .speakerDetails img + div {
            width: calc(100% - 155px); }
        section.agendaContainer .sessionDetails .speakerDetails p span {
          margin-bottom: 0.1875rem;
          padding-top: 0.625rem; } }

.fancybox-container .fancybox-slide > div.agendaBio {
  padding: 0.9375rem 0.9375rem 0;
  margin: 1.5625rem 7.8125vw;
  text-align: center;
  max-height: 600px; }
  .fancybox-container .fancybox-slide > div.agendaBio img {
    margin-right: auto;
    margin-bottom: 1.3125rem;
    margin-left: auto;
    width: 157px;
    border-radius: 99em;
    display: block; }
  .fancybox-container .fancybox-slide > div.agendaBio .modalDetails {
    padding-bottom: 0.625rem; }
    .fancybox-container .fancybox-slide > div.agendaBio .modalDetails p {
      line-height: 1.5; }
      .fancybox-container .fancybox-slide > div.agendaBio .modalDetails p {
        font-size: 1.125rem; }
        @media screen and (min-width: 25rem) {
          .fancybox-container .fancybox-slide > div.agendaBio .modalDetails p {
            font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          .fancybox-container .fancybox-slide > div.agendaBio .modalDetails p {
            font-size: 1.5rem; } }
      .fancybox-container .fancybox-slide > div.agendaBio .modalDetails p:first-child {
        font-weight: bold; }
    .fancybox-container .fancybox-slide > div.agendaBio .modalDetails .speakerBio {
      margin-top: 1.3125rem;
      text-align: left; }
      .fancybox-container .fancybox-slide > div.agendaBio .modalDetails .speakerBio p {
        font-size: 1rem;
        font-weight: 400; }
        .fancybox-container .fancybox-slide > div.agendaBio .modalDetails .speakerBio p em {
          font-style: italic; }
  .fancybox-container .fancybox-slide > div.agendaBio .fancybox-close-small:after {
    content: "";
    background: url("./img/icons/icon-close.svg") no-repeat center center;
    height: 43px;
    width: 43px;
    border-radius: 0;
    outline: none; }

@media only screen and (min-width: 1024px) {
  .fancybox-container .fancybox-slide > div.agendaBio {
    padding: 3.75rem 2.5rem 0;
    max-width: 975px;
    text-align: left; }
    .fancybox-container .fancybox-slide > div.agendaBio img {
      float: left;
      margin-right: 43px; }
    .fancybox-container .fancybox-slide > div.agendaBio .modalDetails {
      width: calc(100% - 200px);
      max-width: 695px;
      float: right;
      padding-bottom: 3.75rem; } }

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0); }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); } }

section.speakersContainer {
  padding-top: 1.5625rem;
  padding-bottom: 1.25rem; }
  section.speakersContainer .speakerContainer {
    text-align: center; }
    section.speakersContainer .speakerContainer:last-of-type .readmore {
      border-bottom: 0; }
    section.speakersContainer .speakerContainer img {
      width: 157px;
      border-radius: 99em;
      margin-bottom: 1.25rem; }
    section.speakersContainer .speakerContainer .speakerDetails {
      margin-bottom: 0.9375rem; }
      section.speakersContainer .speakerContainer .speakerDetails p {
        line-height: 1.5;
        margin-bottom: 0;
        font-weight: bold; }
        section.speakersContainer .speakerContainer .speakerDetails p {
          font-size: 0.875rem; }
          @media screen and (min-width: 25rem) {
            section.speakersContainer .speakerContainer .speakerDetails p {
              font-size: calc(0.875rem + 1.375 * ((100vw - 25rem) / 48.125)); } }
          @media screen and (min-width: 73.125rem) {
            section.speakersContainer .speakerContainer .speakerDetails p {
              font-size: 2.25rem; } }
        section.speakersContainer .speakerContainer .speakerDetails p + p {
          font-weight: 400; }
    section.speakersContainer .speakerContainer .speakerBio {
      line-height: 1.5;
      text-align: left;
      height: 130px;
      min-height: 130px;
      overflow: hidden;
      transition: all 1.5s ease; }
      section.speakersContainer .speakerContainer .speakerBio {
        font-size: 0.875rem; }
        @media screen and (min-width: 25rem) {
          section.speakersContainer .speakerContainer .speakerBio {
            font-size: calc(0.875rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          section.speakersContainer .speakerContainer .speakerBio {
            font-size: 1.125rem; } }
    section.speakersContainer .speakerContainer .speakerBio.is-open + .readmore.point-up img {
      transition: all 1s ease;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
    section.speakersContainer .speakerContainer .readmore {
      padding-top: 0.9375rem;
      padding-bottom: 0.9375rem;
      margin-bottom: 0.9375rem;
      line-height: 1.14;
      font-weight: bold;
      text-align: left;
      border-bottom: 1px solid gainsboro; }
      section.speakersContainer .speakerContainer .readmore {
        font-size: 0.875rem; }
        @media screen and (min-width: 25rem) {
          section.speakersContainer .speakerContainer .readmore {
            font-size: calc(0.875rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          section.speakersContainer .speakerContainer .readmore {
            font-size: 1.125rem; } }
      section.speakersContainer .speakerContainer .readmore:hover {
        cursor: pointer; }
      section.speakersContainer .speakerContainer .readmore p {
        margin: 0; }
      section.speakersContainer .speakerContainer .readmore img {
        border-radius: 0;
        margin: 0;
        width: 11px; }
  @media only screen and (min-width: 1024px) {
    section.speakersContainer {
      padding-top: 4.375rem;
      padding-bottom: 4.375rem; }
      section.speakersContainer div.innerContainer {
        max-width: calc(895px + 15.625vw); }
      section.speakersContainer .speakerContainer {
        display: flex;
        justify-content: flex-start;
        text-align: left; }
        section.speakersContainer .speakerContainer .imgFlex img {
          width: 157px;
          margin-right: 43px; }
        section.speakersContainer .speakerContainer .speakerFlex {
          max-width: calc(100% - 200px); }
          section.speakersContainer .speakerContainer .speakerFlex .speakerDetails {
            margin-bottom: 1.25rem; }
            section.speakersContainer .speakerContainer .speakerFlex .speakerDetails p {
              margin-bottom: 0.625rem;
              line-height: 1.14; }
          section.speakersContainer .speakerContainer .speakerFlex .readmore {
            border: none; } }

section.participantsContainer {
  padding-top: 0rem;
  padding-bottom: 0.9375rem; }
  section.participantsContainer [v-cloak] {
    display: none; }
  section.participantsContainer .eventDateContainer {
    background: black;
    height: auto; }
    section.participantsContainer .eventDateContainer .innerContainer {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      section.participantsContainer .eventDateContainer .innerContainer:after {
        display: none; }
    section.participantsContainer .eventDateContainer h2 {
      margin-bottom: 0;
      line-height: 44px; }
      section.participantsContainer .eventDateContainer h2 {
        font-size: 1.125rem; }
        @media screen and (min-width: 25rem) {
          section.participantsContainer .eventDateContainer h2 {
            font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
        @media screen and (min-width: 73.125rem) {
          section.participantsContainer .eventDateContainer h2 {
            font-size: 1.5rem; } }
    section.participantsContainer .eventDateContainer ul.legend {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0; }
      section.participantsContainer .eventDateContainer ul.legend li {
        color: #fff;
        line-height: 15px;
        margin: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0 0 0 15px; }
        section.participantsContainer .eventDateContainer ul.legend li {
          font-size: 0.8rem; }
          @media screen and (min-width: 25rem) {
            section.participantsContainer .eventDateContainer ul.legend li {
              font-size: calc(0.8rem + 0.2 * ((100vw - 25rem) / 48.125)); } }
          @media screen and (min-width: 73.125rem) {
            section.participantsContainer .eventDateContainer ul.legend li {
              font-size: 1rem; } }
        section.participantsContainer .eventDateContainer ul.legend li img {
          width: 15px;
          flex-basis: 15px;
          height: auto;
          margin-right: 5px; }
  section.participantsContainer .speakerContainer {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    display: flex;
    border-bottom: 1px solid gainsboro; }
    section.participantsContainer .speakerContainer img {
      width: 70px;
      height: 70px;
      border-radius: 99em;
      flex-basis: 70px;
      flex-shrink: 0; }
    section.participantsContainer .speakerContainer .headshotFiller {
      width: 70px;
      height: 70px; }
    section.participantsContainer .speakerContainer .speakerDetails {
      padding-left: 10px;
      align-self: flex-start; }
      section.participantsContainer .speakerContainer .speakerDetails p {
        margin-top: 0;
        margin-bottom: 0.3125rem;
        line-height: 1.2; }
        section.participantsContainer .speakerContainer .speakerDetails p {
          font-size: 0.875rem; }
          @media screen and (min-width: 25rem) {
            section.participantsContainer .speakerContainer .speakerDetails p {
              font-size: calc(0.875rem + 0.25 * ((100vw - 25rem) / 48.125)); } }
          @media screen and (min-width: 73.125rem) {
            section.participantsContainer .speakerContainer .speakerDetails p {
              font-size: 1.125rem; } }
        section.participantsContainer .speakerContainer .speakerDetails p:first-child {
          font-weight: bold; }
      section.participantsContainer .speakerContainer .speakerDetails .speaker-icon {
        width: 15px;
        height: auto; }
  @media only screen and (min-width: 750px) {
    section.participantsContainer div.innerContainer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      section.participantsContainer div.innerContainer:after {
        display: none; }
      section.participantsContainer div.innerContainer .speakerContainer {
        padding-top: 3.125rem;
        padding-bottom: 0.9375rem;
        flex-basis: calc(50% - 15px); } }
  @media only screen and (min-width: 1024px) {
    section.participantsContainer .eventDateContainer {
      height: 50px; }
      section.participantsContainer .eventDateContainer h2 {
        padding-right: 1.875rem;
        padding-left: 0;
        line-height: 50px; }
    section.participantsContainer div.innerContainer.speakerInner {
      justify-content: flex-start; }
      section.participantsContainer div.innerContainer.speakerInner .speakerContainer {
        flex-basis: calc(33% - 20px);
        margin-right: 30px; }
        section.participantsContainer div.innerContainer.speakerInner .speakerContainer:nth-child(3n+3) {
          margin-right: 0; } }

section.aboutContainer .aboutHero {
  background: url(./img/design/london-about-hero.png) no-repeat center center;
  background-size: cover;
  height: 134px;
  width: 100%; }

section.aboutContainer .eventDateContainer {
  background: black;
  height: 44px; }
  section.aboutContainer .eventDateContainer h2 {
    margin-bottom: 0;
    line-height: 44px; }
    section.aboutContainer .eventDateContainer h2 {
      font-size: 1.125rem; }
      @media screen and (min-width: 25rem) {
        section.aboutContainer .eventDateContainer h2 {
          font-size: calc(1.125rem + 0.375 * ((100vw - 25rem) / 48.125)); } }
      @media screen and (min-width: 73.125rem) {
        section.aboutContainer .eventDateContainer h2 {
          font-size: 1.5rem; } }

section.aboutContainer .aboutBodyContainer {
  padding-top: 1.1875rem;
  padding-bottom: 3.125rem; }

@media only screen and (min-width: 750px) {
  section.aboutContainer .aboutHero {
    background: url(./img/design/london-about-hero.png) no-repeat center center;
    background-size: cover;
    height: 150px;
    width: 100%; } }

@media only screen and (min-width: 1024px) {
  section.aboutContainer .aboutHero {
    background: url(./img/design/london-about-hero.png) no-repeat center center;
    background-size: cover;
    height: 300px;
    width: 100%; }
  section.aboutContainer .eventDateContainer {
    height: 50px; }
    section.aboutContainer .eventDateContainer h2 {
      padding-right: 1.875rem;
      padding-left: 0;
      line-height: 50px; }
  section.aboutContainer .aboutBodyContainer {
    padding-top: 3.125rem;
    padding-bottom: 6.25rem; } }

.print-header {
  display: none; }

@media print {
  header {
    display: none; }
  .print-header {
    display: block; }
    .print-header img {
      width: 240px;
      margin: 1rem 0; }
  .searchBox {
    display: none; }
  .speakerInner {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-rows: auto;
    */
    padding: 0; }
  .innerContainer {
    max-width: 1000000px !important;
    padding: 0;
    background: none !important; }
  section.participantsContainer .speakerContainer {
    -webkit-column-break-before: auto;
            break-before: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    -webkit-column-break-after: auto;
            break-after: auto;
    /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    -webkit-column-break-inside: avoid;
            break-inside: avoid;
    /* or 'auto' */
    page-break-inside: avoid;
    /* or 'auto' */
    width: 33.3%;
    float: left;
    border-bottom: none;
    border-top: 1px solid gainsboro;
    display: flex;
    padding-right: 10px; }
    section.participantsContainer .speakerContainer:nth-child(3n + 1) {
      clear: both; }
    section.participantsContainer .speakerContainer img {
      page-break-before: auto;
      /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-after: auto;
      /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-inside: avoid;
      /* or 'auto' */ }
    section.participantsContainer .speakerContainer .speakerDetails {
      align-self: auto !important; }
      section.participantsContainer .speakerContainer .speakerDetails p {
        font-size: 7pt !important; }
  section.participantsContainer .eventDateContainer {
    height: auto !important;
    background: none; }
    section.participantsContainer .eventDateContainer .innerContainer {
      padding: 0 !important; }
  footer {
    display: none !important; }
  section.agendaHeroContainer .backgroundHeader {
    display: none; }
  #wrapper {
    padding: 0; }
  section.agendaHeroContainer .eventDateContainer {
    background: none; }
  section.agendaContainer h2 {
    background: none;
    padding: 0; }
  section.agendaContainer article h3.agendaDate {
    background: none;
    padding: 0; }
  section.agendaContainer div.agendaSession,
  section.agendaContainer div.sessionDetails {
    padding: 10px 0; }
  section.agendaContainer .sessionDetails .speakerDetails p {
    font-size: 9pt; }
  section.agendaContainer h3.agendaDate {
    font-size: 12pt;
    margin-top: 1rem; }
  .agendaSession .time,
  .agendaSession .title,
  .sessionDetails p,
  .sessionDetails h4 {
    font-size: 9pt !important; }
  section.agendaContainer .sessionDetails .speakerDetails {
    margin: 0 0 10px; }
  .aboutHero,
  .agendaHeroContainer {
    display: none; }
  section.aboutContainer .eventDateContainer {
    background: none; }
  .innerText {
    padding: 0;
    max-width: 1000000px !important; }
    .innerText p {
      font-size: 9pt; }
  .locationBar {
    display: none; }
  .module.agendaContainer h2 {
    font-size: 1.125rem !important;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: none; }
  .speakerDetails img {
    width: 12px !important;
    position: relative;
    top: 2px; } }
