
.standardContainer {
    @include padding(rem(19) null rem(50));
}

@include media($desktop) {
    .standardContainer {
        @include padding(rem(50) null rem(100));
    }
}

.wide {
    .innerText {
        max-width: 100%;
    }
}


.globalHero {
    // background : url(./img/design/london-about-hero.png) no-repeat center center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size : cover;
    height : 134px;
    width : 100%;
}
.eventDateContainer {
    background : $black;
    height     : 44px;
    h2 {
        @include fluid-type(1.125rem, 1.5rem);
        margin-bottom : 0;
        line-height   : 44px;
    }
}

.grid {
    display: flex;
    flex-wrap: wrap;

    &.reverse-on-mobile {
        .narrow {
            display: none;
        }
    }

    &.vertical-align {
        align-items: center;
    }

    p + p:last-of-type {
        margin-bottom: 1.875rem;
    }
}

@media screen and (min-width: 768px) {
    .grid {
        display: flex;
        margin: 2rem 0;
        flex-wrap: nowrap;

        &.reverse-on-mobile {
            .narrow {
                display: block;
            }
        }
        

        &.reversed {
            flex-direction: row-reverse;

            .wide {
                margin-right: 0;
            }
            .narrow {
                margin-right: 5%;
            }
        }

        > div {
            margin: 0;
        }
    
        .wide {
            flex-basis: 60%;
            margin-right: 5%;

            &.fifty {
                flex-basis: 47.5%;    
            }
        }
    
        .narrow {
            flex-basis: 35%;

            &.fifty {
                flex-basis: 47.5%;    
            }
        }
    }
}

@include media($tablet-big) {
    .globalHero {
        // background : url(./img/design/london-about-hero.png) no-repeat center center;
        height : 150px;
        width : 100%;
    }

    
}
@include media($desktop) {
    .globalHero {
        // background : url(./img/design/london-about-hero.png) no-repeat center center;
        height : 300px;
        width : 100%;
    }
    .eventDateContainer {
        height : 50px;
        h2 {
            @include padding(null rem(30) null 0);
            line-height: 50px;
        }
    }
}

@include media($semibigger) {
    .wide {
        .innerText {
            max-width: 100%;
            max-width: calc(1170px + 15.625vw);
            padding: 0 7.8125vw;
        }
    }
}

blockquote {
    position: relative;
    padding: 40px 0;

    @include media($tablet-big) {
        padding: 50px 0;
    }


    &:before {
        content: '“';
        font-size: 80px;
        line-height: 1;
        display: block;
        position: absolute;
        top: 0;

        @include media($tablet-big) {
            font-size: 80px;
        }

        @include media($semibigger) {
            font-size: 80px;
        }
    }
    &:after {
        content: '”';
        font-size: 80px;
        line-height: 1;
        display: block;
        position: absolute;
        bottom: -10px;

        @include media($tablet-big) {
            font-size: 80px;
            bottom: -5px;
        }

        @include media($semibigger) {
            font-size: 80px;
            bottom: -15px;
        }
    }

    p {
        font-style: italic;
        font-size: 16px;

        @include media($tablet-big) {
            font-size: 18px;
        }

        @include media($semibigger) {
            font-size: 21px;
        }
    }

    cite {
        display: block;
        text-align: right;
        font-size: 14px;

        @include media($tablet-big) {
            font-size: 17px;
        }

        @include media($semibigger) {
            font-size: 20px;
        }
    }
}

h2.new {
    color: #000;
    margin: 0 0 1rem;
    letter-spacing: 0;
    font-size: 20px;

    @include media($tablet-big) {
        font-size: 22px;
        margin: 0 0 1rem;
    }

    @include media($semibigger) {
        // font-size: 26px;
    }
}

.hod {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.hom {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.grid {
    img {
        margin-bottom: 1rem;
    }
}

.no-bold {
    font-weight: normal !important;
}

.speakerDetails {
    // padding: 1.5rem 0 0 0;
    display: flex;
    align-items: center;

    img {
        border-radius: 10000px;
        max-width: 100px;
        height: auto;
        width: 100px;
        width: 60px;
        flex-shrink: 0;

        @media screen and (min-width: 768px) {
            width: 100px;
        }
    }

    .speaker-visible {

        margin-left: 1rem;
        p {
            margin: 0;
        }
    }
}

.agendaSession .speakerDetails {
    padding: 1.5rem 0 0 0;
}

.fancyTrigger:hover {
    cursor: pointer; 
    text-decoration: underline;
}

.eventDateContainer {
    .innerContainer {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &:after {
            display: none;
        }
    }
    .legend {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        color: #fff;

        img.icon {
            width: 16px;
            line-height: 1.5;
            display: inline-block;

            @include media($tablet-big) {
                width: 20px;
            }

            &.flip {
                transform: rotate(180deg);
            }
        }

        li {
            color: #fff;
            margin: 0;
            padding: 0;
            font-size: calc(0.8rem + 0.2 * ((100vw - 25rem) / 48.125));

            a {
                color: #fff; 
                text-decoration: none;
                display: block;
                display: flex;
                align-content: center;
                align-items: center;

                &:hover {
                    text-decoration: underline;
                }

                span {
                    padding-left: 4px;
                }
            }
        }
    }
}

.scroll-up {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 44px;
    height: 44px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;

    &:hover {
        cursor: pointer;
    }

    &.visible {
        opacity: 1;
        visibility: visible;
    }

    img {
        display: block;
    }
}

html {
    scroll-behavior: smooth;
}

.button {
    @include media($tablet-big) {
        border: none;
        padding: 0;
        position: relative;
        top: -3px;
        a {
            background: #c09e32;
            padding: 10px;
            color: #000;
            &:after {
                display: none !important;
            }
        }
        &:hover a {
            border-bottom: none !important;
            background: #fff;
            color: #000;
        }
    }
}
