<div class="speakerDetails">
  <img src="./img/headshots/white-filler.jpg" alt="Rob Schilder">
  
  <div class="speaker-visible">
    <p><span><strong>Rob Schilder</strong></span></p>
    <p>CEO, G-Star RAW C.V.</p>
  </div>

  <div class="agendaBio" style="display: none;" id="schilder">
    <img src="./img/headshots/white-filler.jpg" alt="Rob Schilder">
    <div class="modalDetails">
      <p style="margin-bottom: 0;">Rob Schilder</p>
      <p>CEO, G-Star RAW C.V.</p>
      <div class="speakerBio">


      </div>
    </div>
  </div>
</div>