<!-- start partial-location-bar -->
<section class="locationBar">
    <div class="locationInner">
        <div class="innerHolder">
            <div class="locationImg">
                <img src="./img/design/puente_romano.jpg" />
            </div>
            <div class="locationText">
                <p><strong><a href="https://www.puenteromano.com/" targert="_blank">Puente Romano</a></strong><br>
                    Bulevar Príncipe Alfonso von Hohenlohe,<br>
                    s/n, 29602 Marbella, Málaga, Spain
                </p>
            </div>
        </div>
    </div>
</section>

<!-- end partial-location-bar -->