<div class="speakerDetails">
  <img src="./img/headshots/mcdermott.jpg" alt="Bill McDermott" class="fancyTrigger" data-src="#bill">
  
  <div class="speaker-visible">
    <p><span class="fancyTrigger" data-src="#bill"><strong>Bill McDermott</strong></span></p>
    <p>CEO, SAP</p>
  </div>

  <div class="agendaBio" style="display: none;" id="bill">
    <img src="./img/headshots/mcdermott.jpg" alt="Bill McDermott">
    <div class="modalDetails">
      <p style="margin-bottom: 0;">Bill McDermott</p>
      <p>CEO, SAP</p>
      <div class="speakerBio">
        <p>Bill McDermott is chief executive officer of SAP, the world’s business software market leader. He leads the company’s more than 96,000 employees and 2+ million-person ecosystem in executing SAP’s vision to help the world run better and improve peoples’ lives.</p>
        <p>Since becoming CEO in 2010, Bill’s innovation-led strategy for SAP has resulted in expansive increases in customers, total revenue, market value and profitable growth. One of the most popular leaders in business, Bill’s approval rating from employees on website Glassdoor hovers around 99%. As the only American in history to lead Europe’s most valuable technology company, Bill advises world leaders and policymakers on issues including youth unemployment, digital government and international trade policy. He is a member of the European Roundtable of Industrialists and the U.S. Business Council.</p>
        <p>Bill also serves on the boards of directors for performance apparel maker Under Armour, engineering software maker ANSYS, Inc. and security solutions leader Dell SecureWorks. He has received numerous awards for his civic leadership, including GENYOUth’s Vanguard Award, City Year’s Idealist of the Year, the We Are Family Foundation’s Visionary Award and the Children’s Aid Society’s Promise Award. He is a proud supporter of Thomas Jefferson University Hospital and Jefferson Health.</p>
        <p>His life stories and leadership lessons are shared in Bill’s worldwide best-selling autobiography, Winners Dream: A Journey from Corner Store to Corner Office. The book is now in its 12th printing and was awarded the gold medal for business memoir of the year in 2014. It has been published in the United States, United Kingdom, Germany and China.</p>

        <p>Bill resides in Germany, the United States and, most frequently, at 39,000 feet. </p>
      </div>
    </div>
  </div>
</div>