<nav role="navigation">
    <ul>
        <li{% if page == 'home' %} class="activeNav" {% endif %}><a href="./">Home</a></li>
        <li{% if page == 'agenda' %} class="activeNav" {% endif %}><a href="./agenda.html">Agenda</a></li>
        <li{% if page == 'participants' %} class="activeNav" {% endif %}><a href="./participants.html">Participants</a></li>
        <li{% if page == 'social-program' %} class="activeNav" {% endif %}><a href="./social-programme.html">Social Programme</a></li>
        <li{% if page == 'venue' %} class="activeNav" {% endif %}><a href="./venue.html">Venue</a></li>
        <li{% if page == 'about' %} class="activeNav" {% endif %}><a href="./about.html">About SAP</a></li>
        <li class="button"><a href="http://events.sap.com/es/sap-ceo-summit-marbella-2019/en/home" target="_blank">Concierge Form</a></li>
    </ul>
</nav>