
<div class="speakerDetails">
  <img src="./img/headshots/marbella-alysia-silberg.jpg" alt="Alysia Silberg" class="fancyTrigger" data-src="#silberg">
  
  <div class="speaker-visible">
    <p><span class="fancyTrigger" data-src="#silberg"><strong>Alysia Silberg</strong></span></p>
    <p>General Partner, Street Global Venture Capital</p>
  </div>

  <div class="agendaBio" style="display: none;" id="silberg">
    <img src="./img/headshots/marbella-alysia-silberg.jpg" alt="Alysia Silberg">
    <div class="modalDetails">
      <p style="margin-bottom: 0;">Alysia Silberg</p>
      <p>General Partner, Street Global Venture Capital</p>
      <div class="speakerBio">
<p>Alysia Silberg has created a career defined by recognized excellence in applied mathematics, statistics and data science; global entrepreneurship; investing; technology; bridging the developing and developed worlds; and leadership in education on a global scale and advocating for others, especially women and people from diverse and underprivileged backgrounds. </p>

<p>She is a multi-industry, self-made entrepreneur, statistician & data scientist. She co-founded data marketing company, Digital by Design, voice data analytics company, Acceleforce, and co-designed the product and technology platform for Xexec, a multi-million user global employee benefits software platform. As a fully qualified actuary, derivatives market specialist, wealth manager and alternative asset specialist, Alysia is extremely comfortable and experienced in all areas of investment management and governance.</p>

<p>Today, Alysia is a seed stage technology investor working across geographies with startups addressing global challenges via beneficial artificial intelligence (AI), analytics, business automation, financial technology, health technology, life sciences, robotics and secure infrastructure. </p>

<p>Through her roles as a UN Women Empower Women Global Champion for Women’s Empowerment and Entrepreneurship; a multiple international award winning entrepreneur, inspiring role model and businesswoman of the year; educational media entrepreneur & innovator and social advocate in the realms of technology entrepreneurship, startup investing, diversity, global cooperation and women’s empowerment, Alysia has been referred to as one of the greatest visionaries and change makers working today.</p>

<p>Alysia is also recognized as a prominent, emerging public leader advising European, African and Emerging Markets governments on startup ecosystem development, accessing leading-edge technology for economic development, inclusive and diversified entrepreneurship, women’s empowerment and trade at the highest levels.</p>

<p>Alysia’s global network includes many of the most prominent people in business, culture, finance, government, science, technology and venture capital. She leverages this network to advance entrepreneurship and economic development on a global scale and to provide suggestions on policy direction to governments, development organizations and NGOs.</p>


      </div>
    </div>
  </div>
</div>