<div class="speakerDetails">
  <img src="./img/headshots/marbella-carolin-roth.jpg" alt="Carolin Roth" class="fancyTrigger" data-src="#roth">

  <div class="speaker-visible">
    <p><span class="fancyTrigger" data-src="#roth"><strong>Carolin Roth</strong></span></p>
    <p>Presenter, CNBC</p>
  </div>
  
  <div class="agendaBio" style="display: none;" id="roth">
    <img src="./img/headshots/marbella-carolin-roth.jpg" alt="Carolin Roth">
    <div class="modalDetails">
      <p style="margin-bottom: 0;">Carolin Roth</p>
      <p>Presenter, CNBC</p>
      <div class="speakerBio">
        <p>Carolin Roth is based in Stuttgart and has 11 years of experience of Live TV as international finance and business journalist at CNBC. Fluent in both German and English, she has been with CNBC since 2007, reporting on air full-time since 2009 and is now freelance presenter. In addition, she has hosted Worldwide Exchange, European Closing Bell and co-anchored Squawk Box (Europe) from CNBC's London studios, and contributes to CNBC and MSNBC programming in the US. In 2017, Carolin also hosted CNBC's Marketing|Media|Money, a series that navigates the global advertising industry through the eyes of the senior marketers who are driving its evolution.  </p>
 
        <p>Carolin has covered key events for CNBC including WEF, European debt crisis live out of Greece, Italy, Spain, Hungary and Cyprus, the German election campaign and the Geneva motor show.  </p>
        
        <p>Carolin gained experience in the financial sector in Germany and the US before completing her master's degree in Banking and Finance from the University of Zurich.  </p>
      </div>
    </div>
  </div>
</div>