<div class="speakerDetails">
  <img src="./img/headshots/marbella-martin-lundstedt.jpg" alt="Martin Lundstedt" class="fancyTrigger" data-src="#lundstedt">

  <div class="speaker-visible">
    <p><span class="fancyTrigger" data-src="#lundstedt"><strong>Martin Lundstedt</strong></span></p>
    <p>President and CEO, Volvo Group</p>
  </div>
  
  <div class="agendaBio" style="display: none;" id="lundstedt">
    <img src="./img/headshots/marbella-martin-lundstedt.jpg" alt="Obama">
    <div class="modalDetails">
      <p style="margin-bottom: 0;">Martin Lundstedt</p>
      <p>President and CEO, Volvo Group</p>
      <div class="speakerBio">
        <p>Born 1967. Master of Science in Industrial Management and Technology.</p>
        <p>Martin Lundstedt began his business career in 1992 when he joined Scania as a trainee. He has since then held various managerial positions within Engine Production and Engine Development. In 2001 he became Managing Director of Scania Production in Angers, France. In 2005 he was appointed Head of Product Marketing and member of the Executive Team. He was appointed Senior Vice President and Head of Trucks in 2006 and in 2007 he became Head of Franchise and Factory Sales.  Martin Lundstedt was the President and CEO of Scania AB from 2012 to 2015.</p>
        <p>Martin Lundstedt joined Volvo on 22 October 2015 as President of AB Volvo and Chief Executive Officer of the Volvo Group and became a member of the Group Executive Team from the same date.</p>
        <p>Martin Lundstedt is Chairman of Partex Marking Systems AB and Permobil AB. Board member of ACEA Commercial Vehicle and Concentric AB. He is a member of the Royal Swedish Academy of Engineering Sciences and a member of the Swedish Prime Minister’s Innovation Council. Further he was the former Co-chairman of the UN Secretary-General’s High-Level Advisory Group on Sustainable Transport.</p>
        <p>Martin Lundstedt was awarded the Pontus Schultz prize for a more human economy in 2015. The KTH Royal Institute of Technology in Stockholm awarded Martin Lundstedt the Gold medal for industrial cooperation in 2016.</p>
        <p>The newspaper Affärsvärlden, appointed Martin Lundstedt “Leader of the year 2018.”</p>
      </div>
    </div>
  </div>
</div>