section.participantsContainer {
    [v-cloak] {
        display : none;
    }
    @include padding(rem(0) null rem(15));
    .eventDateContainer {
        background : $black;
        height     : 44px;
        h2 {
            @include fluid-type(1.125rem, 1.5rem);
            margin-bottom : 0;
            line-height   : 44px;
        }
    }
    .speakerContainer {
        @include padding(rem(15) null);
        display: flex;
        border-bottom : 1px solid $gray-light;
        img {
            width : 70px;
            height : 70px;
            border-radius: 99em;
        }
        .speakerDetails {
            padding-left : 10px;
            align-self : flex-start;
            flex-basis : calc(100% - 80px);
            p {
                @include fluid-type(0.875rem, 1.125rem);
                @include margin(0 null rem(5));
                line-height: 1.2;
                &:first-child {
                    font-weight: bold;
                }

            }
        }// end .speakerDetails
    }// end .speakerContainer
    @include media($tablet-big) {
        div.innerContainer {
            &:after {
                display : none;
            }
            display         : flex;
            flex-wrap       : wrap;
            justify-content : space-between;
            .speakerContainer {
                @include padding(rem(50) null rem(15));
                flex-basis : calc(50% - 15px);
            }
        }
    }// end media($tablet-big)
    @include media($desktop) {
        .eventDateContainer {
            height : 50px;
            h2 {
                @include padding(null rem(30) null 0);
                line-height: 50px;
            }
        }// end .eventDateContainer
        div.innerContainer {
            justify-content : flex-start;
            .speakerContainer {
                flex-basis : calc(33% - 20px);
                margin-right : 30px;
                &:nth-child(3n+3) {
                    margin-right : 0;
                }
            }
        }
    }
}// end section.participantsContainer







