section.aboutContainer {
    .aboutHero {
        background : url(./img/design/london-about-hero.png) no-repeat center center;
        background-size : cover;
        height : 134px;
        width : 100%;
    }
    .eventDateContainer {
        background : $black;
        height     : 44px;
        h2 {
            @include fluid-type(1.125rem, 1.5rem);
            margin-bottom : 0;
            line-height   : 44px;
        }
    }
    .aboutBodyContainer {
        @include padding(rem(19) null rem(50));
    }
    @include media($tablet-big) {
        .aboutHero {
            background : url(./img/design/london-about-hero.png) no-repeat center center;
            background-size : cover;
            height : 150px;
            width : 100%;
        }
    }
    @include media($desktop) {
        .aboutHero {
            background : url(./img/design/london-about-hero.png) no-repeat center center;
            background-size : cover;
            height : 300px;
            width : 100%;
        }
        .eventDateContainer {
            height : 50px;
            h2 {
                @include padding(null rem(30) null 0);
                line-height: 50px;
            }
        }// end .eventDateContainer
        .aboutBodyContainer {
            @include padding(rem(50) null rem(100));
        }
    }
}// end section.aboutContainer