@keyframes rotate {
    0% {
        transform : rotate(0);
    }
    100% {
        transform : rotate(180deg)
    }
}


section.speakersContainer {
    @include padding(rem(25) null rem(20));
    .speakerContainer {
        text-align : center;
        &:last-of-type .readmore {
            border-bottom : 0;
        }
        img {
            width         : 157px;
            border-radius : 99em;
            margin-bottom : rem(20);
        }
        .speakerDetails {
            margin-bottom : rem(15);
            p {
                @include fluid-type(0.875rem, 2.25rem);
                line-height   : 1.5;
                margin-bottom : 0;
                font-weight   : bold;
                & + p {
                    font-weight : 400;
                }
            }
        }// end .speakerDetails
        .speakerBio {
            @include fluid-type(0.875rem, 1.125rem);
            line-height : 1.5;
            text-align  : left;
            height      : 130px;
            min-height  : 130px;
            overflow    : hidden;
            transition  : all 1.5s ease;
        }// end .speakerBio
        .speakerBio.is-open + .readmore.point-up img {
            transition : all 1s ease;
            transform  : rotate(180deg);
            // animation : rotate 1s forwards;
        }
        .readmore {
            @include padding(rem(15) null);
            @include fluid-type(0.875rem, 1.125rem);
            margin-bottom : rem(15);
            line-height   : 1.14;
            font-weight   : bold;
            text-align    : left;
            border-bottom : 1px solid $gray-light;
            &:hover {
                cursor : pointer;
            }
            &.point-down img {
                //transform-origin: initial;
            }
            p {
                margin : 0;
            }
            img {
                border-radius : 0;
                margin        : 0;
                width         : 11px;
            }
        }// end .readmore
    }// end .speakerContainer

    @include media($desktop) {
        @include padding(rem(70) null rem(70));
        div.innerContainer {
            max-width : calc(895px + 15.625vw);
        }
        .speakerContainer {
            display         : flex;
            justify-content : flex-start;
            text-align      : left;
            .imgFlex {
                img {
                    width        : 157px;
                    margin-right : 43px;
                }
            }
            .speakerFlex {
                max-width : calc(100% - 200px);
                .speakerDetails {
                    margin-bottom : rem(20);
                    p {
                        margin-bottom : rem(10);
                        line-height   : 1.14;
                    }
                }
                .readmore {
                    border : none;
                }
            }
        }// end .speakerContainer
    }// end media($desktop)
}// end section.speakersContainer
















