section.singlePresenter {
   @include padding(rem(50) null rem(24));
   text-align: center;
   h3 {
      @include fluid-type(0.875rem, 1.5rem);
      margin-bottom: rem(23);
      line-height: 1.4;
      font-family: $fontB;
      text-transform: uppercase;
      letter-spacing: 2px;
   }
   .headshotContainer {
      @include margin(null auto rem(8));
      position: relative;
      width : 35%;
      max-width: 232px;
      border-radius: 99em;
      img {
         border-radius: 99em;
      }
   }
   .presenterBio {
      h4 {
         @include fluid-type(1.75rem, 3rem);
         margin-bottom: rem(8);
         line-height: 1.25;
         text-transform: none;
      }
      .socialIcons {
         margin-bottom : rem(3);
         a {
            @include margin(null rem(4));
            width : 44px;
            height : 44px;
            display: inline-block;
            text-align: center;
            img {
               @include margin(null auto);
               display: block;
            }
         }
      }// end .socialIcons
      .mktoText p {
         @include fluid-type(1.125rem, 1.375rem);
         margin-bottom: 0;
         line-height : 1.5;
      }
   }
   @include media($tablet-big) {
      text-align: left;
      h3 {
         margin-bottom : rem(37);
      }
      article {
         @include clearfix;
      }
      .headshotContainer {
         @include margin(null 0 0);
         float : left;
         margin-right : 55px;
      }
      .presenterBio {
         float : left;
         width : calc(100% - 290px);
         max-width : 700px;
      }
   }
} // end section.singlePresenter







