//----------------------------------*\
// SCSS MIXINS
//----------------------------------*/

@import 'mixins/_position.scss';

//----------------------------------*\
// CONFIG MODULES
//----------------------------------*/

// Config modules
@import 'modules/_vars.scss';
@import 'modules/_clearfix.scss';
@import 'modules/_defaults.scss';
@import 'modules/_normalize.scss';
//----------------------------------*\
// PARTIALS
//----------------------------------*/

@import 'partials/_header.scss';
@import 'partials/_page.scss';
@import 'partials/_sidebar.scss';
@import 'partials/_main.scss';
@import 'partials/_footer.scss';
@import 'partials/_slideshow.scss';

//----------------------------------*\
// OBJECTS & MODULES
//----------------------------------*/

@import 'modules/_buttons.scss';
@import 'modules/_inputs.scss';
@import 'modules/_lists.scss';
@import 'modules/_typography.scss';
@import 'modules/_misc.scss';
@import 'modules/_app.scss';

// Enhancement modules
@import 'modules/_breakpoints.scss';
@import 'modules/_print.scss';

//----------------------------------*\
// VENDOR
//----------------------------------*/

@import 'vendor/_external.scss';

body {
  color: #000000;
}


.headline {
  h2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
}

.social-programme-inner {
  padding: 15px 0;
  display: grid;

  @media screen and (min-width: 720px) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
}

.social-programme-inner .social-programme-item {
  box-shadow: 2px 2px 8px rgba(#000, .5);
  display: grid;
  grid-template-rows: auto 41px;
  padding: 30px 20px;

  @media screen and (min-width: 992px) {
    width: 100%;
  }

  h3 {
    font-size: 24px;
    font-weight: bold;

    @media screen and (min-width: 768px) {
      font-size: 30px;
    }
  }
  h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 1em 0;

    @media screen and (min-width: 768px) {
      font-size: 24px;
    }
  }
}

.hotel-info {
  h1 {
    line-height: 1.1;
  }
}

h2.sp-title {
  font-size: 30px;

  @media screen and (min-width: 768px) {
    font-size: 48px;
  }
}

.home {
  .slideshow .carousel-control-next, .slideshow .carousel-control-prev, .slideshow .carousel-indicators, .slideshow .carousel-inner {
    @media screen and (min-width: 768px) {
      display: none !important;
    }
  }
}

.carousel-item-desktop {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.intro-sidebar {
  img {
    border-radius: 10px;
  }
}

.nav-item.active a,
a.active {
    color: $base;
    text-decoration: underline;
}

.hotel,
.about,
.agenda,
.social-programme-page {
  .carousel-inner {
    display: block !important;
  }
  .slideshow .carousel-control-next,
  .slideshow .carousel-indicators,
  .slideshow .carousel-control-prev {
    display: flex !important;
  }
}

.img-header {
  display: block;
  transform: translateY(-20px);

  img {
    border-radius: 1000px;
    width: 100px;
    border: solid 3px $base;
    float: left;
  }

  h5 {
    font-size: 21px;
    margin: 0 0 0 115px;
    line-height: 100px;
  }
}

.cssgridlegacy {
  .social-programme-inner {
    padding: 15px 0;
    display: block;

    @media screen and (min-width: 720px) {
      // grid-template-columns: 1fr 1fr;
      // grid-column-gap: 30px;
    }
  }

  .social-programme-inner .social-programme-item {
    box-shadow: 2px 2px 8px rgba(#000, .5);
    display: block;
    padding: 30px 20px;


    &:nth-child(even) {
      float: right;
      clear:none;

      @media screen and (min-width: 720px) {
        float: right;
        clear:none;
      }
    }

    @media screen and (min-width: 720px) {
      float: left;
      clear:both;
      width: 48%;
    }

    h3 {
      font-size: 24px;
      font-weight: bold;

      @media screen and (min-width: 768px) {
        font-size: 30px;
      }
    }
    h4 {
      font-size: 16px;
      font-weight: normal;
      margin: 1em 0;

      @media screen and (min-width: 768px) {
        font-size: 24px;
      }
    }
  }

  .speakers {
    display: block;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    @media screen and (min-width: 567px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 992px) {
      padding: 0;
    }
  }

  .speaker-card {
    max-width: 250px;
    margin: 0 30px 0 0;
    text-align: center;
    float:left;

    &:hover {
      cursor: pointer;
    }

    img {
      border-radius: 1000px;
      max-width: 270px;
      border: solid 10px $base;
      display: block;
      margin: 0 auto;
    }

    h4 {
      margin: 1em 0;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}
