<!-- index.nunjucks -->
{% set page = 'home' %}

{% extends "layout.nunjucks" %}

{% block body_content %}

    {% include "modules/module-home-hero.nunjucks" %}

    {% include "modules/module-home.nunjucks" %}

{% endblock %}