<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:v="urn:schemas-microsoft-com:vml"
 xmlns:o="urn:schemas-microsoft-com:office:office">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- @meta -->
  <title></title>
  <!--[if gte mso 9]><xml>
  <o:OfficeDocumentSettings>
  <o:AllowPNG/>
  <o:PixelsPerInch>96</o:PixelsPerInch>
  </o:OfficeDocumentSettings>
  </xml><![endif]-->

  <meta class="mktoColor" id="bodyBackground" mktoName="Body Background Color" default="#e5e5e5">

  <!-- BANNER 1 -->
  <meta class="mktoColor" id="Banner-BG-color1" mktoname="Banner Background-color1" default="#999999" mktoModuleScope="true"  />
  <meta class="mktoString" id="Banner-BG-image1" mktoName="Banner Background Img1" default="https://via.placeholder.com/600x350" mktoModuleScope="true" />
  <meta class="mktoColor" id="button-ctabg1" mktoname="Button BG Color" default="#008fd3" mktoModuleScope="true"  />
  <meta class="mktoColor" id="buttonBorderColor1" mktoname="Button Border Color" default="#008fd3" mktoModuleScope="true"  />
  <meta class="mktoString" id="buttonText1" mktoName="Button Text" default="CTA Button" mktoModuleScope="true" />
  <meta class="mktoColor" id="buttonTextColor1" mktoname="Button Text Color" default="#ffffff" mktoModuleScope="true"  />
  <meta class="mktoString" id="buttonLink1" mktoName="Button Link" default="#" mktoModuleScope="true" />

  <!-- BANNER 2 -->
	<meta class="mktoColor" id="BannerBGColor2" mktoname="Banner Background-color2" default="#000000" mktoModuleScope="true"  />
  <meta class="mktoColor" id="button-ctabg2" mktoname="Button BG Color" default="#000000" mktoModuleScope="true"  />
  <meta class="mktoColor" id="buttonBorderColor2" mktoname="Button Border Color" default="#ffffff" mktoModuleScope="true"  />
  <meta class="mktoString" id="buttonText2" mktoName="Button Text" default="CTA Button" mktoModuleScope="true" />
  <meta class="mktoColor" id="buttonTextColor2" mktoname="Button Text Color" default="#008fd3" mktoModuleScope="true"  />
  <meta class="mktoString" id="buttonLink2" mktoName="Button Link" default="#" mktoModuleScope="true" />

      <!-- Banner 3 variables -->

    <meta class="mktoColor" id="Banner-BG-color3" mktoname="Banner Background-color3" default="#000000" mktomodulescope="true">
    <meta class="mktoString" id="Banner-BG-image3" mktoname="Banner Background Img1" default="https://via.placeholder.com/620x360" mktomodulescope="true">
    <meta class="mktoColor" id="button-ctabg3" mktoname="Button BG Color" default="#008fd3" mktomodulescope="true">
    <meta class="mktoColor" id="buttonBorderColor3" mktoname="Button Border Color" default="#008fd3" mktomodulescope="true">
    <meta class="mktoString" id="buttonText3" mktoname="Button Text" default="CTA Button" mktomodulescope="true">
    <meta class="mktoColor" id="buttonTextColor3" mktoname="Button Text Color" default="#ffffff" mktomodulescope="true">
    <meta class="mktoString" id="buttonLink3" mktoname="Button Link" default="http://example.com" mktomodulescope="true">

<!-- Body Button variables- GLOBAL -->
<meta class="mktoColor" id="button-ctabg" mktoname="Button BG Color" default="#008fd3" mktoModuleScope="false"  />
<meta class="mktoColor" id="button-ctaBorderColor" mktoname="CTA Border Color" default="#008fd3" mktoModuleScope="false"  />
<meta class="mktoColor" id="button-ctaTextColor" mktoname="CTA Text Color" default="#ffffff" mktoModuleScope="false"  />
<meta class="mktoString" id="buttonTextGlobal" mktoname="Button Text Color" default="CTA Button" mktoModuleScope="true"  />
<meta class="mktoString" id="buttonLinkGlobal" mktoName="Button Link" default="#" mktoModuleScope="true" />

<!-- Section 2 Button variables -->
<meta class="mktoString" id="button-ctaText2" mktoName="Banner Text" default="CTA Button" mktoModuleScope="true" />
<meta class="mktoString" id="section2ButtonLink" mktoName="Section 2 Button Link" default="#" mktoModuleScope="true" />

<!-- Section 3 Button variables -->
<meta class="mktoString" id="button-ctaText3" mktoName="Banner Text" default="CTA Button" mktoModuleScope="true" />
<meta class="mktoString" id="section3ButtonLink" mktoName="Section 3 Button Link" default="#" mktoModuleScope="true" />

<style>
  @font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 400;
  mso-font-alt: Arial;
  src: local('Google Sans Regular'), local('GoogleSans-Regular'), url('https://fonts.gstatic.com/s/googlesans/v6/4UaGrENHsxJlGDuGo1OIlL3Owps.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 500;
  mso-font-alt: Arial;
  src: local('Google Sans Medium'), local('GoogleSans-Medium'), url('https://fonts.gstatic.com/s/googlesans/v6/4UabrENHsxJlGDuGo1OIlLU94YtzCwM.ttf') format('truetype');
}

@font-face {
  font-family: 'Google Sans';
  font-style: normal;
  font-weight: 700;
  mso-font-alt: Arial;
  src: local('Google Sans Bold'), local('GoogleSans-Bold'), url('https://fonts.gstatic.com/s/googlesans/v6/4UabrENHsxJlGDuGo1OIlLV154tzCwM.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  mso-font-alt: Arial;
  src: local('Roboto'), local('Roboto-Regular'), url('https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxP.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  mso-font-alt: Arial;
  src: local('Roboto Medium'), local('Roboto-Medium'), url('https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmEU9fBBc9.ttf') format('truetype');
}
</style>


 
{% include "./css.njk" %}
  
</head>
<body style="margin:0; padding:0; background-color:${bodyBackground};">
  <center>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="${bodyBackground}">
        <tr>
            <td align="center" valign="top" class="mktoContainer" id="thecontainer">
              {% block content %}{% endblock %}
            </td>
        </tr>
    </table>
  </center>
</body>
</html>