   <!--[if mso]>
<style type="text/css" media="all">
    span, td, table, div, a {
      font-family: Arial, serif !important;
    }
    sup { font-size: 100% !important; }
    body {
      margin: 0 !important;
      padding: 0 !important;
      font-family: Arial, sans-serif !important;
    }
    table, td, div, p {
      font-family: Arial, sans-serif !important;
      line-height: normal;
      Margin: 0;
    }
    /* Outlook 2016 Height Fix */
    table, tr, td {
      border-collapse: collapse !important;
    }
    tr { 
      font-size:0px !important;
      line-height:0px !important;
      border-collapse: collapse !important;
    }
    li {
      text-align:-webkit-match-parent; 
      display:list-item;text-indent: -1em;
    }
</style>
<![endif]-->

<style type="text/css">
        .ReadMsgBody {
            width: 100%;
            background-color: #e5e5e5;
        }
        
        .ExternalClass {
            width: 100%;
            background-color: #e5e5e5;
        }
        
        body {
            width: 100%;
            background-color: #e5e5e5;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            font-family: Verdana, Arial, Helvetica, sans-serif;
            -webkit-text-size-adjust: none;
        }
        
        table {
            border-collapse: collapse;
        }
        /*a:link {color:#ffffff; text-decoration:none;}
a:visited {color:#ffffff; text-decoration:none;}
a:hover {color:#fa0b00; text-decoration:none;}
a:active {color:#ffffff; text-decoration:none;}*/
        
        @media only screen and (max-width: 640px) {
            body[yahoo] .deviceWidth {
                width: 440px!important;
                padding: 0;
            }
            body[yahoo] .deviceWidth2 {
                width: 100% !important;
                margin: 0 auto !important;
            }
            body[yahoo] .divider {
                margin-left: auto !important;
                margin-right: auto !important;
                text-align: center;
                width: 90%;
            }
            body[yahoo] .center {
                text-align: center!important;
                margin-left: auto !important;
                margin-right: auto !important;
            }
            body[yahoo] .tableCenter {
                margin: 0 auto !important;
            }
            body[yahoo] .resize-img img {
                width: 100% !important;
                display: block;
            }
            body[yahoo] .top-pad {
                padding-top: 25px !important;
            }
            body[yahoo] .left-pad {
                padding-left: 20px !important;
            }
            body[yahoo] .right-pad {
                padding-right: 20px !important;
            }
            body[yahoo] .bottom-pad {
                padding-bottom: 25px !important;
            }
            body[yahoo] .bottom-pad2 {
                padding-bottom: 10px !important;
            }
            body[yahoo] .bullet-pad {
                padding-left: 20px !important;
            }
            body[yahoo] .no-pad {
                padding: 0 !important;
            }
            body[yahoo] .no-pad-lt {
                padding-left: 0 !important;
            }
            body[yahoo] .no-pad-rt {
                padding-right: 0 !important;
            }
            body[yahoo] .tdWidth {
                width: 20px !important;
            }
            .m_overlay-image .box {
                float: none !important;
                width: 220px;
                margin-top: 0 !important;
                margin-right: auto !important;
                margin-bottom: 0 !important;
                margin-left: auto !important;
            }
            .m_hero .background {
                background-size: cover !important;
            }
            body[yahoo] .mktoVideo table {
                width: 100%;
            }
            body[yahoo] .resize-img2 img {
                width: 100% !important;
                display: block;
                height: inherit;
            }
        }
        
        @media only screen and (max-width: 479px) {
            body[yahoo] .deviceWidth {
                width: 100% !important;
                padding: 0;
            }
            body[yahoo] .deviceWidth3 img {
                width: 80% !important;
            }
            body[yahoo] .no-pad-top {
                padding-top: 0 !important;
            }
            body[yahoo] .no-pad-bottom {
                padding-bottom: 0 !important;
            }
            body[yahoo] .left-pad {
                padding-left: 10px !important;
            }
            body[yahoo] .hide {
                display: none !important;
            }
            body[yahoo] .no-border {
                border: none !important;
            }
            body[yahoo] .block {
                display: block !important;
            }
        }
    </style>

<style>

sup {
  line-height: 0;
  font-size: 75%
}

@media screen and (max-width: 599px) {

.container {
  width: 100% !important;
  margin: 0!important;
}

.header-main-logo {
  padding: 20px !important;
}

.header-partner-logo {
  padding: 20px !important;
}

.header-main-logo img {
  max-width: 130px !important;
  width: auto !important;
  max-height: 30px !important;
}

.header-partner-logo img {
  max-width: 130px !important;
  width: auto !important;
  max-height: 30px !important;
}

.responsive-image {
  max-width: 100% !important;
  height: auto !important;
  width: auto !important;
  display: block !important;
}

.hero {
  background-size: cover !important;
   background-position: center !important;
}


.no-horizontal-pad {
  padding-left: 0px !important;
  padding-right: 0px !important;
}


.center {
  text-align: center !important;
  margin: 0 auto !important;
  background: red !important;
}

.pad-mobile {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.image-center {
  text-align: center !important;
  display: block !important;
  margin: 0 auto !important;
}

.d-block,
.d-block tbody {
  display: block !important;
}

.width100,
.width100 tbody {
  width: 100% !important;
}



.ol-number {
  padding: 12px 0 8px !important;
}

.ol-content {
  padding: 12px 0 36px !important;
}

.hom {
  display: none !important;
}

.spacer {
  display: block !important;
  width: 100% !important;
}

.logo-main {
  width: 150px !important;
  height: auto !important;
}

.pad-mobile-vertical {
  padding-top: 6px !important;
}

.hero-headline {
  font-size: 24px !important;
  line-height: 32px !important;
}

.hero-image {
  padding: 32px 0 0;
}

.pad-bottom {
  padding-bottom: 32px !important;
}

.support-link-table {
  width: 100%;
  display: block !important;
}

.support-icon {
  padding: 4px 0;
}

.box-pad {
  display: block !important;
  width: 90% !important;
  padding: 0 5% 10% 5% !important;
}

.box-pad-no-bottom{
  display: block !important;
  width: 90% !important;
  padding: 0 5% 0% 5% !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.ph {
  padding-left: 35px !important;
  padding-right: 35px !important;
}

.prefooter-section {
  display: block;
  width: auto !important;
  text-align: center !important;
  padding: 0 0 20px 0 !important;
}

.prefooter-section-pb-0 { 
  display: block;
  width: auto !important;
  text-align: center !important;
  padding: 0 !important;
}

.prefooter-table {
  margin: 0 auto !important;
}

.prefooter-table.social {
  float: none !important;
}

.section7 tr {
  display: block !important;
}

.theprefooter {
  width: auto !important;
  display: block !important;
  margin: 0 auto !important;
}


}

</style>