

<table class="mktoModule container" id="{{ id }}" mktoName="{{ name }}" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 600px;" {% if hide %}mktoAddByDefault="false"{% endif %}>
  <tr>
    <td bgcolor="#FFFFFF" class="{{ class }} {% if top %}pad-mobile-vertical{% endif %}" style="
      padding: {{ paddingTop }}px {{ paddingHorizontal }}px {{ paddingBottom }}px {{ paddingHorizontal }}px; 
      {% if top %}
        border-top: solid 1px #e8eaed;
        border-top-left-radius: 3px; 
        border-top-right-radius: 3px;
      {% endif %} 
      {% if bottom %}
        border-bottom: solid 1px #e8eaed;
        border-bottom-left-radius: 3px; 
        border-bottom-right-radius: 3px;
      {% endif %}">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="d-block width100">
            {% block module %}{% endblock %}
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>