
// marketo resets
form[id^="mktoForm_"].mktoForm {
  width: 100% !important;
  // font-size: inherit !important;
  color: inherit !important;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;

  .mdc-text-field,
  .mdc-select {
    margin-bottom: 1rem;
  }

  .mdc-button {
    margin: 1.5rem 0;
  }

  .mktoButtonWrap {
    margin: 0 !important;
  }

  .hovered-label {
    @extend .mdc-floating-label--float-above;
  }

  .mktoFormRow {
    margin: 0;
  }

  .mdc-select__native-control {
    appearance: none;
    -webkit-appearance: none;
  }

  .mktoFormCol {
    margin-bottom: 0 !important;
  }

  .mktoAsterix {
    display: inline;
  }

  .mktoFieldWrap {
    width: 100%;
    margin: 0 0 1.5rem 0;
  }

  .mdc-form-field {
    width: 100%;
  }

  .mktoCheckboxList {
    width: 100% !important;
  }

  .mktoLabel {
    // padding-top: 0;
    float: none;
    width: 100% !important;
    line-height: inherit;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
  }

  .mktoFormCol {
    margin: 0 !important;
    min-height: 0;
    float: none;
  }

  .mktoFieldWrap {
    float: none;
    width: 100%;
  }

  .mdc-select select {
    width: 100% !important;
  }
  
  textarea {
    width: 100% !important;
  }

  .mktoError {
    position: relative;
    right: auto !important;
    color: inherit;
    box-shadow : none;
    bottom: -4px !important;

    .mktoErrorArrowWrap {
      display: none;
    }

    .mktoErrorMsg {
      background: none;
      border: none;
      box-shadow: none;
      max-width: 100%;
      text-shadow: none;
      color: inherit;
      position: relative;
      min-height: 18px;
      display: block;
      font-size: 12px;
      padding: 0;
      margin: 0;

      .mktoErrorDetail {
        display: inline-block;
        font-style: italic;
      }
    }
  }
}

.mdc-text-field {
  flex-wrap: wrap;

  &::before,
  &::after {
    background-color: #fff;
  }

  &:hover {
    background: none;
  }

  input {
    font-family: 'Roboto', sans-serif;
    padding: 20px 0 6px;
    // height: 48px;
    width: 100% !important;
    background: #fff;

    &:hover {
      background: none;
    }
  }

  .mdc-floating-label {
    left: 0;
  }
}

.mktoInvalid {
  border-color: red;
}



