@import url("https://fonts.googleapis.com/css?family=Google+Sans:400,400i,500,500i,700,700i|Google+Sans+Display:400,400i,500,500i,700,700i&amp;subset=latin,latin-ext,vietnamese,greek,cyrillic");
@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Google Sans', sans-serif;
}