@import "@material/typography/functions";

$mdc-theme-primary: #4285F4;
$mdc-theme-secondary: #4285F4;
// $mdc-theme-on-secondary: if(mdc-theme-contrast-tone($mdc-theme-secondary) == "dark", #000, #fff) !default;
// $mdc-theme-background: #fff !default; // White
// $mdc-theme-surface: #fff !default;
// $mdc-theme-on-surface: if(mdc-theme-contrast-tone($mdc-theme-surface) == "dark", #000, #fff) !default;

$mdc-theme-error: #b00020 !default;
$mdc-theme-on-error: #fff !default;

$font-google-sans: 'Google Sans', 'Roboto', Arial, sans-serif;
$font-roboto: 'Roboto', Arial, sans-serif;


// LAYOUT

$mdc-layout-grid-breakpoints: (
  desktop: 840px,
  tablet: 480px,
  phone: 0px
) !default;

$mdc-layout-grid-columns: (
  desktop: 12,
  tablet: 8,
  phone: 4
) !default;

$mdc-layout-grid-default-margin: (
  desktop: 24px,
  tablet: 16px,
  phone: 16px
) !default;

$mdc-layout-grid-default-gutter: (
  desktop: 24px,
  tablet: 16px,
  phone: 16px
) !default;

$mdc-layout-grid-column-width: (
  desktop: 72px,
  tablet: 72px,
  phone: 72px
) !default;

$mdc-layout-grid-default-column-span: 4 !default;

$mdc-layout-grid-max-width: 1200px;


// TYPOGRAPHY
$mdc-typography-font-family: 'Roboto', sans-serif !default;
$mdc-headline-font-family: 'Google Sans', sans-serif !default;

$mdc-typography-base: (
  font-family: $mdc-typography-font-family,
  -moz-osx-font-smoothing: grayscale,
  -webkit-font-smoothing: antialiased,
);

$mdc-typography-font-weight-values: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  bold: 700,
  black: 900
) !default;

$mdc-typography-styles: mdc-typography-set-styles_(
  $mdc-typography-base,
  (
    headline1: (
      font-size: 4.5rem, // 96sp
      line-height: rem,
      font-family: $font-google-sans,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: mdc-typography-get-letter-spacing_(-1.5, 6),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline2: (
      font-size: 3.75rem, // 60sp
      line-height: 3.75rem,
      font-family: $font-google-sans,
      font-weight: map-get($mdc-typography-font-weight-values, light),
      letter-spacing: mdc-typography-get-letter-spacing_(-.5, 3.75),
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline3: (
      font-size: 3rem, // 48px
      line-height: 3.125rem, // 50px
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      font-family: $font-google-sans,
      letter-spacing: normal,
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline4: (
      font-size: 2.125rem, // 34sp
      line-height: 2.5rem, // 40sp
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(.25, 2.125),
      font-family: $font-google-sans,
      text-decoration: inherit,
      text-transform: inherit
    ),
    headline5: (
      font-size: 1.5rem, // 24sp
      line-height: 2rem, // 32sp
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: normal,
      text-decoration: inherit,
      font-family: $font-google-sans,
      text-transform: inherit
    ),
    headline6: (
      font-size: 1.25rem, // 20sp
      line-height: 2rem, // 32sp
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(.25, 1.25),
      font-family: $font-google-sans,
      text-decoration: inherit,
      text-transform: inherit
    ),
    subtitle1: (
      font-size: 1rem, // 16sp
      line-height: 1.75rem, // 28sp
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(.15, 1),
      text-decoration: inherit,
      font-family: $font-google-sans,
      text-transform: inherit
    ),
    subtitle2: (
      font-size: .875rem, // 14sp
      line-height: 1.375rem, // 22sp
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(.1, .875),
      text-decoration: inherit,
      font-family: $font-google-sans,
      text-transform: inherit
    ),
    body1: (
      font-size: 1rem, // 16sp
      line-height: 1.5rem, // 24sp
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(.5, 1),
      text-decoration: inherit,
      text-transform: inherit
    ),
    body2: (
      font-size: .875rem, // 14sp
      line-height: 1.25rem, // 20sp
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(.25, .875),
      text-decoration: inherit,
      text-transform: inherit
    ),
    caption: (
      font-size: .75rem, // 12sp
      line-height: 1.25rem, // 20sp
      font-weight: map-get($mdc-typography-font-weight-values, regular),
      letter-spacing: mdc-typography-get-letter-spacing_(.4, .75),
      text-decoration: inherit,
      text-transform: inherit
    ),
    button: (
      font-size: .875rem, // 14sp
      line-height: 2.25rem, // 36sp
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(1.25, .875),
      text-decoration: none,
      text-transform: uppercase
    ),
    overline: (
      font-size: .75rem, // 12sp
      line-height: 2rem, // 32sp
      font-weight: map-get($mdc-typography-font-weight-values, medium),
      letter-spacing: mdc-typography-get-letter-spacing_(2, .75),
      text-decoration: none,
      text-transform: uppercase
    ),
  )
) !default;
