/*
 *
 * Styles that apply globally to the site
 *
 */

html, body {
    box-sizing              : border-box;
    -webkit-font-smoothing  : antialiased;
    -moz-osx-font-smoothing : grayscale;
    margin                  : 0;
    padding                 : 0;
    background              : $theme-background-color;
}
body {
}
*, *:before, *::before, *:after, *::after {
    box-sizing : inherit;
}

a,
a img {
    border : 0;
    outline : none;
}

img {
    max-width : 100%;
    height    : auto;
}



// class for responsive iframes
// Classic code from Chris Coyier
// https://github.com/chriscoyier/Fluid-Width-Video
.embedHolder {
    @include margin(null auto);
    max-width : em(970);
}
.embed-container {
    position       : relative;
    padding-bottom : 56.25%;
    padding-top    : 30px;
    height         : 0;
    overflow       : hidden;
    max-width      : 100%;
    height         : auto;
}
.embed-container iframe, .embed-container object, .embed-container embed {
    position : absolute;
    top      : 0;
    left     : 0;
    width    : 100%;
    height   : 100%;
}

// Browser fix for width of .gif files
img[src$=".gif"] {
    width : initial;
}

// clearfix class
.cf {
    @include clearfix();
}

// Go to the top of the page element
#goTop {
    position  : fixed;
    bottom    : 0.25em;
    right     : 0.25em;
    color     :lighten($red, 40);
    font-size : 2em;
    z-index   : 9999;
    &:hover {
        border :none;
    }
}

.caps {
    text-transform: uppercase;
}
.blockDisplay {
    display: block;
}

/* Display Classes */

// Brute force hide classes. For a more elegant and SEO friendly
// option, use the @mixin hide-visually @mixin hide-text
.hide-small {
    @media all and (max-width: 749px) {
        display: none!important;
    }
}

.hide-med {
    @media all and (min-width: 750px) {
        display: none;
    }
}

.hide-large {
    @media all and (min-width: 1025px) {
        display: none;
    }
}
.alert, .message, .success {
    @include padding(1em 2em);
    @include margin(2em 0);
    font-family : $sans-serif;
    font-weight : 600;
    font-size   : .925em;
}
.alert {
    color            : $alert;
    background-color : rgba($alert, .10);
}
.message {
    color            : $message;
    background-color : rgba($message, .10);
}
.success {
    color            : $success;
    background-color : rgba($success, .10);
}

.visHide {
    @include hide-visually();
}

.text-button {
    display: inline-block;
    background: black;
    color: #c09e32;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;

    &:hover {
        background: #c09e32;
        color: black;
    }
}