section.agendaContainer {
    h2 {
        @include padding(null 7.8125vw);
        // @include fluid-type(1.125rem, 1.875rem);
        margin         : 0;
        background     : $black;
        font-size      : 18px;
        line-height    : 40px;
        letter-spacing : 2px;
        font-weight    : 400;
        font-size: 1.125rem;
        
        @include media($tablet-big) {
            font-size: 1.5rem;
        }
    }
    h3.agendaDate {
        @include padding(null 7.8125vw);
        margin      : 0;
        background  : $sap-gold;
        line-height : 40px;
        font-size: 1.125rem;

        @include media($tablet-big) {
            font-size: 1.25rem;
        }
    }
    div.agendaSession {
        @include padding(rem(15) 7.8125vw);
        // @include fluid-type(1.125rem, 1.5rem);
        font-size: 1rem;
        display     : flex;
        line-height : 1.125;
        justify-content : flex-start;
        
        @include media($tablet-big) {
            font-size: 1.15rem;
        }
        
        .time {
            @include padding(null rem(0) null rem(0));
            flex-basis : 60px;
            font-weight: 400;
            // text-align: right;
        }
        .title {
            flex-basis : calc(100% - 80px);
            font-weight: normal;
        }
        &.borderTop {
            border-top : 1px solid $gray-light;
        }
    }// end div.agendaSession
    .sessionSpeakers {
        h4 {
            margin-bottom  : rem(10);
            padding-bottom : rem(5);
            & + p {
                @include fluid-type(1rem, 1.25rem);
                line-height   : 1.14;
                margin-top    : -10px;
                margin-bottom : rem(30);
            }
        }
    }// end .sessionSpeakers
    .sessionDetails {
        @include padding(rem(15) 7.8125vw rem(5));
        border-top : 1px solid $gray-light;
        h4 span {
            font-weight: 400;
        }
        .speakerDetails {
            margin-bottom : 40px;
            display: flex;
            align-items: center;
            img {
                width          : 70px;
                border-radius  : 99em;
                margin-right   : 10px;
                display        : inline-block;
                vertical-align : top;
                & + div {
                    display : inline-block;
                    width   : calc(100% - 85px);
                }
            }
            p {
                margin : 0;
                line-height : 1.25;
                span {
                    text-decoration: underline;
                    cursor: pointer;
                    font-weight   : bold;
                    display       : block;
                    margin-bottom : rem(10);
                    line-height: 1.5;
                }
            }
        }
    }// end .sessionDetails
    @include media($tablet-big) {
        div.agendaSession {
            .time {
                flex-basis : 80px;
            }
            .title {
               // flex-basis : calc(100% - 80px);
            }
            &.borderTop {
                border-top : 1px solid $gray-light;
            }
        }// end div.agendaSession
    }// end media($tablet-big)
    @include media($desktop) {
        @include margin(null auto);
        @include padding(0 7.8125vw);
        max-width : calc(1170px + 15.625vw);

        h2 {
            @include padding(null rem(30) null);
            letter-spacing : 3px;
            height         : 50px;
            line-height    : 50px;
        }
        h3.agendaDate {
            @include padding(null rem(30) null);
            height : 50px;
            line-height: 50px;
        }
        div.agendaSession {
            @include padding(rem(25) 7.8125vw);
            .time {
                // @include padding(null rem(43) null 0);
                flex-basis : 100px;
            }
            &.borderTop {
                @include margin(null 7.8125vw);
                @include padding(rem(25) 0);
            }
        }// end div.agendaSession
        .sessionSpeakers {
            h4 {
                padding-bottom : rem(15);
            }
        }// end .sessionSpeakers
        .sessionDetails {
            @include margin(null 7.8125vw);
            @include padding(rem(25) 0 rem(25));
            .speakerDetails {
                margin-bottom : 25px;
                img {
                    width : 120px;
                    margin-right : 30px;
                    & + div {
                        width : calc(100% - 155px);
                    }
                }
                p {
                    // @include fluid-type(1rem, 1.3125rem);
                    span {
                        margin-bottom : rem(3);
                        padding-top   : rem(10);
                    }
                }
            }
        }// end .sessionDetails
    }
}// end .section.agendaContainer


// Fancybox overrides on Agenda page
.fancybox-container {
    .fancybox-slide {
        > div.agendaBio {
            @include padding(rem(15) rem(15) rem(10));
            @include margin(rem(25) 7.8125vw);
            text-align: center;
            max-height: 600px;
            img {
                @include margin(null auto rem(21));
                width          : 157px;
                border-radius  : 99em;
                display        : block;
            }
            .modalDetails {
                p {
                    @include fluid-type(1.125rem, 1.5rem);

                    line-height: 1.5;
                    &:first-child {
                        // margin-bottom: rem(5);
                        font-weight: bold;
                    }
                }
                .speakerBio {
                    margin-top : rem(21);
                    text-align: left;
                    padding-bottom: 1rem;
                    p {
                        // @include fluid-type(0.875rem, 1.125rem);
                        font-size: 1rem;
                        font-weight: 400;
                        em {
                            font-style: italic;
                        }
                    }

                }
            }

            .fancybox-close-small:after {
                content : "";
                background : url('./img/icons/icon-close.svg') no-repeat center center;
                height : 43px;
                width : 43px;
                border-radius: 0;
                outline : none;

            }
        }// end div.agendaBio
    }// end .fancybox-slide
    @include media($desktop) {
        .fancybox-slide {
            > div.agendaBio {
                @include padding(rem(60) rem(40));
                max-width: 975px;
                text-align: left;
                img {
                    float : left;
                    margin-right : 43px;
                }
                .modalDetails {
                    width : calc(100% - 200px);
                    max-width : 695px;
                    float : right;
                }
            }
        }
    }
}// end .fancybox-container





















