section.participantsContainer {
    [v-cloak] {
        display : none;
    }
    @include padding(rem(0) null rem(15));

    .eventDateContainer {
        background : $black;
        // height     : 44px;
        height: auto;

        .innerContainer {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            &:after {
                display: none;
            }
        }
        
        h2 {
            @include fluid-type(1.125rem, 1.5rem);
            margin-bottom : 0;
            line-height   : 44px;
        }

        ul.legend {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            li {
                @include fluid-type(0.8rem, 1rem);
                color: #fff;
                line-height: 15px;
                margin: 0;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                padding: 0 0 0 15px;
                img {
                    width: 15px;
                    flex-basis: 15px;
                    height: auto;
                    margin-right: 5px;
                }
            }
        }

    }

    .speakerContainer {
        @include padding(rem(15) null);
        display: flex;
        border-bottom : 1px solid $gray-light;
        img {
            width : 70px;
            height : 70px;
            border-radius: 99em;
            flex-shrink: 0;
        }
        .headshotFiller {
            width : 70px;
            height : 70px;
        }
        .speakerDetails {
            padding-left : 10px;
            align-self : flex-start;
            p {
                @include fluid-type(0.875rem, 1.125rem);
                @include margin(0 null rem(5));
                line-height: 1.2;
                &:first-child {
                    font-weight: bold;
                }
            }
            .speaker-icon {
                width: 15px;
                height: auto;
            }
        }// end .speakerDetails
    }// end .speakerContainer
    @include media($tablet-big) {
        div.innerContainer {
            &:after {
                display : none;
            }
            display         : flex;
            flex-wrap       : wrap;
            justify-content : space-between;
            .speakerContainer {
                @include padding(rem(50) null rem(15));
                flex-basis : calc(50% - 15px);
            }
        }
    }// end media($tablet-big)
    @include media($desktop) {
        .eventDateContainer {
            height : 50px;
            h2 {
                @include padding(null rem(30) null 0);
                line-height: 50px;
            }
        }// end .eventDateContainer
        div.innerContainer.speakerInner {
            justify-content : flex-start;
            .speakerContainer {
                flex-basis : calc(33% - 20px);
                margin-right : 30px;
                &:nth-child(3n+3) {
                    margin-right : 0;
                }
            }
        }
    }
}// end section.participantsContainer






