section.locationBar {
    background : $sap-gold;
    @include padding(rem(15) null rem(15));
    .locationInner {
        @include padding(rem(15) 7.8125vw rem(5));
    }
    .innerHolder {

    }
    .locationImg {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        img {
            width : 70px;
            border-radius: 99em;
            margin-right : 10px;
        }
    }
    .locationText {
        display: inline-block;
        width : calc(100% - 85px);
        p {
            margin-bottom: 0;
            a {
                text-decoration: underline;
                line-height: 1.75;
            }
        }
    }
    @include media($desktop) {
        .locationInner {
            @include margin(null auto);
            @include padding(0 7.8125vw);
            max-width : calc(1170px + 15.625vw);
        }
        .innerHolder {
            @include margin(null 7.8125vw);
            @include padding(rem(15) 0 rem(15));
            display: flex;
            align-items: center;
        }
        h2 {
            color : $black;
        }
        .locationImg {
            display: inline-block;
            margin-right : 30px;
            img {
                width : 120px;
                border-radius: 99em;
            }
        }
        .locationText {
            display: inline-block;
            width : calc(100% - 165px);
            p {
                margin-bottom: 0;
            }
        }
    }


}