.clear:before, .clear:after {
  content: ' ';
  display: table; }

.clear {
  *zoom: 1; }
  .clear:after {
    clear: both; }

* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

html {
  font-size: 62.5%; }

body {
  font: 300 16px/1.6 'Arial', Helvetica, sans-serif;
  color: #444;
  transition: all .4s .3s ease-in; }

body, html {
  min-height: 100vh; }

img {
  width: 100%; }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

header {
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50; }
  @media screen and (min-width: 992px) {
    header {
      position: static; } }
  header .container {
    padding-top: 10px;
    padding-bottom: 10px; }
    @media screen and (min-width: 992px) {
      header .container {
        padding-top: 30px;
        padding-bottom: 30px; } }
  header .logo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: end;
        align-items: flex-end; }
    header .logo .left-logo img {
      width: 50px; }
      @media screen and (min-width: 992px) {
        header .logo .left-logo img {
          width: 70px; } }
    header .logo .right-logo .mobile-logo {
      width: 70px;
      margin-left: 30px; }
      @media screen and (min-width: 992px) {
        header .logo .right-logo .mobile-logo {
          width: 102px;
          margin-left: 30px; } }
    header .logo .right-logo .desktop-logo {
      display: none; }

nav {
  border-bottom: 5px solid #f89f1f;
  min-height: 30px;
  position: relative;
  background-color: #000; }
  @media screen and (min-width: 992px) {
    nav {
      border-bottom: 10px solid #f89f1f; } }
  nav ul {
    -ms-flex-pack: center;
        justify-content: center; }
    nav ul .dropdown-submenu {
      position: relative; }
      nav ul .dropdown-submenu .dropdown-menu-custom {
        margin-left: 0;
        margin-right: 0;
        background-color: #000; }
        nav ul .dropdown-submenu .dropdown-menu-custom li {
          margin-left: 0;
          margin-right: 0;
          list-style-type: none; }
    nav ul li {
      margin: 10px 30px; }

.navbar-collapse {
  position: absolute;
  top: 84px;
  background-color: black;
  right: 0px;
  width: calc(100vw - 30px);
  max-width: 450px;
  z-index: 99; }

@media (min-width: 992px) {
  header .logo {
    -ms-flex-pack: justify;
        justify-content: space-between; }
    header .logo .right-logo .desktop-logo {
      width: 300px;
      display: block; }
    header .logo .right-logo .mobile-logo {
      display: none; }
  nav #navbarNav {
    position: initial;
    -ms-flex-pack: center;
        justify-content: center; }
    nav #navbarNav .dropdown-submenu .dropdown-menu-custom {
      position: absolute;
      width: 200%;
      left: -50%;
      padding-left: 20px;
      display: none; }
    nav #navbarNav .dropdown-submenu:hover .dropdown-menu-custom {
      display: block; } }

.navbar {
  padding: 0; }

.navbar-nav {
  padding: 30px;
  margin: 0; }
  .navbar-nav a {
    padding: 5px 0;
    display: block; }

.navbar-toggler {
  font-size: 17px;
  border: none;
  padding: 0; }
  @media screen and (min-width: 992px) {
    .navbar-toggler {
      display: none; } }

.navbar-toggler-icon {
  background: url(../img/menu-without-text.png) center center no-repeat;
  width: 100%;
  height: 40px; }

.ert-stripe {
  height: 20px;
  background: #000;
  border-bottom: solid 5px #f89f1f; }
  @media screen and (min-width: 992px) {
    .ert-stripe {
      display: none; } }

@media screen and (min-width: 768px) {
  .navbar-nav {
    max-width: 960px;
    padding: 30px; } }

@media screen and (min-width: 992px) {
  .logo {
    width: 100%; }
  .navbar-collapse {
    position: relative;
    top: 0;
    display: block !important;
    width: 100%;
    border-bottom: solid 10px #f89f1f;
    max-width: 100000px; }
  .navbar-nav {
    max-width: 960px;
    padding-top: 0px;
    padding-bottom: 0px;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: end;
        justify-content: flex-end;
    margin: 0 auto; }
    .navbar-nav li a {
      display: block;
      padding: 9px 20px; }
    .navbar-nav li ul {
      display: none;
      position: absolute;
      background: #000;
      list-style: none;
      margin: 0;
      padding: 0 0 15px 0; }
    .navbar-nav li:hover ul {
      display: block; } }

@media screen and (min-width: 1200px) {
  .navbar-nav {
    max-width: 1140px; } }

.dropdown-menu-custom {
  font-size: 12px;
  list-style: none;
  margin: 0;
  padding: 0 0 0 1em; }
  .dropdown-menu-custom a {
    padding: 10px 0; }

h2 {
  font-size: 1.875em;
  line-height: 1.5;
  font-weight: bold;
  margin: 0; }

h3 {
  font-size: 1.5em;
  line-height: 1.5em;
  margin: 30px 0; }

h4 {
  font-size: 1em; }

hr {
  border-top: 1px solid #6E6E6E; }

.division {
  border-top: 5px solid #01a0b8; }

.navbar-nav a {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }
  .navbar-nav a:hover {
    color: #f89f1f;
    text-decoration: underline; }
  .navbar-nav a:active {
    color: #f89f1f;
    text-decoration: underline; }

a {
  color: #000;
  text-decoration: underline; }
  a:hover, a:active {
    color: #000;
    text-decoration: underline; }

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto; } }

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 670px;
    margin: 1.75rem auto; } }

.headline {
  color: #fff;
  position: relative;
  padding: 30px 0;
  background-color: #01a0b8;
  overflow: hidden; }
  @media screen and (min-width: 992px) {
    .headline {
      padding: 30px 0 80px; } }
  .headline h2 {
    margin: 0; }
  .headline p .date {
    font-size: 1.5em;
    font-weight: 500; }
    .headline p .date:after {
      content: "\A";
      white-space: pre; }
  .headline .author {
    font-weight: bold; }
  .headline .headline-bt img {
    width: 100%; }
  .headline:after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    border: 4px solid #f89f1f; }

.main-content {
  background-color: #fff;
  position: relative;
  z-index: 9; }
  .main-content h3 {
    margin: 5px 0; }
  .main-content .bar {
    background-color: #01a0b8;
    padding: 8px 15px;
    color: #fff; }
    .main-content .bar h3 {
      font-weight: bold; }
  .main-content .container-small {
    margin: 30px; }
    .main-content .container-small h4 {
      margin-top: 20px;
      margin-bottom: 30px;
      font-weight: bold; }
    .main-content .container-small .readmore a {
      color: #444;
      text-decoration: underline; }
      .main-content .container-small .readmore a:after {
        content: "\25BC"; }
    .main-content .container-small .agenda-section-title {
      font-size: 2.25em;
      color: #01a0b8;
      font-weight: bold; }
    .main-content .container-small .agenda-section-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .main-content .container-small .agenda-section-content div:first-child {
        width: 30%; }
      .main-content .container-small .agenda-section-content p {
        font-size: 1.5em;
        font-weight: bold; }
      .main-content .container-small .agenda-section-content .agenda-section-content-title .agenda-section-content-title-content p {
        font-size: 16px;
        font-weight: initial; }
  .main-content .img-circle-border {
    text-align: center; }
    .main-content .img-circle-border .img-circle-border-item h3 {
      margin-top: 30px;
      text-decoration: underline; }

.intro ul {
  display: none; }

.social-programme-inner .social-programme-item {
  border: 1px solid #efefef;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0 0 30px #aaaaaa; }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .headline {
    min-height: 352px; } }

@media (min-width: 1201px) {
  .headline {
    min-height: 264px; } }

@media (min-width: 992px) {
  h2 {
    font-size: 3em; }
  h3 {
    font-size: 1.75em; }
  h4 {
    font-size: 1.5em; }
  #main {
    overflow: hidden; }
  .headline {
    background: url("../../assets/img/dotted_map_white.png") center center #01a0b8;
    background-size: cover; }
    .headline h2 {
      font-size: 3em; }
      .headline h2 .big-text {
        font-size: 1.5em; }
    .headline p .date {
      font-size: 1.5em; }
      .headline p .date:after {
        content: " | "; }
    .headline p .author {
      font-size: 1.5em; }
    .headline:after {
      content: "";
      display: block;
      width: 200%;
      left: -50%;
      height: 600px;
      bottom: -550px;
      position: absolute;
      background: #fff;
      border-radius: 100%;
      border: 10px solid #f89f1f; }
  .intro ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0; }
    .intro ul li {
      margin: 0 0 50px 0; }
      .intro ul li img {
        width: 100%; }
  .intro .paragraph-big-text {
    font-size: 1.5em; }
  .main-content {
    background: #fff;
    position: relative;
    top: -1px; }
    .main-content .bar {
      background-color: #01a0b8;
      padding: 8px 15px;
      color: #fff; }
    .main-content h3 {
      font-size: 2.25em; }
    .main-content .img-circle-border {
      margin-top: 60px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -ms-flex-pack: start;
          justify-content: flex-start;
      text-align: center; }
      .main-content .img-circle-border .img-circle-border-item {
        width: 270px;
        margin: 0 40px; }
        .main-content .img-circle-border .img-circle-border-item h3 {
          font-weight: bold; }
        .main-content .img-circle-border .img-circle-border-item img {
          border: 10px solid #f7941c; }
  .social-programme-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: justify;
        justify-content: space-between; } }

.social-programme-item {
  width: 100%;
  padding: 30px; }
  .social-programme-item img {
    width: 100%;
    display: block;
    margin-bottom: 1em; }
  .social-programme-item h3 {
    font-weight: normal;
    margin: 0; }
  .social-programme-item h4 {
    margin: 1em 0 1.5em; }
  .social-programme-item button {
    background-color: #01a0b8;
    padding: 12px;
    font-size: 1.3em;
    color: #fff; }

.intro {
  padding-top: 40px; }

@media screen and (min-width: 992px) {
  .intro {
    padding-top: 40px; }
  .social-programme-item {
    width: 48.7%; } }

.modal-header {
  border-bottom: none; }

.modal-header .close {
  font-size: 32px; }

.mb0 {
  margin-bottom: 0 !important; }

footer {
  margin-top: 50px;
  background-color: #000;
  padding: 25px 0; }
  footer .footer-inner {
    text-align: center; }
    footer .footer-inner .copy-right {
      margin-top: 10px;
      font-size: 0.625em;
      color: #fff; }
    footer .footer-inner .footer-links a {
      color: #fff;
      text-decoration: underline;
      margin: 0 10px; }

@media (min-width: 992px) {
  footer .footer-inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    footer .footer-inner .copy-right {
      font-size: 1.125em;
      color: #fff; }
    footer .footer-inner .footer-links a {
      font-size: 1.5em;
      color: #fff; } }

.carousel-indicators {
  z-index: 1; }
  .carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #000;
    background-color: #fff; }
  .carousel-indicators .active {
    background-color: #000;
    opacity: 1; }

.carousel-item-desktop {
  display: none; }

@media (min-width: 992px) {
  .special.slideshpw .carousel-indicators, .special.slideshpw .carousel-control-prev, .special.slideshpw .carousel-control-next, .special.slideshpw .carousel-inner {
    display: none; }
  .special.slideshpw .carousel-item-desktop {
    display: block; } }

button:focus {
  outline: none; }

.button {
  display: inline-block;
  background-color: #01a0b8;
  padding: 8px 48px;
  font-size: 16px;
  color: #fff;
  text-decoration: none; }
  .button:hover {
    color: #fff;
    text-decoration: none;
    background-color: #018a9f; }

.paragraph-big-text {
  font-size: 21px; }

p {
  margin-bottom: 1em; }

h1, h2, h3, h4, h5 {
  margin: 0 0 .5em 0;
  line-height: 1.5; }

h1,
.h1 {
  font-size: 30px;
  font-weight: bold;
  height: auto;
  margin-bottom: .5em; }
  @media screen and (min-width: 992px) {
    h1,
    .h1 {
      font-size: 72px; } }

h2 {
  font-size: 24px;
  font-weight: bold; }
  @media screen and (min-width: 992px) {
    h2 {
      font-size: 48px;
      font-weight: bold; } }

@media screen and (min-width: 768px) {
  h3 {
    font-weight: bold; } }

b,
strong {
  font-weight: bold; }

@media screen and (min-width: 992px) {
  h1.page-title {
    font-size: 45px; } }

h3.blue {
  color: #01a0b8;
  font-weight: bold;
  margin-bottom: 1em; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-moz-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

::-webkit-selection {
  background: #333;
  color: #fff;
  text-shadow: none; }

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between; }

.hotel-info h1 {
  margin: 0 0 .5em; }

.hotel-info h2 {
  margin: 0 0 .5em; }

.hotel-info p {
  line-height: 2; }

@media screen and (min-width: 768px) {
  .hotel-info h1 {
    font-size: 48px; }
  .hotel-info h2 {
    font-size: 24px;
    margin: 0;
    line-height: 1.5; }
  .hotel-info p {
    font-size: 24px;
    line-height: 1.5; }
  .big-text {
    display: block; } }

.toggle-bar {
  background: #01A0B8;
  width: calc(100% + 60px);
  -ms-transform: translateX(-30px);
      transform: translateX(-30px);
  display: block;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 21px;
  font-weight: bold; }
  .toggle-bar.collapsed:after {
    transform: rotate(90deg) rotateX(130deg);
    top: 35px; }
    @media screen and (min-width: 768px) {
      .toggle-bar.collapsed:after {
        display: none; } }
  .toggle-bar:after {
    transform: rotate(270deg) rotateX(130deg);
    right: 25px;
    top: 17px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #fff;
    border-width: 18px;
    margin-top: -18px; }
    @media screen and (min-width: 768px) {
      .toggle-bar:after {
        display: none; } }
  .toggle-bar:hover {
    text-decoration: none;
    color: #fff; }
  @media screen and (min-width: 768px) {
    .toggle-bar {
      width: 100%;
      -ms-transform: translateX(0);
          transform: translateX(0); }
      .toggle-bar:hover {
        cursor: default; } }
  @media screen and (min-width: 768px) {
    .toggle-bar {
      padding: 5px 15px; } }

.agenda-box {
  padding: 30px 0; }
  @media screen and (min-width: 992px) {
    .agenda-box {
      padding-left: 60px;
      padding-right: 60px; } }

dl.agenda-item {
  /*
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: 2fr 7fr;
  border-bottom: solid 1px #000;
  padding: 10px 0;
  @media screen and (min-width: 768px) {
    grid-template-columns: 4fr 9fr;
    padding: 20px 0;
  }
  */
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
  border-bottom: solid 1px #000; }
  @media screen and (min-width: 768px) {
    dl.agenda-item {
      padding: 20px 0; } }
  dl.agenda-item:last-child {
    border-bottom: none; }
  dl.agenda-item dt {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; }
    @media screen and (min-width: 768px) {
      dl.agenda-item dt {
        -ms-flex-preferred-size: 37%;
            flex-basis: 37%; } }
    @media screen and (min-width: 992px) {
      dl.agenda-item dt {
        -ms-flex-preferred-size: 35%;
            flex-basis: 35%; } }
    dl.agenda-item dt .map-link {
      display: none; }
      @media screen and (min-width: 768px) {
        dl.agenda-item dt .map-link {
          display: block;
          font-size: 16px; } }
  dl.agenda-item dd {
    -ms-flex-preferred-size: 75%;
        flex-basis: 75%; }
    @media screen and (min-width: 768px) {
      dl.agenda-item dd {
        -ms-flex-preferred-size: 63%;
            flex-basis: 63%; } }
    @media screen and (min-width: 992px) {
      dl.agenda-item dd {
        -ms-flex-preferred-size: 65%;
            flex-basis: 65%; } }
    @media screen and (min-width: 768px) {
      dl.agenda-item dd .map-link {
        display: none; } }
  dl.agenda-item h4 {
    font-weight: bold;
    margin: 0 0 .5em; }
  dl.agenda-item h5 {
    font-size: 18px;
    font-weight: bold; }
  dl.agenda-item .map-link {
    color: #000;
    font-weight: normal; }
  dl.agenda-item a.map-link {
    text-decoration: underline; }

@media screen and (min-width: 768px) {
  .intro .collapse {
    display: block !important; } }

h4.checkout {
  text-align: center;
  font-weight: bold;
  margin: 40px 0 0; }

.mornin-session h3 {
  border-top: solid 5px #01a0b8;
  padding-top: 40px; }

.programme-box {
  padding: 30px 0; }
  @media screen and (min-width: 768px) {
    .programme-box {
      padding: 30px 60px; } }
  .programme-box img {
    margin-bottom: 1em; }
  .programme-box h3 {
    margin-bottom: .5em; }

.readmore {
  position: relative;
  transition: all 1s ease-in-out;
  margin-bottom: 30px; }
  .readmore * {
    transition: all 1s ease-in-out; }
  .readmore .content {
    height: 150px;
    overflow: hidden;
    transition: all 1s ease-in-out;
    position: relative; }
  .readmore.expanded .expand {
    padding-top: 20px; }
    .readmore.expanded .expand .arrow {
      transform: rotate(270deg) rotateX(60deg);
      top: 1px; }
  .readmore .expand {
    display: block;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, white 50%, white 100%);
    width: 100%;
    position: absolute;
    bottom: -2px;
    padding-top: 50px; }
    .readmore .expand .arrow {
      transform: rotate(90deg) rotateX(60deg);
      display: inline-block;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      pointer-events: none;
      border-color: rgba(136, 183, 213, 0);
      border-left-color: #000;
      border-width: 12px;
      margin-top: -12px;
      top: 13px;
      position: relative; }

.speakers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-column-gap: 60px;
  grid-row-gap: 30px; }
  @media screen and (min-width: 567px) {
    .speakers {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 992px) {
    .speakers {
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
      padding: 30px 60px; } }

.speaker-card {
  max-width: 300px;
  margin: 0 auto;
  text-align: center; }
  .speaker-card:hover {
    cursor: pointer; }
  .speaker-card img {
    border-radius: 1000px;
    max-width: 270px;
    border: solid 10px #f89f1f;
    display: block;
    margin: 0 auto; }
  .speaker-card h4 {
    margin: 1em 0;
    text-decoration: underline;
    font-weight: bold; }

.divider-wrap {
  position: relative;
  height: 10px; }

.divider {
  background: #01a0b8;
  height: 5px;
  position: relative;
  width: 200vw;
  left: -100vw; }
  @media screen and (min-width: 567px) {
    .divider {
      width: 100%;
      left: 0; } }

.intro {
  overflow: hidden; }

dl.bio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr; }
  @media screen and (min-width: 567px) {
    dl.bio {
      -ms-grid-columns: 1fr 3fr;
          grid-template-columns: 1fr 3fr; } }
  dl.bio dd, dl.bio dt {
    border-bottom: solid 1px #000;
    margin: 0;
    padding: 10px 0; }

.modal-body {
  padding: 15px; }
  @media screen and (min-width: 567px) {
    .modal-body {
      padding: 15px 30px; } }
  .modal-body h5 {
    font-size: 16px;
    font-weight: bold; }

.grid-test {
  display: table;
  width: 100%; }
  .grid-test .item {
    display: table-cell;
    width: 50%;
    position: relative; }
    .grid-test .item .inner {
      height: 100%; }

.container {
  padding-left: 30px;
  padding-right: 30px; }

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

body {
  color: #000000; }

.headline h2 {
  margin-bottom: 10px;
  font-size: 30px; }

.social-programme-inner {
  padding: 15px 0;
  display: -ms-grid;
  display: grid; }
  @media screen and (min-width: 720px) {
    .social-programme-inner {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      grid-column-gap: 30px; } }

.social-programme-inner .social-programme-item {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 41px;
      grid-template-rows: auto 41px;
  padding: 30px 20px; }
  @media screen and (min-width: 992px) {
    .social-programme-inner .social-programme-item {
      width: 100%; } }
  .social-programme-inner .social-programme-item h3 {
    font-size: 24px;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      .social-programme-inner .social-programme-item h3 {
        font-size: 30px; } }
  .social-programme-inner .social-programme-item h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 1em 0; }
    @media screen and (min-width: 768px) {
      .social-programme-inner .social-programme-item h4 {
        font-size: 24px; } }

.hotel-info h1 {
  line-height: 1.1; }

h2.sp-title {
  font-size: 30px; }
  @media screen and (min-width: 768px) {
    h2.sp-title {
      font-size: 48px; } }

@media screen and (min-width: 768px) {
  .home .slideshow .carousel-control-next, .home .slideshow .carousel-control-prev, .home .slideshow .carousel-indicators, .home .slideshow .carousel-inner {
    display: none !important; } }

@media screen and (min-width: 768px) {
  .carousel-item-desktop {
    display: block; } }

.intro-sidebar img {
  border-radius: 10px; }

.nav-item.active a,
a.active {
  color: #f89f1f;
  text-decoration: underline; }

.hotel .carousel-inner,
.about .carousel-inner,
.agenda .carousel-inner,
.social-programme-page .carousel-inner {
  display: block !important; }

.hotel .slideshow .carousel-control-next,
.hotel .slideshow .carousel-indicators,
.hotel .slideshow .carousel-control-prev,
.about .slideshow .carousel-control-next,
.about .slideshow .carousel-indicators,
.about .slideshow .carousel-control-prev,
.agenda .slideshow .carousel-control-next,
.agenda .slideshow .carousel-indicators,
.agenda .slideshow .carousel-control-prev,
.social-programme-page .slideshow .carousel-control-next,
.social-programme-page .slideshow .carousel-indicators,
.social-programme-page .slideshow .carousel-control-prev {
  display: -ms-flexbox !important;
  display: flex !important; }

.img-header {
  display: block;
  -ms-transform: translateY(-20px);
      transform: translateY(-20px); }
  .img-header img {
    border-radius: 1000px;
    width: 100px;
    border: solid 3px #f89f1f;
    float: left; }
  .img-header h5 {
    font-size: 21px;
    margin: 0 0 0 115px;
    line-height: 100px; }

.cssgridlegacy .social-programme-inner {
  padding: 15px 0;
  display: block; }

.cssgridlegacy .social-programme-inner .social-programme-item {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  display: block;
  padding: 30px 20px; }
  .cssgridlegacy .social-programme-inner .social-programme-item:nth-child(even) {
    float: right;
    clear: none; }
    @media screen and (min-width: 720px) {
      .cssgridlegacy .social-programme-inner .social-programme-item:nth-child(even) {
        float: right;
        clear: none; } }
  @media screen and (min-width: 720px) {
    .cssgridlegacy .social-programme-inner .social-programme-item {
      float: left;
      clear: both;
      width: 48%; } }
  .cssgridlegacy .social-programme-inner .social-programme-item h3 {
    font-size: 24px;
    font-weight: bold; }
    @media screen and (min-width: 768px) {
      .cssgridlegacy .social-programme-inner .social-programme-item h3 {
        font-size: 30px; } }
  .cssgridlegacy .social-programme-inner .social-programme-item h4 {
    font-size: 16px;
    font-weight: normal;
    margin: 1em 0; }
    @media screen and (min-width: 768px) {
      .cssgridlegacy .social-programme-inner .social-programme-item h4 {
        font-size: 24px; } }

.cssgridlegacy .speakers {
  display: block; }
  .cssgridlegacy .speakers:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 567px) {
    .cssgridlegacy .speakers {
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 992px) {
    .cssgridlegacy .speakers {
      padding: 0; } }

.cssgridlegacy .speaker-card {
  max-width: 250px;
  margin: 0 30px 0 0;
  text-align: center;
  float: left; }
  .cssgridlegacy .speaker-card:hover {
    cursor: pointer; }
  .cssgridlegacy .speaker-card img {
    border-radius: 1000px;
    max-width: 270px;
    border: solid 10px #f89f1f;
    display: block;
    margin: 0 auto; }
  .cssgridlegacy .speaker-card h4 {
    margin: 1em 0;
    text-decoration: underline;
    font-weight: bold; }
