section.agendaHeroContainer {
    .backgroundHeader {
        background : url(./img/design/london-header-small.jpg) no-repeat top right;
        background-size : cover;
        height : 134px;
        width : 100%;
    }
    img {
        display : block;
    }
    .eventDateContainer {
        background : $black;
        height     : 44px;
        h2 {
            @include fluid-type(1.125rem, 1.5rem);
            margin-bottom : 0;
            line-height   : 44px;
        }
    }
    .agendaBodyContainer {
        @include padding(rem(13) null rem(20));
        .signatureContainer {
                margin-top: 1.875rem;
                img {
                    max-width : 75px;
                    margin-bottom: rem(18);
                }
                p {
                    margin-bottom : rem(18);
                }
            }// end .signatureContainer
    }
    @include media($tablet-big) {
        .backgroundHeader {
            background : url(./img/design/london-header-large.jpg) no-repeat top right;
            background-size : cover;
            height : 150px;
            width : 100%;
        }
    }
    @include media($desktop) {
        .backgroundHeader {
            height : 300px;
        }
        .eventDateContainer {
            height : 50px;
            h2 {
                @include padding(null rem(30) null 0);
                line-height: 50px;
            }
        }// end .eventDateContainer
        .agendaBodyContainer {
            @include padding(rem(70) null rem(50));
            .signatureContainer {
                margin-top: 1.875rem;
                img {
                    max-width : 75px;
                    margin-bottom: rem(18);
                }
                p {
                    margin-bottom : rem(18);
                }
            }// end .signatureContainer
        }// end .agendaBodyContainer
    }// end media($desktop)
}// end section.agendaHeroContainer

