footer {
    @include padding(rem(26) null rem(16));
    background : $theme-background-footer;
    a {
        display : block;
    }
    .footerCEOLogo {
        img {
            margin-bottom : rem(13);
            display       : block;
            width         : 195px;
        }
    }
    .footerDate {
        padding-bottom : 15px;
        p {
            @include fluid-type(0.875rem, 1.5rem);
            color         : $sap-gold;
            line-height   : 1.15;
            font-weight   : bold;
            margin-bottom : 0;
        }
    }
    a.footerBrandLogo {
        text-align : right;
        img {
            width : 130px;
        }
    }
    @include media($desktop) {
        @include padding(rem(35) null rem(35));
        div.innerContainer {
            display         : flex;
            justify-content : space-between;
            &:after {
                display : none;
            }
        }
        div.footerSummitInfo { }
        .footerCEOLogo {
            img {
                margin-bottom : rem(15);
                width         : 200px;
            }
        }
        .footerDate {
            padding-bottom : 0px;
            p {
                color : $sap-gold;
            }
        }
        a.footerBrandLogo {
            align-self : center;
            text-align : right;
            img {
                width : 227px;
                display: block;
            }
        }
    }// end media($desktop)
}// end footer






