{% macro spacer(height="20", class="") %}
  <table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td style="padding: 0;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
          <tr>
            <td style="height: {{ height }}px; line-height: {{ height }}px;" height="{{ height }}" class="spacer {{ class }}">
              &nbsp;
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
{% endmacro %}

{% macro text(text="Text", color="#8f8f8f", ff="Verdana", fs="13", fw="normal", lh="18", padding="0", id, class, name="Text", align="left") %}
  <td style="font-family: '{{ ff }}', sans-serif; font-weight: {{ fw }}; color: {{ color }}; font-size: {{ fs }}px; line-height: {{ lh }}px; padding: {{ padding }}px 0; text-align:{{ align }}" class="text {{ class }}">
    <div class="mktoText" id="{{ id }}" mktoName="{{ name }}">
      {{  text | safe  }}
    </div>
  </td>
{% endmacro %}

{% macro button(background="#008fd3", color="#ffffff", text="Button Text", ff="Google Sans", fs="14", ls="1", borderRadius="3", url="https://example.com", paddingX="18", paddingY="12", id="ctabutton", name="CTA") %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div class="mktoText" id="{{ id }}" mktoName="{{ name }}">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" style="border-radius: {{ borderRadius }}px;" bgcolor="{{ background }}"><a href="{{ url }}" target="_blank" style="font-size: {{ fs }}px; font-family: {{ ff }}, Helvetica, Arial, sans-serif; color: {{ color }}; text-decoration: none; text-decoration: none;border-radius: {{ borderRadius }}px; padding: {{ paddingY }}px {{ paddingX }}px; border: 1px solid {{ background }}; display: inline-block; letter-spacing: {{ ls }}px;"><!--[if mso]>&nbsp;<![endif]-->{{ text }}<!--[if mso]>&nbsp;<![endif]--></a></td>
          </tr>
        </table>
      </div>
    </td>
  </tr>
</table>
{% endmacro %}

{% macro hr(id, name) %}

<table class="mktoModule container" id="{{ id }}" mktoName="{{ name }}" width="600" border="0" cellpadding="0" cellspacing="0" style="width: 600px;">
  <tr>
    <td bgcolor="#FFFFFF" class="pad-mobile" style="padding: 0 35px 0 35px;" >
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td class="d-block width100">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
              <tr class="d-block">
                <td class="d-block" style="border-bottom:4px solid #f2f2f2;"></td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
  
{% endmacro %}