<!-- /// START module-about -->
<section class="module aboutContainer">
    <div class="aboutHero">
        {# <img src="./img/design/london-about-hero.png" alt="SAP CEO Big Ben wide picture"> #}
    </div>
    <div class="eventDateContainer">
        <div class="innerContainer">
            <h2>About SAP</h2>
        </div>
    </div>
    <section class="aboutBodyContainer">
        <div class="innerText">
            <p>As the cloud company powered by SAP HANA<sup>®</sup>, SAP is the market leader in enterprise application software, helping companies of all sizes and in all industries run at their best: 77% of the world’s transaction revenue touches an SAP<sup>®</sup> system. Our machine learning, Internet of Things (IoT), and advanced analytics technologies help turn customers’ businesses into intelligent enterprises. SAP helps give people and organizations deep business insight and fosters collaboration that helps them stay ahead of their competition. We simplify technology for companies so they can consume our software the way they want – without disruption. Our end-to-end suite of applications and services enables more than 425,000 business and public customers to operate profitably, adapt continuously, and make a difference. With a global network of customers, partners, employees, and thought leaders, SAP helps the world run better and improve people’s lives. For more information, visit <a href="https://www.sap.com" target="_blank">www.sap.com</a>.</p>

            <p><a class="text-button" href="mailto:sapceosummit@sap.com?subject=SAP Regional CEO Summit | Marbella">Contact Us</a></p>
        </div>
    </section>
</section>

<!-- /// END module-about -->