
<div class="globalHero" style='background-image: url(./img/backgrounds/home-header-large.jpg)'></div>
<div class="eventDateContainer">
    <div class="innerContainer">
        <h2>Marbella | 13&ndash;14 June 2019</h2>
    </div>
</div>

<!-- /// END module-agenda-hero -->