<!-- /// START module-agenda-hero -->
<section class="module agendaHeroContainer">
    {# <img src="./img/design/hero-mobile@2x.jpg" alt="SAP CEO Big Ben wide picture"> #}
    <div class="backgroundHeader"></div>
    <div class="eventDateContainer">
        <div class="innerContainer">
            <h2>Bangkok | 19&dash;20 September 2018</h2>
        </div>
    </div>
    <section class="agendaBodyContainer">
        <div class="innerText">
            {# <h3>End of Ego: Courage in a New Era of Leadership</h3>
            <p>The SAP CEO Summit is an intimate exchange between global CEOs, world leaders and luminaries about the innovations on the cusp of disrupting businesses, the global economy and society today. We will explore how leaders of today are poised to drive impact that will improve people’s lives and build a lasting legacy.</p>
             #}{# <div class="signatureContainer">
                <p>With sincere friendship,</p>
                <img class="signatureImg" src="./img/design/bill-signature.png" alt="Bill McDermott Signature" />
                <p>Bill McDermott<br>CEO SAP</p>
            </div> #}
        </div>
    </section>
</section>

<!-- /// END module-agenda-hero -->