.print-header {
  display: none;
}

@media print {

  header {
    display: none;
  }

  .print-header {
    display: block;
    img {
      width: 240px;
      margin: 1rem 0;
    }
  }

  .searchBox {
    display: none;
  }

  .speakerInner {
    /*
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-template-rows: auto;
    */
    padding: 0;
  }

  .innerContainer {
    max-width: 1000000px !important;
    padding: 0;
    background: none !important;
  }


  section.participantsContainer .speakerContainer {
    // display: block !important;
    break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
    break-inside: avoid; /* or 'auto' */
    page-break-inside: avoid; /* or 'auto' */
    width: 33.3%;
    float: left;
    border-bottom: none;
    border-top: 1px solid gainsboro;
    display: flex;
    padding-right: 10px;

    &:nth-child(3n + 1) {
      clear:both;
    }

    img {
      // sdisplay: block;
      page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-inside: avoid; /* or 'auto' */
    }

    .speakerDetails {
      align-self: auto !important;
      p {
        font-size: 7pt !important;
      }
      
    }
  }

  section.participantsContainer .eventDateContainer {
    height: auto !important;
    background: none;

    .innerContainer {
      padding: 0 !important;
      
    }
  }

  footer {
    display: none !important;
  }

  section.agendaHeroContainer .backgroundHeader {
    display: none;
  }

  #wrapper {
    padding: 0;
  }

  section.agendaHeroContainer .eventDateContainer {
    background: none;
  }

  section.agendaContainer {
    h2 {
      background: none;
      padding: 0;
    }
    
    article {
      h3.agendaDate {
        background: none;
        padding: 0;
      }
    }

    div.agendaSession,
    div.sessionDetails {
      padding: 10px 0;
    }

    .sessionDetails .speakerDetails p {
        font-size: 9pt;
    }
  }

  section.agendaContainer h3.agendaDate {
    font-size: 12pt;
    margin-top: 1rem;
  }

  .agendaSession .time,
  .agendaSession .title,
  .sessionDetails p,
  .sessionDetails h4
   {
    font-size: 9pt !important;
  }

  section.agendaContainer .sessionDetails .speakerDetails {
    margin: 0 0 10px;
  }

  .aboutHero,
  .agendaHeroContainer {
    display: none;
  }

  section.aboutContainer .eventDateContainer {
    background: none;
  }

  .innerText {
    padding: 0;
    max-width: 1000000px !important;
    p {
      font-size: 9pt;
    }
  }

  .locationBar {
    display: none;
  }

  .module.agendaContainer h2 {
    font-size: 1.125rem !important;
    letter-spacing: 0;
    font-weight: bold;
    text-transform: none;
  }

  .speakerDetails img {
    width: 12px !important;
    position: relative;
    top: 2px;
  }



}