#clock {
  width: 144px;
  height: 144px;
  position: fixed;
  z-index: 100;
  top: calc(50% - 72px);
  left: calc(42% - 70px);
  border-radius: 1000px;
  background: url(../images/clock.svg) center center no-repeat;
  animation-duration: 0.75s;
  animation-delay: 0.7s;
  // box-shadow: 0 0 0 4px #fff;

  @media screen and (max-width: 767px) {
    display: none !important;
  }

  &:not(.animated) {
    opacity: 0;
  }

  &.fadeOutDown {
    animation-duration: 0.3s;
    animation-delay: 0s;
  }

  &:after {
    content: '';
    background: #fff;
    border: solid 4px #000;
    border-radius: 100px;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 65px;
    top: 65px;
    z-index: 10;
  }

  &.the-end {
    display: none !important;
  }

  .hour-container,
  .minute-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 1000px;

    .hour-hand,
    .minute-hand {
      background: #000;
      position: absolute;
      transform-origin: 50% 100%;
      left: 70px;
      width: 4px;
    }
    
    .hour-hand {
      height: 30px;
      top: 42px;
    }
  }

  .minute-container {
    .minute-hand {
      height: 35%;
      top: 15%;
    }
  }
}

#clock {
  &.ready {
    .hour-container,
    .minute-container {
      transition: all 1s ease-in-out;
    }
  }

  &.time1 {
    // 8:57am
  }

  &.time2 {
    // 12:21pm
    .hour-container {
      transform: rotateZ(10.5deg);
    }
    .minute-container {
      // 360 per hour + 126
      transform: rotateZ(1566deg);
    }
  }

  &.time3 {
    // 4:17pm
    // 4 hours = 120
    .hour-container {
      transform: rotateZ(132deg);
    }
    .minute-container {
      // 360 per hour + 102
      transform: rotateZ(2987deg);
    }
  }

  .hour-container {
    transform: rotateZ(-96deg);
  }
  .minute-container {
    transform: rotateZ(-21deg);
  }
}
