.conclusion {
  background: #000;

  .fp-tableCell {
    vertical-align: top;
  }

  h2 {
    font-family: SAPMedium, sans-serif;
  }
  .logo {
    max-width: 225px;
    display: block;
  }

  header {
    height: 260px;
    border-bottom: solid 4px #000;
    overflow: hidden;
   // background: center / cover no-repeat url(https://source.unsplash.com/random/940x260);
  }

  .top {
    background: #fff;
    padding: 10px 0;

    @media screen and (min-width: 768px) {
      p {
        font-size: 1.5rem;
      }
    }

    
  }

  .bottom {
    background: #000;
    color: #fff;
    padding: 1rem 0 0;

    .button {
      font-size: 18px;
      padding: 10px 16px;
      position: relative;
      top: -5px;
    }

    hr {
      width: 100%;
    }
  }

  footer {
    display: flex;
    padding: 0.5rem 0 1rem;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 767px) {
      justify-content: flex-end;
    }


    .nav-link {
      transform: scale(0.75);
      transform-origin: 0 50%;
      color: #fff;
    }
  }
}