.intro {  
  .wrapper {
    @media screen and (min-width: 768px) {
      padding-bottom: 2rem;
      border: solid 4px #000;
      min-height: 100%;
    }
  }

  .fp-tableCell {
    vertical-align: top;
  }

  header {
    height: 100px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      height: 260px;
    }
    
    border-bottom: solid 4px #000;
  }
}