hr {
 height: 7px;
 background: linear-gradient(90deg, $blue, $yellow);
 border: none; 
 margin-right: 30%;
}

.container {
  max-width: 1100px;
  padding: 0 10px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    padding: 0 80px;
  }
}

#border {
  position: fixed;
  height: 100%;
  width: 100%;
  border: solid 4px #000;
  top: 0;
  left: 0;
  z-index: 1000;
  pointer-events: none;

  &.active {
    background: #fff;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

#scrim {
  transition: all .2s ease-in-out;

  &.be-gone {
    visibility: hidden;
    opacity: 0;
  }
}

.button {
  background: $blue;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-family: SAPBook, sans-serif;
  margin: 1rem 0;
  transition: all 0.05s ease-in-out;

  .conclusion & {
    margin-bottom: 3rem;
  }

  &:hover {
    background: darken($blue, 10%);
  }

  &:active {
    transform: scale(0.95);
  }
}

