.mobile-panel {
  header.sap-step {
    height: 180px;
  }

  header {
    height: 100px;
    border: solid 2px #000;
    border-left: none;
    border-right: none;

    &.no-top-border {
      border-top: none;
    }
  }

  .clock {
    margin: 0 auto;
    display: block;
    margin-top: -27px;
    position: relative;
    z-index: 100;
  }

  .logo {
    max-width: 200px;
  }
}