.slidenav {
  position: absolute;
  bottom: 0;
  background: #fff;
  left: 0;
  z-index: 100000;
  width: 100%;
  padding: 1rem 0;

  @media screen and (max-width: 767px) {
    display: none; 
  }

  nav {
    justify-content: space-around;
    // justify-content: space-evenly;
    display: flex;
    max-width: 340px;
    margin: 0 auto;
  }
}

.nav-link {
  font-family: SAPMedium, sans-serif;
  font-size: 22px;
  color: #000;
  text-decoration: none;
  line-height: 40px;
  display: inline-flex;
  padding: 5px 0;
  transition: all .1s ease-in-out;

  @media screen and (max-width: 767px) {
    display: none; 
  }

  &.prev,
  &.slide-end {
    .arrow {
      transform: rotate(180deg)
    }
  }

  &:active {
    transform: scale(0.95);
  }
}

.arrow {
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg width='39px' height='39px' viewBox='0 0 39 39' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch --%3E%3Ctitle%3Edown arrow%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpolygon id='path-1' points='0 0 39 0 39 39 0 39'%3E%3C/polygon%3E%3C/defs%3E%3Cg id='Page-1' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='future' transform='translate(-480.000000, -1566.000000)'%3E%3Cg id='nav-bar' transform='translate(249.000000, 1540.000000)'%3E%3Cg id='next' transform='translate(231.000000, 26.000000)'%3E%3Cg id='down-arrow' transform='translate(19.500000, 19.500000) rotate(-180.000000) translate(-19.500000, -19.500000) '%3E%3Cmask id='mask-2' fill='white'%3E%3Cuse xlink:href='%23path-1'%3E%3C/use%3E%3C/mask%3E%3Cg id='Clip-2'%3E%3C/g%3E%3Cpath d='M28.8781711,26.0509233 L19.5,16.6721383 L10.1218289,26.0509233 L6.12062676,22.0498041 L19.5,8.6707082 L32.8793732,22.0498041 L28.8781711,26.0509233 Z M19.5,0 C8.73070386,0 0,8.73052291 0,19.4995958 C0,30.2694771 8.73070386,39 19.5,39 C30.2701045,39 39,30.2694771 39,19.4995958 C39,8.73052291 30.2701045,0 19.5,0 Z' id='Fill-1' fill='%23F0AB00' mask='url(%23mask-2)'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  width: 39px;
  height: 39px;
  margin-right: 10px;
}
