.scene {
  height: 100%;
  display: flex;
  background: #000;
  
  .content {
    padding: 1rem 3rem 1rem 1rem;
    height: 100%;
    position: relative;
    width: 42%;
    display: flex;
    align-items: center;
    background: #fff;
    overflow: hidden;

    h2 {
      position: absolute;
      top: 0;
      left: 0;
      padding: 3rem 1rem 1rem;
      background: #fff;
      width: 100%;
      margin: 0;
      z-index: 100;

      @media screen and (min-width: 768px) {
        font-size: 1.8rem;
        padding-top: 1rem;
      }

      @media screen and (min-width: 768px) and (min-height: 600px) {
        font-size: 2.2rem;
        padding-top: 2rem;
      }

      @media screen and (min-width: 1200px) and (min-height: 700px) {
        padding-top: 3rem;
        font-size: 3rem;
      }

      @media screen and (min-width: 1200px) and (min-height: 960px) {
        font-size: 4rem;
      }
    }

    .before,
    .after {
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem;
      padding-right: 80px;
      height: 100%;

      p {
        margin: 0;

        @media screen and (min-width: 768px) {
          font-size: 0.9rem;
        }

        @media screen and (min-width: 768px) and (min-height: 500px) {
          font-size: 1rem;
        }

        @media screen and (min-width: 768px) and (min-height: 600px) {
          font-size: 1.05rem;
        }

        @media screen and (min-width: 1200px) {
          font-size: 1.15rem;
        }
        
        @media screen and (min-width: 1200px) and (min-height: 800px) {
          font-size: 1.5rem;
        }
      }
    }
  }

  .after:not(.animated){
    opacity: 0;
  }

  .animation {
    position: absolute;
    top: 0;
    right: 0;
    width: 58%;
    height: 100%;
    z-index: 100;
    overflow: hidden;

    .animation-pad {
      padding: 0 0 0 4px;
      height: 100%;
      width: 100%;
      background: #000;
    }

    .animation-container {
      height: 100%;
      width: 100%;
      background: #fff;
    }

    .lottie {
      height: 100%;
    }
  }
}

.textbox {
  display: flex;
  align-items: center;

}

