<!-- participants.nunjucks -->
{% set page = 'participants' %}

{% extends "layout.nunjucks" %}

{% block body_content %}

    {% include "modules/module-participants.nunjucks" %}

    {# {% include "modules/module-logo-strip.nunjucks" %}

    {% include "partials/partial-table-contents.nunjucks" %} #}

{% endblock %}