nav {
    @include position(absolute, 42px 0 null null);
    @include padding(rem(25) rem(30));
    background : $black;
    visibility : hidden;
    opacity    : 0;
    min-width  : 14rem;
    transition : all .5s ease;
    display    : block;
    &.nav-open {
        visibility : visible;
        opacity    : 1;
    }
    ul {
        @include padding(0);
        @include margin(0);
        li {
            margin-bottom : rem(25);
            &:last-child {
                margin-bottom : 0;
            }
            a {
                @include font(rem(18), rem(23), 2.25px, bold, $sap-gold);
                text-decoration : none;
                display         : inline-block;
                position        : relative;
                padding-bottom  : 5px;
                text-transform  : uppercase;
                &::after {
                    @include position(absolute, null 0 0 0);
                    height     : 5px;
                    background : transparent;
                    display    : block;
                    width      : 100%;
                    content    : '';
                    transition : all 0.5s ease;
                }
            }
            &:hover,
            &.activeNav {
                cursor : pointer;
                a {
                    color : $white;
                    &::after {
                        background : $white;
                    }
                }
            }
        }
    }// end ul

    @include media($tablet-big) {

        ul li.button {
            position: absolute;
            top: -35px; 
            right: 0;
        }
        // @include padding(0 0 rem(25) rem(15));
        padding: 1rem 0 0 0;
        display: block;
        position: relative;
        background : transparent;
        visibility: visible;
        opacity: 1;
        min-width : auto;
        width: 100%;
        // background: pink;
        top: 0;
        // align-self     : flex-end;

        ul {
            @include margin(0);
            @include padding(0);
            display         : flex;
            justify-content : space-between;
            flex-wrap: nowrap;

            li {
                @include margin(0);
                // @include padding(0 0 0 3.4vw);
                display: flex;
                flex-wrap: nowrap;
                line-height: 1;
                align-content: center;
                align-items: center;
                &:last-of-type {
                    padding-right : 0;
                }
                a {
                    // @include fluid-type(0.825rem, 1.125rem);
                    font-size : 12px;
                    line-height: 1.125;
                    letter-spacing: 1.5px;
                    font-weight: bold;
                    color : $sap-gold;
                    text-decoration : none;
                    text-transform  : uppercase;
                    display         : block;
                    &:hover,
                    &.activeNav {
                        // color           : $white;
                        // text-decoration : underline;
                    }
                }// end a
            }// end li
        }// end ul
    }// end media($desktop)

    @media screen and (min-width: 850px) {
        ul li.button {
            position: relative;
            top: -3px;
        }
    }

    @include media($desktop) {
        display: flex;
        position: static;
        background : transparent;
        visibility: visible;
        opacity: 1;
        min-width : auto;
        // flex           : 1;
        align-self     : flex-end;
        padding-top: 1.5rem;
        padding-bottom : 0;
        ul {
            @include margin(0);
            @include padding(0);
            display         : flex;
            justify-content : space-between;
            li {
                @include margin(0);
                @include padding(0 2vw 0 0);
                &:last-of-type {
                    padding-right : 0;
                }
                a {
                    // @include fluid-type(1.125rem, 1.5rem);
                    font-size: 0.7rem;
                    line-height: 1.125;
                    letter-spacing: 3px;
                    font-weight: bold;
                    color : $sap-gold;
                    text-decoration : none;
                    text-transform  : uppercase;
                    display         : block;
                    &:hover,
                    &.activeNav {
                        // color           : $white;
                        // text-decoration : underline;
                    }
                }// end a
            }// end li
        }// end ul
    }// end media($desktop)
    @include media('(min-width: 1300px)') {
        //padding-right : rem(50);
        ul li a {
            font-size: 0.9rem;
        }
    }
}// end nav




