<!DOCTYPE html>
<!-- layout.nunjucks -->
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <title>Bangkok CEO Summit</title>
        <link rel=stylesheet href="./style.css">
        <link rel=stylesheet href="./js/jquery.fancybox.min.css">
         
    </head>
<body>

<header>
    <div class="innerContainer">
        <div class="headerLogoContainer">
            <h1 class="siteTitle">SAP CEO Summit</h1>
            <a href="./" class="headerLogo" title="SAP CEO Summit Home Page link">
                <img src="./img/logos/logo-sap-ceo-summit.svg" alt="SAP CEO Summit logo">
            </a>
        </div>
        <!-- end .headerLogoContainer -->
        <nav role="navigation">
    <ul>
        <li><a href="./">Agenda</a></li>
        <li class="activeNav" ><a href="./participants.html">Participants</a></li>
        <li><a href="./about.html">About SAP</a></li>
    </ul>
</nav>
        <div class="open-menu navHamburger" id="navHamburger">
            <img src="./img/icons/icon-hamburger.svg" alt="Mobile Nav toggle">
            <span>Menu</span>
        </div>
    </div>
</header>

<!-- Start Template Content -->
<div id="wrapper">



    <!-- /// START module-participants -->

<section id="app" class="module participantsContainer">
    <div class="searchBox">
        <div class="innerContainer">
            <input id="searchInput" type="search" v-model="search" name="participant search" placeholder="search for participant" />
            <button><img src="./img/icons/icon-search.svg" alt="Search Icon" /></button>
        </div>
    </div>
    <div class="eventDateContainer">
        <div class="innerContainer">
            <h2>Participants</h2>
            
        </div>
    </div>
    <div class="innerContainer">
        <p style="margin:20px 0 0 0;">Additional participants will be added upon confirmation.</p>
    </div>
    <div class="innerContainer">

        <div class="speakerContainer" v-for="participant in filteredList">
            <img v-if="participant['Headshot Upload']" :src="'./img/headshots/' + participant['Headshot Upload']" alt="">
            <div v-else style="height:70px; width:70px;">

            </div>
            <div class="speakerDetails">
            <div v-cloak>
                <p>${participant['First Name']} ${participant['Last Name']}</p>
                <p>${participant['Job Title']}</p>
                <p>${participant['Company Name']}</p>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- /// END module-participants -->



















    



</div>
<!-- End Template Content -->



    <footer>
        <div class="innerContainer">
            <div class="footerSummitInfo">
                <a href="./" class="footerCEOLogo" title="SAP CEO Summit Home Page link">
                    <img src="./img/logos/logo-sap-ceo-summit.svg" alt="SAP CEO Summit logo">
                </a>
                <div class="footerDate">
                    <p>Bangkok | 2018</p>
                </div>
            </div>
            <a href="https://www.sap.com/index.html" class="footerBrandLogo" title="SAP Home Page link" target="_blank">
                <img src="./img/logos/logo-sap.png" alt="SAP CEO Summit logo">
            </a>
        </div>
    </footer>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="./js/jquery.fancybox.min.js"></script>
        <script type="text/javascript" src="./js/scripts.js"></script>
        
            <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.min.js"></script>
            <script type="text/javascript" src="./js/search.js"></script>
        
    </body>
</html>