/*
 *
 * The classes and variables below are used for container classes
 * The variables are breakpoints parameters used in the @mixin media($desktop)
 *
 */


$small-mobile : '(max-width: 480px)';
$mobile       : '(min-width: 320px)';
$tablet       : '(min-width: 600px)';
$tablet-big   : '(min-width: 750px)';
$desktop      : '(min-width: 1024px)';
$fullscreen   : '(min-width: 1440px)';

#wrapper {

}
.columns {
    display : flex;
}
.columnsCenter {
    display     : flex;
    align-items : center;
}
.column {
    display        : flex;
    flex           : 1;
    flex-direction : column;
}

.innerContainer {
    @include clearfix;
    @include padding(0 7.8125vw);
    @include margin(0 auto);
    width     : 100%;
    max-width : calc(1170px + 15.625vw);
    height    : 100%;
}
.innerContainerFull {
    @include clearfix;
    @include padding(0);
    @include margin(0 auto);
    width     : 100%;
    max-width : rem(1170);
    height    : 100%;
    @include media($desktop) {
        // @include padding(0 rem(20));
    }
}
.innerText {
    @include clearfix;
    @include padding(0 7.8125vw);
    @include margin(0 auto);
    width     : 100%;
    max-width : calc(770px + 15.625vw);
    @include media('(min-width: 1300px)') {
        @include padding(0);
        max-width : calc(770px);
    }
}
.innerContent {
    @include padding(0 1em);
    @include margin(0 auto);
    width     : 100%;
    max-width : 68em;
}
.outerContainer {
    @include clearfix;
    @include padding(0);
    @include margin(0 auto);
    width     : 100%;
    max-width : 90em;
}

