body {
    color       : $theme-body-font-color;
    font-family : $theme-body-font;
    font-size   : $theme-font-size;
    font-weight : 400;
    line-height : $theme-body-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family : $theme-header-font;
    color       : $theme-header-font-color;
    line-height : $theme-header-line-height;
    margin      : 0 0 $small-spacing;
    font-weight : bold;
}

h1, .h1 {
    @include fluid-type(2.25rem, 4rem);
}
h2, .h2 {
    @include fluid-type(1.125rem, 2.25rem);
    color : $sap-gold;
    @include media($desktop) {
        letter-spacing: 4.5px;
    }
}
h3, .h3 {
    @include fluid-type(1.125rem, 1.5rem);
    margin-bottom : rem(20);
}
h4, .h4 {
    @include fluid-type(1.125rem, 1.5rem);
    line-height: 1.125;
    margin-bottom : rem(15);
}
h5, .h5 {
    @include fluid-type(1.125rem, 1.25rem);
}
h6, .h6 {
    @include fluid-type(1.125rem, 1.25rem);
}

p {
    @include fluid-type(1rem, 1.125rem);
    line-height : 1.5;
    margin-bottom: rem(30);
    & + p:last-of-type {
        margin-bottom : 0;
    }
}

a {
    transition      : all $base-duration $base-timing;
    text-decoration : underline;
    color           : $primary-link;
    &:hover {
        text-decoration : none;
        //color           : transparentize($action-color, .2);
    }
    &:active {
        text-decoration : none;
        // color           : transparentize($action-color, .2);
    }
    &:focus {
        text-decoration : none;
        // color           : transparentize($action-color, .2);
    }
}

ul {
    @include margin(rem(16) 0);
    @include padding(0 0 0 rem(36));
    list-style : none;
    li {
        @include font(rem(16), rem(30), 0, 400, $theme-body-font-color);
        position      : relative;
        margin-bottom : rem(16);
    }

    @include media($desktop) {
        @include font(rem(18), rem(36));
    }
}
ol {
    @include margin(rem(16) null);
    padding-left : rem(40);
    li {
        @include font(rem(16), rem(32));
        padding-left : rem(16);
        margin-bottom: rem(24);
    }
}

strong {
    font-weight: 700;
}
em {

}
del {

}
u {

}

hr {
    border-bottom : $gray-hr;
    border-left   : 0;
    border-right  : 0;
    border-top    : 0;
    margin        : $base-spacing 0;
}






























