// Buttons
a.btn,
.btn {

}

// Search Field on Participants page
.searchBox {
    background: $sap-gold;
    height : 45px;
    @include padding(rem(8) null);
    div.innerContainer {
        display: flex;
    }


    input {
        @include padding(rem(5) rem(10));
        @include fluid-type(1rem, 1.5rem);
        color : $black;
        width : calc(100% - 55px);
        height : 30px;
        border : none;
        border-radius: 0;
        // -webkit-appearance:none;
    }
    // input[type="search"]::-webkit-search-cancel-button {
    //     -webkit-apperance: none;
    //     height : 10px;
    //     width : 10px;
    //     background : red;
    // }

    button {
        width : 53px;
        height : 30px;
        border : none;
        background : $black;
        img {
            width : 21px;
        }
    }
    @include media($tablet-big) {
        height : 88px;
        @include padding(rem(22) 0);
        div.innerContainer {
            max-width : calc(1170px);
            @include padding(null rem(70));

        }

        input {
            @include padding(rem(10));
            height : 44px;
        }
        button {
            height : 44px;
        }
    }// end media($tablet-big)
    @include media($desktop) {
        @include margin(null auto);
        // max-width : 1170px;
        input {

        }
    }
}// end .searchBox







