/*********************************************
 * MIXINS
 *********************************************/

// fluid type

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-font-size, $max-font-size, $min-vw: $minWidth, $max-vw: $containerWidth) {
    $u1 : unit($min-vw);
    $u2 : unit($max-vw);
    $u3 : unit($min-font-size);
    $u4 : unit($max-font-size);

    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
        & {
            font-size : $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size : calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width:$max-vw) {
                font-size : $max-font-size;
            }
        }
    }
}


// gradients

@mixin vertical-gradient( $top, $bottom ) {
    background: $top;
    background: -moz-linear-gradient( top, $top 0%, $bottom 100% );
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom) );
    background: -webkit-linear-gradient( top, $top 0%, $bottom 100% );
    background: -o-linear-gradient( top, $top 0%, $bottom 100% );
    background: -ms-linear-gradient( top, $top 0%, $bottom 100% );
    background: linear-gradient( top, $top 0%, $bottom 100% );
}

@mixin horizontal-gradient( $top, $bottom ) {
    background: $top;
    background: -moz-linear-gradient( left, $top 0%, $bottom 100% );
    background: -webkit-gradient( linear, left top, right top, color-stop(0%,$top), color-stop(100%,$bottom) );
    background: -webkit-linear-gradient( left, $top 0%, $bottom 100% );
    background: -o-linear-gradient( left, $top 0%, $bottom 100% );
    background: -ms-linear-gradient( left, $top 0%, $bottom 100% );
    background: linear-gradient( left, $top 0%, $bottom 100% );
}

@mixin radial-gradient( $outer, $inner, $type: circle ) {
    background: $outer;
    background: -moz-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: -webkit-gradient( radial, center center, 0px, center center, 100%, color-stop(0%,$inner), color-stop(100%,$outer) );
    background: -webkit-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: -o-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: -ms-radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
    background: radial-gradient( center, $type cover,  $inner 0%, $outer 100% );
}

/*
 * 2.0 - Layout
 *
 * Mixins that effect the layout.
 * Examples - containers, grid resets, directional property
 *
 */

// Media Query Mixins
@mixin media($media) {
    @media only screen and #{$media} {
        @content;
    }
}

// Set position of elements
@mixin position($position, $box-edge-values: null) {
    $box-edge-values : _unpack-shorthand($box-edge-values);

    $offsets: (
        top    : nth($box-edge-values, 1),
        right  : nth($box-edge-values, 2),
        bottom : nth($box-edge-values, 3),
        left   : nth($box-edge-values, 4),
    );

    position : $position;

    @each $offset, $value in $offsets {
        @if _is-length($value) {
            #{$offset} : $value;
        }
    }
}

// Margin - use 'null' to skip a side
// @example scss
//   .element {
//      @include margin(null auto);
//   }
//   css output
//   .element {
//      margin-left : auto;
//      margin-right : auto;
//   }
// @require {mixin} _directions-property

@mixin margin($values) {
    @include _directional-property(margin, null, $values);
}

// Padding - see Margin notes

@mixin padding($values) {
    @include _directional-property(padding, null, $values);
}

// Directional properties created from shorthand values.
// null will be skipped
// @example scss
//   .element {
//      @include _directional-property(border, width, null 5px);
//   }
//  css output
//  .element {
//      border-right-width : 5px;
//      border-left-width : 5px;
//  }

@mixin _directional-property($property, $suffix, $values) {
    $top    : $property + "-top" + if($suffix, "-#{$suffix}", "");
    $bottom : $property + "-bottom" + if($suffix, "-#{$suffix}", "");
    $left   : $property + "-left" + if($suffix, "-#{$suffix}", "");
    $right  : $property + "-right" + if($suffix, "-#{$suffix}", "");
    $all    : $property + if($suffix, "-#{$suffix}", "");

    $values : _compact-shorthand($values);

    @if _is-falsy($values) {
        @if nth($values, 1) {
            #{$top} : nth($values, 1);
        }

        @if length($values) == 1 {
            @if nth($values, 1) {
                #{$right} : nth($values, 1);
            }
        } @else {
            @if nth($values, 2) {
                #{$right} : nth($values, 2);
            }
        }

        @if length($values) == 2 {
            @if nth($values, 1) {
                #{$bottom} : nth($values, 1);
            }
            @if nth($values, 2) {
                #{$left} : nth($values, 2);
            }
        } @else if length($values) == 3 {
            @if nth($values, 3) {
                #{$bottom} : nth($values, 3);
            }
            @if nth($values, 2) {
                #{$left} : nth($values, 2);
            }
        } @else if length($values) == 4 {
            @if nth($values, 3) {
                #{$bottom} : nth($values, 3);
            }
            @if nth($values, 4) {
                #{$left} : nth($values, 4);
            }
        }
    } @else {
        #{$all} : $values;
    }
}

// Clearfix - way to clear floats
@mixin clearfix {
    &::after {
        clear   : both;
        content : "";
        display : block;
    }
}

/*
 * 3.0 - Typography
 *
 * Mixins that effect the typography.
 * Examples - pixel to ems, pixel to rems, hide text, hide visually
 *
 */

@mixin font($size: $base-font-size, $line: $base-line-height, $letter: 0, $weight: 400, $color: $base-font-color) {
    font-size      : $size;
    line-height    : $line;
    letter-spacing : $letter;
    font-weight    : $weight;
    color          : $color;
}

@mixin hide-text {
    overflow    : hidden;
    text-indent : 101%;
    white-space : nowrap;
}

// Hides element visually while still allowing the content to be seen by
// assistive technology. Passing 'unhide' will reverse the affects of the hiding.
// For example to show an element on focus
// @argument {string} $toggle [hide]
//   Accepts `hide` or `unhide`. `unhide` reverses the affects of `hide`.

@mixin hide-visually($toggle: hide) {
    @if $toggle == "hide" {
        @include padding(0);
        @include position(absolute, null);
        border      : 0;
        clip        : rect(1px, 1px, 1px, 1px);
        clip-path   : circle(1% at 1% 1%);
        height      : 1px;
        overflow    : hidden;
        white-space : nowrap;
        width       : 1px;
    } @else if $toggle == "unhide" {
        @include position(static, null);
        clip        : auto;
        clip-path   : none;
        height      : auto;
        overflow    : visible;
        white-space : inherit;
        width       : auto;
    } @else if $toggle == "fixed" {
        @include position(fixed, null);
        clip        : auto;
        clip-path   : none;
        height      : auto;
        overflow    : visible;
        white-space : inherit;
        width       : auto;
    }
}

// Outputs the 'overflow-wrap' property and the legacy name 'word-wrap'
// @argument {string} $wrap [break-word]
// Accepted values: 'normal', 'break-word', 'inherit', 'initial', 'unset'
@mixin overflow-wrap($wrap: break-word) {
    word-wrap     : $wrap;
    overflow-wrap : $wrap;
}

/*
 * 6.0 - Borders
 *
 * Mixins that effect border styles.
 * Examples - border-color, border-styles, etc.
 *
 */

@mixin border-color($values) {
    @include _directional-property(border, color, $values);
}

@mixin border-top-radius($radii) {
    border-top-left-radius  : $radii;
    border-top-right-radius : $radii;
}

@mixin border-right-radius($radii) {
    border-bottom-right-radius : $radii;
    border-top-right-radius    : $radii;
}

@mixin border-bottom-radius($radii) {
    border-bottom-left-radius  : $radii;
    border-bottom-right-radius : $radii;
}

@mixin border-left-radius($radii) {
    border-bottom-left-radius : $radii;
    border-top-left-radius    : $radii;
}
@mixin border-style($values) {
    @include _directional-property(border, style, $values);
}

@mixin border-width($values) {
    @include _directional-property(border, width, $values);
}













