<!-- /// START module-about -->
<section class="module aboutContainer">
    <div class="aboutHero">
        {# <img src="./img/design/london-about-hero.png" alt="SAP CEO Big Ben wide picture"> #}
    </div>
    <div class="eventDateContainer">
        <div class="innerContainer">
            <h2>About SAP</h2>
        </div>
    </div>
    <section class="aboutBodyContainer">
        <div class="innerText">
            <p>As the market leader in enterprise application software, SAP (NYSE: SAP) helps companies of all sizes and industries run better.</p>
            <p>Founded in 1972, SAP has a rich history of innovation and growth as a true industry leader. Today, SAP solutions and services enable more than 388,000 customers worldwide to innovate their business models, operate profitably, and grow sustainably. With revenue (IFRS) of €23.77 billion for the year 2017, SAP has nearly 91,120 employees and sales and development locations in more than 130 countries worldwide.</p>
            <p>From back office to boardroom, warehouse to storefront, SAP empowers people and organizations to Run Simple by converting real-time insight into effective action to stay ahead of the competition. We do this by providing customers a choice of running software, whether in the cloud, on mobile devices, and on-premise.</p>
            <p>We believe that the power of our people, solutions, and partners unleashes growth and creates significant new value for our customers, SAP, and ultimately, entire industries and the economy at large.</p>
            <p>Our mission is to help our customers run at their best. Our vision is to help the world run better and improve people’s lives.</p>

        </div>
    </section>
</section>

<!-- /// END module-about -->