<!-- /// START module-agenda -->
<section class="module agendaContainer">
    <h2>AGENDA</h2>
    <article>
        <h3 class="agendaDate">Monday, 21 May</h3>
        <div class="agendaSession">
            <div class="time">19:00</div>
            <div class="title">Welcome Reception and Dinner – UN Ballroom</div>
        </div>
        <h3 class="agendaDate">Tuesday, 22 May</h3>
        <div class="agendaSession">
            <div class="time">08:00</div>
            <div class="title">Networking Breakfast – Merchants Hall</div>
        </div>
        <div class="agendaSession borderTop">
                <div class="time">09:30</div>
                <div class="title">Morning Sessions – UN Ballroom</div>
            </div>
        <div class="sessionSpeakers">
            {% for session in sessions_morning %}
            <div class="sessionDetails">
                <h4>{{session.title}}</h4>
                {% if session.desc %}
                    <p>{{session.desc}}</p>
                {% endif %}
                {% for speaker in session.speakers %}
                <div class="speakerDetails">
                    <img src="./img/headshots/{{speaker.headshot}}" alt="">
                    <div>
                        <p><span class="fancyTrigger" data-src="#{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">{{speaker.name}}</span></p>
                        {# <p><a href="./speakers.html#{{speaker.name | lower | replace(" ", "")}}">{{speaker.name}}</a></p> #}
                        <p>{{speaker.job}}</p>
                    </div>
                    <div class="agendaBio" style="display: none;" id="{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">
                        <img src="./img/headshots/{{speaker.headshot}}" alt="">
                        <div class="modalDetails">
                            <p>{{speaker.name}}</p>
                            <p>{{speaker.job}}</p>
                            <div class="speakerBio">
                                {# <p>{{speaker.bio | striptags(true) | escape | nl2br}}</p> #}
                                <p>{{speaker.bio | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="agendaSession borderTop">
                <div class="time">12:00</div>
                <div class="title">Networking Lunch – Merchants Hall</div>
            </div>
            <div class="agendaSession borderTop">
                <div class="time">13:00</div>
                <div class="title">Afternoon Sessions – UN Ballroom</div>
            </div>
            {% for session in sessions_afternoon %}
            <div class="sessionDetails">
                <h4>{{session.title}}</h4>
                {% if session.desc %}
                    <p>{{session.desc}}</p>
                {% endif %}
                {% for speaker in session.speakers %}
                <div class="speakerDetails">
                    <img src="./img/headshots/{{speaker.headshot}}" alt="">
                    <div>
                        <p><span class="fancyTrigger" data-src="#{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">{{speaker.name}}</span></p>
                        {# <p><a href="./speakers.html#{{speaker.name | lower | replace(" ", "")}}">{{speaker.name}}</a></p> #}
                        <p>{{speaker.job}}</p>
                    </div>
                    <div class="agendaBio" style="display: none;" id="{{speaker.name | lower | replace(" ", "") | replace(".", "")}}">
                        <img src="./img/headshots/{{speaker.headshot}}" alt="">
                        <div class="modalDetails">
                            <p>{{speaker.name}}</p>
                            <p>{{speaker.job}}</p>
                            <div class="speakerBio">
                                {# <p>{{speaker.bio | striptags(true) | escape | nl2br}}</p> #}
                                <p>{{ speaker.bio | safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
            <div class="agendaSession borderTop">
                <div class="time">16:30</div>
                <div class="title">Networking Reception</div>
            </div>
        </div>
    </article>
</section>


<!-- /// END module-agenda -->