<div class="wrapper">
  <header id="exit-animation"></header>

  <section class="top">
    <div class="container">
      <p>With her job simplified, Casey can spend more time doing the things she loves &mdash; like exploring the great outdoors.</p>
    </div>
  </section>

  <section class="bottom">
    <div class="container">
      <h2>Learn more about elevating marketing execution to new heights with the SAP Demand Center.</h2>
      <a href="https://jam4.sapjam.com/groups/zaHduxdsMmY7tR36n3IbkT/overview_page/uVbJudosXFSq8tFSBc13m5" class="button">Visit the Jam page</a>
      <hr>
      <footer>
        <a href="#" class="nav-link slide-end"><span class="arrow"></span> Start Over</a>
        <div>
          <img src="../images/logo-sap@2x.png" alt="SAP" class="logo">
        </div>
      </footer>
    </div>
  </section>

</div>
