<div class="wrapper">
  <header id="intro-animation"></header>
  <div class="container">
    <h1>Casey Brings Increased Speed and Efficiency to Her Marketing Campaigns </h1>
    <hr>
    <h3>See how the SAP Demand Center can brighten marketers’ days</h3>
    <p>SAP marketers have a lot on their plates. Getting even a simple e-mail nurture campaign up and running takes enormous effort. It involves dealing with disparate teams, disconnected processes, and drawn-out timelines.</p>
    <p>Who needs <em>that</em> headache?</p>
    <p>Fortunately, the SAP Demand Center can offer some relief. Check out all the ways it’s destined to make Casey’s day better by taking the trouble out of her normal marketing duties.</p>
    
    <p><a href="#" class="next nav-link slide-next"><span class="arrow"></span> Get Started</a></p>
  </div>
</div>