<div class="scene">
  <div class="content">
    <h2>Keep campaigns running around the clock</h2> 

    <div class="before textbox fadeInDown">
      <p>Casey’s reluctant to leave her office. Stepping out, even for a minute, puts her at a disadvantage. It means she might miss the opportunity to trigger an e-mail to her contacts before they reach their limit for the week. </p>
    </div>

    <div class="after textbox">
      <p>With the SAP Demand Center, Casey can build always-on campaigns that stay active in her absence. Whether she attends a sales meeting or takes a weekend hike, her prospects continue engaging with her content and advancing through the marketing funnel.</p>
    </div>

    <div class="slidenav">
      <nav>
        <a href="#" class="prev nav-link"><span class="arrow"></span>Previous</a>
        <a href="#" class="next nav-link"><span class="arrow"></span>Next</a>
      </nav>
    </div>
  </div>
  
  <div class="animation">
    <div class="animation-pad">
      <div class="animation-container">
        <div class="lottie animation-two"></div>
      </div>
    </div>
  </div>
</div>
