<section class="mobile-panel">
    <header id="animation-two-mobile" class="sap-step"></header> 
    <img src="../images/clock-time-2.svg" alt="" class="clock">
    <div class="container">
      <h2>Keep campaigns running around the clock</h2>
      <p>Casey’s reluctant to leave her office. Stepping out, even for a minute, puts her at a disadvantage. It means she might miss the opportunity to trigger an e-mail to her contacts before they reach their limit for the week.</p>
      <p>With the SAP Demand Center, Casey can build always-on campaigns that stay active in her absence. Whether she attends a sales meeting or takes a weekend hike, her prospects continue engaging with her content and advancing through the marketing funnel.</p>
    </div>
  </section>
  
  