<section class="mobile-panel">
  <header id="animation-one-mobile" class="sap-step"></header>
  <img src="../images/clock-time-1.svg" alt="" class="clock">
  <div class="container">
    <h2>Prepare for improved execution </h2>
    <p>It’s time to kick off a new campaign – which can be a struggle. After all, Casey has a ton of responsibilities, from rolling out the campaign to increasing real-time performance.</p>
    <p>But with the SAP Demand Center, the burden is no longer hers alone. Casey can partner with a dedicated team of regional, time-zone-based experts – including program strategists and segmentation specialists – to easily get her new campaign into market.</p>
  </div>
</section>

