<div class="scene">
  <div class="content"> 
    <h2>Analyze results and optimize performance</h2>

    <div class="before textbox fadeInDown">
      <p>Checking campaign performance is a complex process. What should take minutes often takes hours, costing Casey precious time she could be devoting to other worthwhile tasks.</p>
    </div>

    <div class="after textbox">
      <p>But with the SAP Demand Center, leveraging the power of SAP Marketing Cloud, she has a real-time view of her in-market campaign results. Plus, she can work with her team to quickly make adjustments and improve the performance of her always-on campaigns.</p>
    </div>

    <div class="slidenav">
      <nav>
        <a href="#" class="prev nav-link"><span class="arrow"></span>Previous</a>
        <a href="#" class="next nav-link"><span class="arrow"></span>Next</a>
      </nav>
    </div>
  </div>
  
  <div class="animation">
    <div class="animation-pad">
      <div class="animation-container">
        <div class="lottie animation-three"></div>
      </div>
    </div>
  </div>
</div>
