<div class="scene">
  <div class="content">
    <h2>Prepare for improved execution</h2>

    <div class="before textbox fadeInDown">
      <p>It’s time to kick off a new campaign – which can be a struggle. After all, Casey has a ton of responsibilities, from rolling out the campaign to increasing real-time performance.</p>
    </div>

    <div class="after textbox">
      <p>But with the SAP Demand Center, the burden is no longer hers alone. Casey can partner with a dedicated team of regional, time-zone-based experts – including program strategists and segmentation specialists – to easily get her new campaign into market.</p>
    </div>

    <div class="slidenav">
      <nav>
        <a href="#" class="prev nav-link"><span class="arrow"></span>Previous</a>
        <a href="#" class="next nav-link"><span class="arrow"></span>Next</a>
      </nav>
    </div>
  </div>
  
  <div class="animation">
    <div class="animation-pad">
      <div class="animation-container">
        <div class="lottie animation-one"></div>
      </div>
    </div>
  </div>

  
</div>
