<section class="mobile-panel"> 
    <header id="animation-three-mobile" class="sap-step"></header>
    <img src="../images/clock-time-3.svg" alt="" class="clock">
    <div class="container">
      <h2>Analyze results and optimize performance</h2>
      <p>Checking campaign performance is a complex process. What should take minutes often takes hours, costing Casey precious time she could be devoting to other worthwhile tasks.</p>
      <p>But with the SAP Demand Center, leveraging the power of SAP Marketing Cloud, she has a real-time view of her in-market campaign results. Plus, she can work with her team to quickly make adjustments and improve the performance of her always-on campaigns.</p>
    </div>
  </section>
  
  