<!-- Global Variables -->
<meta class="mktoColor" id="themeBackground" mktoName="Theme Background Color" default="#200020">

<!-- Hide/Show Variables -->
<meta class="mktoBoolean" id="useSQLStyles" mktoName="Use SQL Styles" default="true" false_value="none" true_value="block" false_value_name="Hide" true_value_name="Show">
<meta class="mktoBoolean" id="useAzureStyles" mktoName="Use Azure Styles" default="false" false_value="none" true_value="block" false_value_name="Hide" true_value_name="Show">