{% extends "layout/_email-layout.njk" %}
{% import "./macros/macros.njk" as macro %} 

{% block content %}
    {% include "modules/preheader.njk" %}
    {% include "modules/header.njk" %}
    {% include "modules/banner-1.njk" %}
    {% include "modules/banner-2.njk" %}
    {% include "modules/banner-3.njk" %}
    {% include "modules/section-1.njk" %}
    {% include "modules/button-1.njk" %}
    {{ macro.hr(id="hr1", name="Horizontal Rule 1") }}
    {% include "modules/section-2.njk" %}
    {{ macro.hr(id="hr2", name="Horizontal Rule 2") }}
    {% include "modules/section-3.njk" %}
    {{ macro.hr(id="hr3", name="Horizontal Rule 3") }} 
    {% include "modules/section-4.njk" %}
    {{ macro.hr(id="hr4", name="Horizontal Rule 4") }}
    {% include "modules/section-5.njk" %}
    {{ macro.hr(id="hr5", name="Horizontal Rule 5") }}
    {% include "modules/image.njk" %}
    {{ macro.hr(id="hr6", name="Horizontal Rule 6") }}
    {% include "modules/section-6.njk" %}
    {{ macro.hr(id="hr7", name="Horizontal Rule 7") }}
    {% include "modules/section-7.njk" %}
    {{ macro.hr(id="hr8", name="Horizontal Rule 8") }}
    {% include "modules/section-8.njk" %}
    {% include "modules/hr-1.njk" %}
    {% include "modules/prefooter.njk" %}
    {% include "modules/footer.njk" %}
{% endblock %}