<header>
    <div class="innerContainer">
        <div class="headerLogoContainer">
            <h1 class="siteTitle">SAP CEO Summit</h1>
            <a href="./" class="headerLogo" title="SAP CEO Summit Home Page link">
                <img src="./img/logos/logo-sap-ceo-summit.svg" alt="SAP CEO Summit logo">
            </a>
        </div>
        <!-- end .headerLogoContainer -->
        {% include "partials/partial-nav.nunjucks" %}
        <div class="open-menu navHamburger" id="navHamburger">
            <img src="./img/icons/icon-hamburger.svg" alt="Mobile Nav toggle">
            <span>Menu</span>
        </div>
    </div>
</header>

<section class="print-header">
    <img src="./img/logos/logo-sap-black@2x.png" alt="SAP CEO Summit logo">
</section>