<!-- /// START mkto-module-thank-you-cta -->
<section class="module thankYouCTA thankYouHero">
    <div class="innerContainer">
        <div class="mktoText" id="thankYouText" mktoName="Main Thank You Body Text">
            <h1>Thank you!</h1>
            <p>You’re registered for the webinar, <strong>Increase profitability with Azure Data Services and SQL Server 2017 on Tuesday, February 6, at 1:30 PM ET.</strong></p>
            <p>We’ll send you a reminder email one day before the event.</p>
        </div>
        <a href="#" title="Add to Calendar" class="btn imgbtn"><img src="./img/icons/icon-calendar-dark.svg" />Add to Calendar</a>
    </div>
</section>