// Variables
$font-path : "http://resources.synnexcorp.com/rs/707-ZFS-030/images";

// Font Path

@font-face {
    font-family: 'Segoe UI Light';
    src: url('#{$font-path}/SegoeUI-Light.eot');
    src: url('#{$font-path}/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-Light.woff') format('woff'),
         url('#{$font-path}/SegoeUI-Light.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-Light.svg#SegoeUI-Light') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Light Italic';
    src: url('#{$font-path}/SegoeUI-LightItalic.eot');
    src: url('#{$font-path}/SegoeUI-LightItalic.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-LightItalic.woff') format('woff'),
         url('#{$font-path}/SegoeUI-LightItalic.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-LightItalic.svg#SegoeUI-LightItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI Semilight';
    src: url('#{$font-path}/SegoeUI-Semilight.eot');
    src: url('#{$font-path}/SegoeUI-Semilight.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-Semilight.woff') format('woff'),
         url('#{$font-path}/SegoeUI-Semilight.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-Semilight.svg#SegoeUI-Semilight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semilight Italic';
    src: url('#{$font-path}/SegoeUI-SemilightItalic.eot');
    src: url('#{$font-path}/SegoeUI-SemilightItalic.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-SemilightItalic.woff') format('woff'),
         url('#{$font-path}/SegoeUI-SemilightItalic.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-SemilightItalic.svg#SegoeUI-SemilightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('#{$font-path}/SegoeUI.eot');
    src: url('#{$font-path}/SegoeUI.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI.woff') format('woff'),
         url('#{$font-path}/SegoeUI.tff') format('truetype'),
         url('#{$font-path}/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Italic';
    src: url('#{$font-path}/SegoeUI-Italic.eot');
    src: url('#{$font-path}/SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-Italic.woff') format('woff'),
         url('#{$font-path}/SegoeUI-Italic.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-Italic.svg#SegoeUI-Italic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI Semibold';
    src: url('#{$font-path}/SegoeUI-Semibold.eot');
    src: url('#{$font-path}/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-Semibold.woff') format('woff'),
         url('#{$font-path}/SegoeUI-Semibold.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Semibold Italic';
    src: url('#{$font-path}/SegoeUI-SemiboldItalic.eot');
    src: url('#{$font-path}/SegoeUI-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-SemiboldItalic.woff') format('woff'),
         url('#{$font-path}/SegoeUI-SemiboldItalic.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-SemiboldItalic.svg#SegoeUI-SemiboldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI Bold';
    src: url('#{$font-path}/SegoeUI-Bold.eot');
    src: url('#{$font-path}/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-Bold.woff') format('woff'),
         url('#{$font-path}/SegoeUI-Bold.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-Bold.svg#SegoeUI-Bold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI Bold Italic';
    src: url('#{$font-path}/SegoeUI-BoldItalic.eot');
    src: url('#{$font-path}/SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}/SegoeUI-BoldItalic.woff') format('woff'),
         url('#{$font-path}/SegoeUI-BoldItalic.tff') format('truetype'),
         url('#{$font-path}/SegoeUI-BoldItalic.svg#SegoeUI-BoldItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}


em {font-style: italic;}