header {
    @include padding(rem(8) null rem(9));
    background : $black;
    height     : 44px;
    position: fixed;
    width : 100%;
    div.innerContainer {
        display         : flex;
        justify-content : space-between;
        &::after {
            display: none;
        }
    }
    h1.siteTitle {
        @include hide-visually();
    }
    .headerLogoContainer {
        // flex : 1;
        a {
            display : block;
            img {
                width : 120px;
            }
        }
    }
    div.navHamburger {
        flex       : 1;
        text-align : right;
        &:hover {
            cursor : pointer;
        }
        img {
            width : 27px;
        }
        span {
            @include font(rem(9), rem(5), 0, 400, $sap-gold);
            display: block;
            text-transform: uppercase;

        }
    }
    @include media($tablet-big) {
        @include padding(0);
        height : 80px;
        div.innerContainer {
            align-items : center;
        }
        .headerLogoContainer {
            a {
                img {
                    max-width: 170px;
                    width : 100%;
                }
            }
        }
        div.navHamburger {
            display: none;
        }
    }
    @include media('(min-width: 750px)') {
        .headerLogoContainer {
            a {
                img {
                    // max-width: 230px;
                    width : 100%;
                }
            }
        }
    }
    @include media('(min-width: 850px)') {
        .headerLogoContainer {
            a {
                img {
                    max-width: 300px;
                    width : 100%;
                }
            }
        }
    }
    @include media($desktop) {
        @include padding(0);
        height : 120px;
        div.innerContainer {
            align-items : center;
        }
        .headerLogoContainer {
            a {
                img {
                    width : 300px;
                }
            }
        }
        div.navHamburger {
            display: none;
        }
    }
}

// Accounting for fixed Nav
#wrapper {
    padding-top : 44px;
    @include media($tablet-big) {
        padding-top : 80px;
    }
    @include media($desktop) {
        padding-top : 120px;
    }

}



