<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome</title>

  <style>
    #scrim {
      background: #fff;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1000000;
    }
  </style>
  
  <!-- DO NOT CHANGE -->
    <link rel="stylesheet" href="app.css">
    <!-- @editor-data -->
  <!-- / DO NOT CHANGE -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

</head>

<body>

  <div id="fullpage">
    <div class="section intro">
      <%= require('html-loader!./partials/intro.html') %>
    </div>
    <div class="section slide-one">
      <%= require('html-loader!./partials/scene-one.html') %>
    </div>
    <div class="section slide-two">
      <%= require('html-loader!./partials/scene-two.html') %>
    </div>
    <div class="section slide-three">
      <%= require('html-loader!./partials/scene-three.html') %>
    </div>
    <div class="section conclusion">
      <%= require('html-loader!./partials/conclusion.html') %>
    </div>
    <div class="section conclusion">
      <%= require('html-loader!./partials/conclusion.html') %>
    </div>
  </div>

  <div id="mobile">
    <div class="section intro">
      <%= require('html-loader!./partials/intro.mobile.html') %>
    </div>
    <div class="section slide-one">
      <%= require('html-loader!./partials/scene-one.mobile.html') %>
    </div>
    <div class="section slide-two">
      <%= require('html-loader!./partials/scene-two.mobile.html') %>
    </div>
    <div class="section slide-three">
      <%= require('html-loader!./partials/scene-three.mobile.html') %>
    </div>
    <div class="section conclusion">
      <%= require('html-loader!./partials/conclusion.mobile.html') %>
    </div>

  <div id="clock">
    <div class="hour-container">
      <div class="hour-hand"></div>
    </div>
    <div class="minute-container">
      <div class="minute-hand"></div>
    </div>
  </div>

  <div id="border"></div>
  <div id="scrim"></div>


  
  <!-- DO NOT CHANGE -->
  <script src="app.bundle.js"></script>
  <!-- DO NOT CHANGE -->
  
</body>
</html>
