@font-face {
    font-family: "SAPBold";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBold.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBold.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBold.ttf

@font-face {
    font-family: "SAPBold";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBoldItalic.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBoldItalic.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBoldItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "SAPMedium";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMedium.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMedium.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMedium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SAPMedium";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMediumItalic.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMediumItalic.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansMediumItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "SAPRegular";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegular.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegular.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SAPRegular";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegularItalic.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegularItalic.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansRegularItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "SAPBook";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBook.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBook.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBook.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SAPBook";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBookItalic.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBookItalic.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansBookItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "SAPLight";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLight.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLight.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SAPLight";
    src:          url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLightItalic.woff2") format("woff2"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLightItalic.woff") format("woff"),
         url("https://resources.fieldglass.com/rs/655-SDM-567/images/BentonSansLightItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

* {
  box-sizing: content-box;
}


.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear {
  *zoom: 1;
}
.clear:after {
  clear: both;
}
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  font-family: SAPRegular;
  color: #444;
  transition: all 0.4s 0.3s ease-in;
  margin: 0;
}

body,
html {
  width: 100%;
  height: 100%;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-desktop {
  display: none;
}
.left,
.right {
  width: 100%;
  padding: 0 10px;
}
.section1-right {
  padding-right: 15px;
  padding-left: 15px;
}
.head-line-title {
  font-size: 1.5em;
  font-weight: bold;
}
.percent-number {
  color: #f0ab00;
  font-size: 5.3125em;
  font-weight: bold;
  line-height: 1.1em;
}
.left-logo img {
  width: 200px;
}
.right-logo .logo-mobile {
  width: 70px;
}

button,
.button {
  border-radius: 35px;
  text-transform: uppercase;
  padding: 18px 36px;
  font-weight: bold;
  border: none;
  letter-spacing: 1px;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  background: #fff;
  color: #000;
}

button:hover,
.button:hover {
  cursor: pointer;
  background: #EEEEEE;
}

form button:hover {
  background: #DC9C00;
  cursor: pointer;
}
  /*form*/
.form-title {
    color: #fff !important;
    font-size: 1.75em;
  }
form button{
    background-color: #e6ad3c;
    color: #000;
    font-size: 16px;
}
form input{
    padding:5px 3px;
    font-size:1.3em;
    width: 100%;
}
/*header*/
header {
  padding: 20px 0;
  background: #000;
}

/*section1*/
.section1 {
  background-color: #222;
  color: #fff;
  padding: 30px 0;
}

.section1 h1 {
  color: #f0ab00;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 0;
  margin-bottom: 42px;
  font-size: 2.25em;
  line-height: 1.2em;
}

/*section2*/

/*section3*/
.section3-inner {
  padding: 1px 15px;
}
/*section4*/
.section4 h4 {
  font-size: 1.25em;
  font-weight: bold;
}
.section4 button {
  background-color: #fff;
  color: #000;
}
.section4-inner {
  padding: 24px 15px;
}
/*footer*/
footer {
  background-color: #000;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
footer .social {
  text-align: center;
}

footer .social a i:first-child {
  margin-left: 0;
}
.fa-google-plus-g {
  margin-right: 0 !important;
}

footer a {
  color: #fff;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .left-logo img {
    width: 167px;
  }
  .section1 img {
    position: absolute;
    left: -30px;
  }
  .section1 ul {
    margin-top: 210px;
  }
}
@media (min-width: 768px) {
    body{
        font-size: 18px;
        line-height: 1.4;
    }
  .container {
    max-width: 720px;
  }
  .logo-desktop {
    display: block;
    width: 160px;
  }
  .logo-mobile {
    display: none;
  }
  .section1-inner {
    display: flex;
    justify-content: space-between;
  }
  .section1 img {
    width: 402px;
    position: absolute;
    left: -30px;
  }
  .section1 ul {
    margin-top: 155px;
  }
  .section1 h1{
      font-size: 2.7em;
      line-height: 1.2;
  }
  .form-title {
    font-size: 1.875em;
    margin: 0;
  }
  .section2 .container, .section3-inner-inner{
      display: flex;
  }
  .section2-right-inner-item, .section4-inner{
      display: flex;
      align-items: center;
  }
  .section2-right-inner-item * {
      padding:14px 5px;
  }
  .section2{
      padding: 80px 0;
  }
  .section4 button{
      margin-left: 30px;
      height: 100%;
      float: right;
  }
  footer .container{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
  }
  .section1{
      padding: 50px 0;
  }
  .section1-right{
      width: 40%;
  }
  .section1-left{
      width: 50%;
  }
  .percent-number{
    font-size: 4.7em;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  .section1 img {
    width: 504px;
    position: absolute;
    left: -30px;
  }
  .section1 ul {
    margin-top: 190px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1180px;
  }
  .section1 img {
    width: 720px;
    position: absolute;
    left: -30px;
  }
  .section1 ul {
    margin-top: 256px;
  }
  .section2-left.left {
    padding-right: 50px;
  }
}

.vern-container ul {
  padding-left: 22px;
}








/*

  VERNS stuff

*/

a {
  color: #2FA0E0;
}

img {
  max-width: 100%;
  height: auto;
}

.vern-container {
  max-width: 100%;
  display: grid;
  margin: 0 auto;
}

.black-bg {
  background: #000;
  padding: 50px 0;
}

@media screen and (min-width: 1200px) {
  .black-bg {
    padding: 80px 0;
  }
}

h1 {
  color: #f0ab00;
  font-size: 36px;
  line-height: 44px;
  font-weight: normal;
  font-family: SAPBold, sans-serif;
}

h2 {
  font-size: 28px;
  font-family: SAPBold, sans-serif;
}

h3 {
  font-family: SAPBold, sans-serif;
  font-size: 24px;
}

h4 {
  font-family: SAPBold, sans-serif;
  font-size: 21px;
}


.vern-container .left-column {
  color: #fff;
  position: relative;
}

.vern-container .left-column h1 {
  margin-top: 0;
}

.vern-container .right-column {
  color: #fff;
  position: relative;
}

.vern-container .right-column h2 {
  color: #fff;
  margin-top: 0;
}

.vern-container .right-column h6 {
  color: #fff;
  margin: 1rem 0;
  font-size: 12px;
}


#img-mirror {
  margin-bottom: 3rem;
}

#img-mirror img {
  position: absolute;
  right: 0;
  width: calc(100% + 30px);
  max-width: 735px;
}

ul {
  margin: 0;
  padding: 0 0 0 1rem;
}

ul li {
  margin: 0 0 1.5rem 0;
}



@media screen and (min-width: 768px) {
  .vern-container {
    display: flex;
    justify-content: space-between;
  }

  #theform .inner {
    width: 350px;
    padding-left: 50px;
  }

  h1 {
    color: #f0ab00;
    font-size: 36px;
    line-height: 45px;
  }

  h3 {
    font-size: 32px;
    line-height: 46px;
  }
}

@media screen and (max-width: 767px) {
  #img-mirror img {
    width: 700px !important;
  }
}

@media screen and (min-width: 768px) {
  h3 {
    font-family: SAPBold, sans-serif;
  }
}


.mktoForm {
  width: 100% !important;
}

.mktoForm * {
  font-family: SAPRegular, sans-serif;
}

.mktoAsterix {
  display: none;
}

.mktoLabel {
  color: #fff;
  display: block;
  font-size: 15px;
  width: 100% !important;
}

.mktoTextField,
.mktoEmailField,
.mktoTelField {
  width: 100% !important;
}

.mktoFieldWrap {
  margin-bottom: 26px;
}

.mktoErrorMsg {
  position: absolute;
  color: #D04512;
}

select.mktoField {
  width: 100% !important;
  font-size: 15px;
  padding: 10px;
  height: 40px;
}

.mktoButtonWrap {
  margin-left: 0 !important;
}

.mktoHtmlText {
  color: #fff;
  font-size: 12px;
  width: 100% !important;
}

.mktoFormRow:nth-child(9) {
  display: flex;
}


.section2-right-inner-item {
  margin-bottom: 2.5rem;
}

.mktoFormRow:nth-child(9) .mktoFieldDescriptor  {
  flex-basis: 50%;
}

@media screen and (max-width: 989px) {
  .mktoFormRow:nth-child(9) .mktoFieldWrap {
    position: relative;
  }
  .mktoFormRow:nth-child(9) .mktoFieldDescriptor .mktoFieldWrap .mktoLabel {
    margin-left:28px;
  }
  .mktoFormRow:nth-child(9) .mktoFieldDescriptor .mktoFieldWrap .mktoCheckboxList {
    width: 28px !important;
    position: absolute;
    top: 2px;
  }
}

@media screen and (min-width: 990px) {

  .mktoFormRow:nth-child(9) .mktoFieldDescriptor .mktoFieldWrap {
    display: flex;
    flex-direction: row-reverse;
  }

  #theform .inner {
    width: 400px;
    padding-left: 50px;
  }
  
  .mktoFormRow:nth-child(9) .mktoFieldDescriptor .mktoFieldWrap .mktoCheckboxList {
    padding-top: 1px;
    flex-basis: 30px;
  }

  .mktoFormRow:nth-child(9) .mktoLabel {
    line-height: 24px;
  }

  h1 {
    font-size: 50px;
    line-height: 60px;
  }
}




.section2 {
  padding: 2rem 0;
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section2 .container {
    flex-wrap: wrap;
  }

  .section2-left.left {
    display: block;
    flex-basis: 100%;
  }

  .section2-right-inner {
    display: flex;
  }

  .section2-right-inner-item {
    display: block;
  }

  .section2 {
    padding: 60px 0;
  }
}

.percent-number {
  line-height: 1;
}

.stat-description p {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 1200px) {
  .section2 .container {
    max-width: 1180px;
  }

  .section2 {
    padding: 80px 0;
  }

  .section2 h3 {
    margin: 0;
  }

  .section2-right-inner-item p {
    font-size: 16px;
  }
  .section2-right-inner-item * {
    padding: 0;
  }
  .stat-description {
    padding-left: 20px;
  }
}

.section3 {
  background: #eee;
}

@media screen and (min-width: 768px) {
  .section3-inner,
  .section4-inner {
    padding: 20px 40px;
  }
}

.section4-inner h4 {
  color: #000;
  font-family: SAPBold, sans-serif;
}

footer {
  background: #000;
}

footer p {
  margin: 0 0 40px;
}

footer p:last-child {
  margin-bottom: 0;
}

.footer-left.left {
  font-size: 14px;
}

.footer-left.left a {
  display: inline-block;
  padding: 0 10px;
}

.footer-left.left a:first-child {
  padding-left: 0;
}

.social {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-end;
}
.social a {
  text-decoration: none;
  display: block;
  border: solid 1px #fff;
  font-size: 16px;
  text-align: center;
  border-radius: 1000px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  margin-left: 10px;
}

.section4 {
  background: #F0AB00;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 80px 0;
  }

  .section4-inner {
    display: table;
    width: 100%;
    vertical-align: middle;
  }

  .section4-inner .col-left {
    display: table-cell;
    vertical-align: middle;
  }


  .section4-inner .col-right {
    display: table-cell;
    min-width: 260px;
    vertical-align: middle;
  }
  .section4-inner .col-right a {
    float: right;
  }
  
  .social {
    text-align: right;
  }
}

@media screen and (min-width: 1300px) {
  .container.wide {
    max-width: 1260px;
  }
}

#logoImg img {
  display: block;
}

.hero h1 {
  margin-top: 0;
}

#theform {
  padding: 10px;
}

@media screen and (max-width: 767px) {
  .hero .left-column {
    order: 3;
  }
  #theform {
    margin-bottom: 60px;
  }
}

ul.pictograms {
  list-style: none;
  margin: 0;
  padding: 0 15px 0 0;
}

ul.pictograms li {
  display: table;
  font-size: 18px;
}


ul.pictograms li .img {
  display: table-cell;
  width: 100px;
  vertical-align: middle;
}

ul.pictograms li .content {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
}

strong, b {
  font-family: SAPBold, sans-serif;
}

.image-banner {
  background-size: cover;
  background-position: center;
  background-position-y: 20%;
  padding: 180px 0;
  display: table;
  width: 100%;
}

.image-banner h2 {
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.image-banner h2 strong {
  color: #F0AB00;
}

.ty .page {
  height: 100%;
  display: flex;
  flex-direction: column;
}


.ty .main {
  flex: 1 0 auto;
}

.ty header, .ty footer {
  flex-shrink: 0;
}